<div style="display: grid; grid-template-columns: repeat({{getColumns()}}, 1fr); gap: 50px 10px; margin: auto; max-width: {{max_width}}px; padding-bottom: 2em;">
    @for (node of tree; track node) {
        @if (!node.recipe) {
            <div style="max-width: 120px; position: relative; {{node.row == 1 ? 'aspect-ratio: 1;' : 'aspect-ratio: 1/2.1;'}}">
                @if (node.left) {
                    <ng-container *ngTemplateOutlet="left"></ng-container>
                }
            </div>
        }
        @else {
            <div style="display: flex; flex-direction: column; max-width: 120px; {{node.row == 1 ? 'aspect-ratio: 1;' : 'aspect-ratio: 1/2.1;'}} width: 100%;">
                @if (node.ing) {
                    <a routerLink="/{{gameURL}}/items/{{node.ing.id}}/{{language}}"
                        style="display: flex; flex-direction: column; text-align: center; margin-bottom: 10%; position: relative;">
                        <div style="display: flex; aspect-ratio: 1; max-width: 120px; border-radius: 50%; background-image: url({{imgURL}}item-frame.svg); background-size: contain; background-repeat: no-repeat; background-color: #fffae7; filter: drop-shadow(2px 4px 6px black); z-index: 10;">
                            <img src="{{imgURL}}items/{{node.ing.id}}.webp?v=1" alt="{{node.ing.name}}"
                                style="aspect-ratio: 1; width: 90%; margin: auto;">
                        </div>
                        <ng-container *ngTemplateOutlet="up"></ng-container>
                        <ng-container *ngTemplateOutlet="down"></ng-container>
                    </a>
                }
                <a routerLink="/{{gameURL}}/items/{{node.recipe.id}}/{{language}}"
                    style="display: flex; flex-direction: column; text-align: center; position: relative;">
                    <div style="display: flex; aspect-ratio: 1; max-width: 120px; border-radius: 10%; background-image: url({{imgURL}}item-frame.svg); background-size: contain; background-repeat: no-repeat; background-color: #fff5cf; filter: drop-shadow(2px 4px 6px black); z-index: 10;">
                        <img src="{{imgURL}}items/{{node.recipe.id}}.webp?v=1" alt="{{node.recipe.name}}"
                            style="aspect-ratio: 1; width: 90%; max-width: 120px; margin: auto;">
                    </div>
                    @if (node.left) {
                        <ng-container *ngTemplateOutlet="left"></ng-container>
                    }
                    @if (node.down) {
                        <ng-container *ngTemplateOutlet="down"></ng-container>
                    }
                    @if (node.ancient) {
                        <div style="position:absolute; top:-25%; left: -15%; z-index: 20; width: 2em; height: 2em; border-radius: 50%; background-color: gray; display: flex; border: 1px solid black;">
                            <svg style="width: 75%; height: 75%; margin: auto;">
                                <use href="/media/spritesheets/A25RW.svg?v=1#pedestal-2"></use>
                            </svg>
                        </div>
                    }
                    @if (node.char) {
                            <img style="position:absolute; top:-25%; left: -15%; z-index: 20; width: 2em; height: 2em; border-radius: 50%; background-color: white; display: flex; border: 1px solid black;"
                                src="{{imgURL}}{{node.char}}.webp">
                    }
                </a>
            </div>
        }
    }
</div>

<ng-template #left>
    <div style="position: absolute; z-index: 0; height: 1em;
        width: calc(100% + 15px); background-color: black;left: -65%; top: calc(100% + 15px);">
    </div>
</ng-template>
<ng-template #down>
    <div style="position: absolute; z-index: 0; width: 1em;
        height: 2em; background-color: black; left: 42%; top: 100%;">
    </div>
</ng-template>
<ng-template #up>
    <div style="position: absolute; z-index: 0; width: 1em;
        height: 40px; background-color: black; left: 42%; top: -35px;">
    </div>
</ng-template>