@if (!error) {
  <ng-template #template let-item="item">
    <item
      [item]="item"
      url="/{{gameURL}}/items/{{item.slug}}/{{language}}"
      imgURL="{{imgURL}}items/{{item.slug}}.webp?v=1"
      (buttonClicked)="openDialog($event)"
      dimension="192">
      <ng-container icon>
        <b>{{a16service.level_translation[language]}} {{item.level}}</b>
      </ng-container>
      <div style="column-count: 2; padding-top: 0.5rem;">
        <table class="table-item-data"><tbody>
          @for (cat of item.categories; track cat) {
            <tr>
              <td style="text-align: center;">
                <svg class="svg-icon-standard"><use attr.href="/media/spritesheets/A16.svg?v=1#{{cat.icon_name}}"></use></svg>
              </td><td>{{cat.name}}</td>
            </tr>
          }
          </tbody></table>
          <div style="break-inside: avoid-column;">
            @if (item.fire) {
              <svg class="a16-element" style="background-color:#ac504f;"><use href="/media/spritesheets/A16.svg?v=1#element-fire"></use></svg>
            }
            @if (item.water) {
              <svg class="a16-element" style="background-color:#427389;"><use href="/media/spritesheets/A16.svg?v=1#element-water"></use></svg>
            }
            @if (item.wind) {
              <svg class="a16-element" style="background-color:#5a843c;"><use href="/media/spritesheets/A16.svg?v=1#element-wind"></use></svg>
            }
            @if (item.earth) {
              <svg class="a16-element" style="background-color:#8f7939;"><use href="/media/spritesheets/A16.svg?v=1#element-earth"></use></svg>
            }
            {{item.evalue}}
            @if (item.slots > 0) {
              <br />
              @for (item of [].constructor(item.slots); track item) {
                <img src="{{imgURL}}slot.webp" alt="" width="29" height="44" style="margin-top: 0.5rem;">
              }
            }
          </div>
      </div>
    </item>
  </ng-template>
  <filter-list
    [list]="filteredItems"
    [name]="a16service.item_translation[language]"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>{{a16service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <mat-form-field class="grid-4" appearance="outline">
        <mat-label>{{a16service.category_translation[language]}}</mat-label>
        <mat-select matNativeControl formControlName="type">
          <mat-option class="svg-icon-text-vertical-center" value="--">--</mat-option>
          @if (data) {
            @for (cat of data.categories; track cat) {
              <mat-option class="svg-icon-text-vertical-center" value="{{cat.name}}">
                <svg class="svg-icon"><use attr.href="/media/spritesheets/A16.svg?v=1#{{cat.icon_name}}"></use></svg>
                {{cat.name}}
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="grid-5" appearance="outline">
        <mat-label>{{a16service.ingredient_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtering">
      </mat-form-field>
      <filter-buttons svg="A16.svg?v=1" class="grid-4"
          [list]="[
          { ctrl: pageForm.controls.fire,   icon: 'element-fire' },
          { ctrl: pageForm.controls.water,  icon: 'element-water' },
          { ctrl: pageForm.controls.wind ,  icon: 'element-wind' },
          { ctrl: pageForm.controls.earth,  icon: 'element-earth' },
        ]">
      </filter-buttons>
      <mat-form-field class="grid-3" appearance="outline">
        <mat-label>Element Value</mat-label>
        <mat-select matNativeControl formControlName="elementval">
          <mat-option value="0" type="number">0+</mat-option>
          <mat-option value="20" type="number">20+</mat-option>
          <mat-option value="30" type="number">30+</mat-option>
          <mat-option value="40" type="number">40+</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </filter-list>
}