<Error *ngIf="error" [errorCode]="errorCode"></Error>

<ng-container *ngIf="item">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Items', '/'+gameURL+'/items/'+language]]" [current]="item.name"></Breadcrumb>
<div class="mx-auto row">
  <div class="{{colset}} card card-body">
    <h4 class="card-title card-icon-space">{{item.name}}</h4>
    <div class="card-icon-position">
      <b>LV {{item.level}}</b>
    </div>
    <div class="card-item-display">
      <img loading="lazy" src="{{imgURL}}items/{{item.slugname}}.webp" alt="{{item.name}}">
    </div>
      <p>{{item.desc}}</p>
      <p *ngIf="item.book_set"><b>Recipe Book: </b><a href="/{{gameURL}}/recipe-books/{{item.book_set[0].slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{item.book_set[0].name}}</a></p>
      <p *ngIf="item.size"><b>Size: </b>{{item.size}}</p>
      <div class="flex">
        <table class="table-item-data">
          <tr *ngFor="let cat of item.categories">
              <td><i class="atelier atelier-{{cat.icon_name}}"></i></td><td><a href="/{{gameURL}}/categories/{{cat.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{cat.name}}</a></td>
          </tr>
        </table>
        <table class="table-item-data">
          <tr>
            <td colspan=2>
              <i style="color:#ac504f;" *ngIf="item.fire"  class="atelier atelier-np atelier-shallie-fire"></i>
              <i style="color:#427389;" *ngIf="item.water" class="atelier atelier-np atelier-shallie-water"></i>
              <i style="color:#5a843c;" *ngIf="item.wind"  class="atelier atelier-np atelier-shallie-wind"></i>
              <i style="color:#8f7939;" *ngIf="item.earth" class="atelier atelier-np atelier-shallie-earth"></i>
              <span>{{item.evalue}}</span>
            </td>
          </tr>
          <tr *ngIf="item.slots > 0">
            <td colspan=2>
              <img *ngFor="let item of [].constructor(item.slots);" src="{{imgURL}}slot.webp" alt="">
            </td>
          </tr>
        </table>
      </div>
      <b *ngIf="item.disassembly_set">Disassembles to:</b>
      <ul *ngIf="item.disassembly_set">
        <li *ngFor="let it of item.disassembly_set[0].dis"><a href="/{{gameURL}}/items/{{it.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{it.name}}</a></li>
      </ul>
      <b *ngIf="item.disassembled_set">Disassembled from:</b>
      <ul *ngIf="item.disassembled_set">
        <li *ngFor="let it of item.disassembled_set[0].parent"><a href="/{{gameURL}}/items/{{it.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{it.name}}</a></li>
      </ul>
      <b *ngIf="item.locations">Locations:</b>
      <ul *ngIf="item.locations">
        <li *ngFor="let loc of item.locations"><a href="/{{gameURL}}/locations/{{loc.parentslug}}/{{language}}#{{loc.slugname}}" (click)="historyService.hrefClicked($event)">{{loc.name}}</a></li>
      </ul>
      <b *ngIf="item.monsters">Monsters:</b>
      <ul *ngIf="item.monsters">
        <li *ngFor="let mon of item.monsters"><a href="/{{gameURL}}/monsters/{{mon.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{mon.name}}</a></li>
      </ul>
      <b *ngIf="item.properties">Properties:</b>
      <ul *ngIf="item.properties">
        <li *ngFor="let prop of item.properties"><a href="/{{gameURL}}/properties/{{prop.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{prop.name}}</a></li>
      </ul>
      <table *ngIf="item.ingredient_set" class="tbl">
        <tr  class="table-dark-center"><th>Ingredients</th></tr>
        <tr><td>
          <ul>
           <li *ngFor="let ing of item.ingredient_set"><a *ngIf="ing.item" href="/{{gameURL}}/items/{{ing.item.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{ing.item.name}}</a><a *ngIf="ing.category" href="/{{gameURL}}/categories/{{ing.category.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{ing.category.name}}</a></li>
          </ul>
        </td></tr>
      </table>
        <table *ngIf="item.effectlines_set" class="tbl">
          <tr  class="table-dark-center"><th colspan=2>Effects</th></tr>
          <tr *ngFor="let effline of item.effectlines_set">
           <td style="vertical-align:middle">
             <i *ngIf="effline.elem == 'fire'  && !effline.hidden" style="color:#ac504f;"  class="atelier atelier-np atelier-shallie-fire"></i>
             <i *ngIf="effline.elem == 'fire'  &&  effline.hidden" style="color:gray;"     class="atelier atelier-np atelier-shallie-fire"></i>
             <i *ngIf="effline.elem == 'water' && !effline.hidden" style="color:#427389;"  class="atelier atelier-np atelier-shallie-water"></i>
             <i *ngIf="effline.elem == 'water' &&  effline.hidden" style="color:gray;"     class="atelier atelier-np atelier-shallie-water"></i>
             <i *ngIf="effline.elem == 'wind'  && !effline.hidden" style="color:#5a843c;"  class="atelier atelier-np atelier-shallie-wind"></i>
             <i *ngIf="effline.elem == 'wind'  &&  effline.hidden" style="color:gray;"     class="atelier atelier-np atelier-shallie-wind"></i>
             <i *ngIf="effline.elem == 'earth' && !effline.hidden" style="color:#8f7939;"  class="atelier atelier-np atelier-shallie-earth"></i>
             <i *ngIf="effline.elem == 'earth' &&  effline.hidden" style="color:gray;"     class="atelier atelier-np atelier-shallie-earth"></i>
           </td>
           <td>
             <ng-container *ngFor="let eff of effline.effects">
               <a href="/{{gameURL}}/effects/{{eff.effect.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{eff.effect.name}}</a><span> ({{eff.min_elem}}-{{eff.max_elem}})</span>
               <div class="effect-bar">
                 <div *ngIf="effline.elem == 'fire'"  class="elemental-bar" style="background:#ac504f;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                 <div *ngIf="effline.elem == 'water'" class="elemental-bar" style="background:#427389;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                 <div *ngIf="effline.elem == 'wind'"  class="elemental-bar" style="background:#5a843c;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                 <div *ngIf="effline.elem == 'earth'" class="elemental-bar" style="background:#8f7939;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
               </div>
             </ng-container>
           </td>
          </tr>
        </table>
        <table *ngIf="item.equip_set" class="tbl">
          <tr class="table-dark-center"><th colspan=2>Stats</th></tr>
          <tr><td style="padding-top:0.2rem;text-align:right;width:50%;"><b>HP </b></td> <td style="padding-top:0.2rem;padding-left:0.5em;">{{item.equip_set[0].hp}}   </td></tr>
          <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>MP </b></td> <td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip_set[0].mp}}   </td></tr>
          <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>ATK </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip_set[0].atk}}  </td></tr>
          <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>DEF </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip_set[0].defen}}</td></tr>
          <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>SPD </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip_set[0].spd}}  </td></tr>
        </table>
        <table *ngIf="item.characterequip_set" class="tbl">
          <tr class="table-dark-center"><th>Characters</th></tr>
          <tr><td><img *ngFor="let char of item.characterequip_set[0].chars" src="{{imgURL}}equip/equip-{{char.name}}.webp" alt="Can equp: {{char.name}}"></td></tr>
        </table>
  </div>
  <language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
 </div>
</ng-container>