.card-top-right {
  text-align: right;
}

.image-desc-display {
  display: flex;
  margin-bottom: 1rem;
  >p {
    margin: auto;
  }
  >img {
    aspect-ratio: 1;
    max-width: 33%;
    object-fit: contain;
  }
}

.tbl {
    width: 100%;
    td,
    th {
        padding: 0.75rem;
    }
    td {
        border-top: var(--table-border);
    }
}

.trait-display {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  padding-top: 0.4rem;
}

.table-item-data {
    display: block;
    width: fit-content;
    margin-bottom: 0;

    >tr,
    span {
        vertical-align: top;
        padding-left: 0.5rem;
    }
}
