.data-title {
  display: flex;
  .badge {
    margin: 0.5rem 0 auto auto;
  }
  >h3 {
    padding-top: 0;
  }
}

.image-desc-display {
  display: flex;
  margin-bottom: 1rem;
  >p {
    margin: auto;
  }
  >img {
    aspect-ratio: 1;
    max-width: 33%;
    object-fit: contain;
  }
}

.tbl {
    width: 100%;
    td,
    th {
        padding: 0.75rem;
    }
    td {
        border-top: var(--table-border);
    }

}

.table-item-data {
    display: block;
    width: fit-content;
    margin-bottom: 0;

    >tr,
    span {
        vertical-align: top;
        padding-left: 0.5rem;
    }
}
