.navigation {
  position: fixed;
  z-index: 2000;
  border-bottom: transparent !important;
  background: var(--navbar-color) linear-gradient(0deg, rgba(71, 58, 48, 1) 0%, rgba(94, 76, 63, 0.8687675753895308) 100%);
  height: var(--header-height);
  padding: 0;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
}

.navigation-brand {
  display: inline-flex;
  align-items: center;
  width: 155px;
  height: 55px;
  justify-content: center;
  margin-right: 1rem;

  >picture {
    display: inline-flex;
  }
}

.nav-lang {
  display: flex;
  width: 150px;
  height: 45px;
  fill: white;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  line-height: 2rem;
  border: none;
  padding: 0;
  margin-right: 0.2em;
  margin-left: auto;

  span {
    margin: auto;
  }

  svg {
    margin: auto;
    aspect-ratio: 1;
  }
}

.nav-lang:hover {
  background-color: #2f1d12;
  border-radius: 0.25rem;
}


@media screen and (max-width: 720px) {
  .navigation-brand {
    width: 55px !important;
  }
}

.nav-hamburger {
  padding-left: 0.5rem;
  background: none;
  border: none;
  height: var(--header-height);
  width: var(--header-height);
  cursor: pointer;

  >svg {
    fill: white;
    height: 100%;
    width: 100%;
  }
}
