<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<ng-container *ngIf="!error">
 <nav style="margin-top: 1em;" aria-label="breadcrumb">
 <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/" (click)="historyService.hrefClicked($event)">Barrel Wisdom</a></li>
   <li class="breadcrumb-item"><a href="/{{gameURL}}" (click)="historyService.hrefClicked($event)">{{gameTitle}}</a></li>
   <li class="breadcrumb-item active" aria-current="page">Missions</li>
 </ol>
 </nav>
 <h1>Missions</h1>
 <div id="{{mission.slugname}}" *ngFor="let mission of missions" class="row">
  <div class="spacer col-md-7 mx-auto">
    <div class="card card-body allheight">
      <div class="flex">
        <h4 class="card-title card-icon-space">
          {{mission.name}}
        </h4>
        <div>
          <b>{{mission.character}}</b>
          <br *ngIf="mission.chapter" /><b>Ch.{{mission.chapter}}</b>
        </div>
      </div>
      <b *ngIf="mission.reward || mission.points">Reward:</b>
      <ul>
        <li *ngIf="mission.points">{{mission.points}} points</li>
        <li *ngIf="mission.reward">{{mission.reward}}</li>
      </ul>
      <p *ngIf="mission.location">{{mission.location}}</p>
      <b *ngIf="mission.details">Details:</b>
      <div (click)="historyService.hrefClicked($event);" [innerHTML]="mission.details"></div>
    </div>
  </div>
 </div>
</ng-container>