<Error *ngIf="error" [errorCode]="errorCode"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Missions"></Breadcrumb>
 <h1>Missions</h1>
 <div id="{{mission.slugname}}" *ngFor="let mission of missions" class="row">
  <div class="spacer col-md-7 mx-auto">
    <div class="card card-body allheight">
      <div class="flex">
        <h4 class="card-title card-icon-space">
          {{mission.name}}
        </h4>
        <div>
          <b>{{mission.character}}</b>
          <br *ngIf="mission.chapter" /><b>Ch.{{mission.chapter}}</b>
        </div>
      </div>
      <b *ngIf="mission.reward || mission.points">Reward:</b>
      <ul>
        <li *ngIf="mission.points">{{mission.points}} points</li>
        <li *ngIf="mission.reward">{{mission.reward}}</li>
      </ul>
      <p *ngIf="mission.location">{{mission.location}}</p>
      <b *ngIf="mission.details">Details:</b>
      <div (click)="historyService.hrefClicked($event);" [innerHTML]="mission.details"></div>
    </div>
  </div>
 </div>
</ng-container>