<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<header *ngIf="blog">
    <nav style="margin-top: 1em;" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li *ngFor="let crumb of breadcrumbs" class="breadcrumb-item"><a routerLink="/{{crumb[1]}}">{{crumb[0]}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{blog.title}}</li>
        </ol>
      </nav>
    <h1>{{blog.title}}</h1>
    <div class="author">
        <span style="display: inline-block;">
            <i class="far fa-calendar-alt"></i> <time class="updated" dateTime="{{blog.modified}}"> {{blog.modified | date:'longDate' }} </time>
        </span>
        <span style="display: inline-block;">
            <i class="fas fa-user"></i>
            <a *ngIf="blog.authorlock" class="url" (click)="historyService.hrefClicked($event);"  href="/user/{{blog.author[0].username}}"> {{blog.author[0].username}} </a>
            <i *ngIf="!blog.authorlock"> Community Post</i>
        </span>
        <span *ngIf="allowedToEdit" style="display: inline-block;">
            <i class="fas fa-edit"></i>
            <a routerLink="/create" [queryParams]="{ id: blog.id }"> Edit</a>
        </span>
    </div>
</header>
<article *ngIf="blog">
    <div *ngIf="blog.image" class="blog-image">
        <img class="blog-head-img" src="{{blog.image}}">
    </div>
    <div (click)="historyService.hrefClicked($event);" [innerHTML]="body"></div>
    <div *ngIf="blog.tags.length > 0" class="blog-tags clearfix">
        <i style="margin-right: 1em; margin-top: 0.5em; font-size: 1rem;" class="badge bg-secondary"><i class="fas fa-tag"></i></i>
        <a *ngFor="let tag of blog.tags" rel="tag" style="margin-right: 1em; margin-top: 0.5em; font-size: 1rem;" class="badge bg-primary" href="/tag/{{tag.slugname}}">{{tag.name}} </a>
    </div>
<h2>Comments</h2>
<div id="comment"><div id="commento"></div></div>
<div ></div>
</article>