.badge {
    display: inline-flex;
    padding: .2rem .4rem;
    font-weight: 700;
    color: white;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: .375rem;
    text-decoration: none;
}
