.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    background-image: var(--bg-card);
    box-shadow: 1px 2px 4px 1px grey;
    box-sizing: border-box;
    min-width: 0;
  }

.card-title {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  box-sizing: border-box;

  > :first-child {
    color: black;
  }
  h3 {
    padding-top: 0;
  }

  .card-icon-position {
    align-self: start;
  }

  .badge {
    margin: 0 0 auto auto;
  }
}
