.tbl-shrink {
    // I do not want this behavior most of the time if not tbl-min
    @media screen and (max-width: 1000px) {
        font-size: 0.95rem;
    }
}

.tbl-min {
    height: min-content;
    th {
        padding: 0.5rem;
    }

    td {
        padding: 0.3rem;
    }
    @media screen and (max-width: 1000px) {
        font-size: 0.95rem;
    }
}

.borders {
    td {
        border: var(--table-border);
    }

    tr:last-child td {
        border: var(--table-border);
    }
}

.outer-borders {
    border: var(--table-border);
}

.noborder {
    td {
        border: none;
    }
}

.tbl-transparent {
  background: transparent;
  border: none !important;
  td {
    border: none !important;
  }
}
