@if (!error) {
  <ng-template #template let-mon="item">
    <item
      [item]="mon"
      url="/{{gameURL}}/monsters/{{mon.id}}/{{language}}"
      (buttonClicked)="openDialog($event)"
      dimension="256"
      imgURL="{{imgURL}}monsters/{{mon.id}}.webp?v=1">
      <ng-container icon>
        @if (mon.dlc) {
          <span class="badge bg-primary">DLC</span>
        }
      </ng-container>
    </item>
  </ng-template>
  <filter-list [list]="filteredMonsters" [name]="a25rwservice.monster_translation[language]" [(hide)]="hide" [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>{{a25rwservice.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <filter-buttons svg="A25RW.svg?v=1" class="grid-4" [single_only]="true"
          [list]="[
            { ctrl: pageForm.controls.small, icon: 'enemy-small' },
            { ctrl: pageForm.controls.large, icon: 'enemy-large' },
            { ctrl: pageForm.controls.boss,  icon: 'enemy-boss' },
          ]">
      </filter-buttons>
    </form>
  </filter-list>
}