@if (!error) {
  <ng-template #template let-trait="item">
    <a26-trait
      (buttonClicked)="openDialog($event)"
      [inputData]="trait"
      url="/{{gameURL}}/traits/{{trait.id}}/{{language}}"
      [imgURL]="imgURL"
      [gameURL]="gameURL">
    </a26-trait>
  </ng-template>
  <filter-list
    [list]="filteredTraits"
    name="{{a26service.trait_translation[language]}}"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-6" appearance="outline">
        <mat-label>{{a26service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <div class="grid-6 svg-filter">
        <svg (click)="toggle(this.pageForm.controls.atk)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.atk.value  ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#category-bombs"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.heal)" style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.heal.value ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#trait-heal"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.buff)" style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.buff.value ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#trait-buff"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.dbf)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.dbf.value  ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#trait-debuff"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.wep)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.wep.value  ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#category-weapons"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.arm)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.arm.value  ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#category-armor"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.acc)"  style="width:2.3em;height:2.3em;fill:{{pageForm.controls.acc.value  ? 'black' : 'gray'}};"><use href="/media/spritesheets/A26.svg?v=1#category-accessories"></use></svg>
      </div>
    </form>
  </filter-list>
}