@if (data; as property) {
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <div class="flex">
        <h4 class="card-title">{{property.name}}</h4>
        <b>PP {{property.points}}</b>
      </div>
      @if (property.combo1) {
        <p>
          <a routerLink="/{{gameURL}}/properties/{{property.combo1.slug}}/{{language}}">{{property.combo1.name}}</a>
          @if (property.combo2) {
            <span> x </span>
            }@if (property.combo2) {
            <a routerLink="/{{gameURL}}/properties/{{property.combo2.slug}}/{{language}}">{{property.combo2.name}}</a>
          }
          @if (property.combo3) {
            <span> x </span>
            }@if (property.combo3) {
            <a routerLink="/{{gameURL}}/properties/{{property.combo3.slug}}/{{language}}">{{property.combo3.name}}</a>
          }
        </p>
      }
      <p>{{property.desc}}</p>
      @if (property.item_set) {
        <b>Items:</b>
        <ul>
          @for (item of property.item_set; track item) {
            <li><a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a></li>
          }
        </ul>
      }
      @if (property.grade != -1) {
        <p>
          <tooltip tip="A measure of rarity. This number determines where properties appear.">Grade: </tooltip>
        {{property.grade}}
        </p>
      }
    <div class="flex bottom">
      <i class="trait-color{{property.bomb}}      atelier atelier-np atelier-escha-bomb"></i>
      <i class="trait-color{{property.heal}}      atelier atelier-np atelier-escha-heal"></i>
      <i class="trait-color{{property.weapon}}    atelier atelier-np atelier-escha-weapon"></i>
      <i class="trait-color{{property.armor}}     atelier atelier-np atelier-escha-armor"></i>
      <i class="trait-color{{property.accessory}} atelier atelier-np atelier-escha-accessory"></i>
    </div>
  </div>
  @if (showNav) {
    <div class="col-md-3" ></div>
  }
</div>
}