<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="filteredProperties">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Properties"></Breadcrumb>
<h1>Properties</h1>
<div class="col-md-10 mx-auto">
  <form [formGroup]="pageForm" class="form-horizontal">
    <div class="row">
      <mat-form-field class="col-md-5" appearance="outline">
        <mat-label>Filter...</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <mat-form-field class="col-md-4" appearance="outline">
        <mat-label>Transfers to...</mat-label>
        <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
          <mat-option value="1" selected> <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-synthesis"></mat-icon> Any</mat-option>
          <mat-option value="2"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-bomb"  ></mat-icon> Attack</mat-option>
          <mat-option value="3"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-heal"    ></mat-icon> Heal</mat-option>
          <mat-option value="5"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-weapon"    ></mat-icon> Weapon</mat-option>
          <mat-option value="6"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-armor"  ></mat-icon> Armor</mat-option>
          <mat-option value="7"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-accessory"   ></mat-icon> Accessory</mat-option>
          <mat-select-trigger *ngIf="f.transfers.value == 1">
             Any
          </mat-select-trigger>
          <mat-select-trigger *ngIf="f.transfers.value == 2">
             Bomb
          </mat-select-trigger>
          <mat-select-trigger *ngIf="f.transfers.value == 3">
             Heal
          </mat-select-trigger>
          <mat-select-trigger *ngIf="f.transfers.value == 5">
             Weapon
          </mat-select-trigger>
          <mat-select-trigger *ngIf="f.transfers.value == 6">
             Armor
          </mat-select-trigger>
          <mat-select-trigger *ngIf="f.transfers.value == 7">
             Accessory
          </mat-select-trigger>
        </mat-select>
      </mat-form-field>
      <div class="col-md-3" ></div>
    </div>
  </form>
</div>
<div class="item-grid">
<div *ngFor="let prop of filteredProperties | async; trackBy:identify2" class="card card-body">
  <div style="height:100%;">
    <div class="flex">
      <h4 class="card-title"><a (click)="openModal(propertyModal, prop.slugname, $event);" href="/{{gameURL}}/properties/{{prop.slugname}}/{{language}}">{{prop.name}}</a></h4>
      <b>PP {{prop.points}}</b>
    </div>
    <p *ngIf="prop.combo1">
      <a routerLink="/{{gameURL}}/properties/{{prop.combo1.slugname}}/{{language}}">{{prop.combo1.name}}</a>
      <span *ngIf="prop.combo2"> x </span> <a *ngIf="prop.combo2" routerLink="/{{gameURL}}/properties/{{prop.combo2.slugname}}/{{language}}">{{prop.combo2.name}}</a>
      <span *ngIf="prop.combo3"> x </span> <a *ngIf="prop.combo3" routerLink="/{{gameURL}}/properties/{{prop.combo3.slugname}}/{{language}}">{{prop.combo3.name}}</a>
    </p>
    <p>{{prop.desc}}</p>
    <ng-container *ngIf="prop.item_set">
      <b>Items:</b>
      <ul>
        <li *ngIf="prop.item_set.length >= 1"><a routerLink="/{{gameURL}}/items/{{prop.item_set[0].slugname}}/{{language}}">{{prop.item_set[0].name}}</a></li>
        <li *ngIf="prop.item_set.length >= 2"><a routerLink="/{{gameURL}}/items/{{prop.item_set[1].slugname}}/{{language}}">{{prop.item_set[1].name}}</a></li>
        <li *ngIf="prop.item_set.length >= 3"><a routerLink="/{{gameURL}}/items/{{prop.item_set[2].slugname}}/{{language}}">{{prop.item_set[2].name}}</a></li>
        <li *ngIf="prop.item_set.length >= 4"><a (click)="openModal(propertyModal, prop.slugname, $event);" href="/{{gameURL}}/properties/{{prop.slugname}}/{{language}}">See more...</a></li>
      </ul>
    </ng-container>
    <p *ngIf="prop.grade != -1"><a href="javascript:void(0)"
      tooltip="A measure of rarity. This number determines where properties appear." container="true">Grade:</a>
    {{prop.grade}}
    </p>
  </div>
  <div class="flex bottom">
    <i class="trait-color{{prop.bomb}}      atelier atelier-np atelier-escha-bomb"></i>
    <i class="trait-color{{prop.heal}}      atelier atelier-np atelier-escha-heal"></i>
    <i class="trait-color{{prop.weapon}}    atelier atelier-np atelier-escha-weapon"></i>
    <i class="trait-color{{prop.armor}}     atelier atelier-np atelier-escha-armor"></i>
    <i class="trait-color{{prop.accessory}} atelier atelier-np atelier-escha-accessory"></i>
  </div>
<ng-template #propertyModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
    <a16-property inputSlug="{{selected}}" [showNav]="false"></a16-property>
  </div>
</ng-template>
</div>
</div>
</ng-container>