@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (data; as book) {
  @if (showNav) {
    <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Recipe Books', '/'+gameURL+'/recipe-books/'+language]]" [current]="book.name"></Breadcrumb>
  }
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <h4 class="card-title">{{book.name}}</h4>
      <img class="image-display" loading="lazy" src="{{imgURL}}items/{{book.slugname}}.webp" alt="{{book.name}}">
      @if (book.desc) {
        <p>{{book.desc}}</p>
      }
      <p><b>Acquisition: </b>{{book.note}}</p>
      <b>Items:</b>
      <ul>
        @for (item of book.items; track item) {
          <li><a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a></li>
        }
      </ul>
    </div>
    @if (showNav) {
      <div class="col-md-3" ></div>
    }
  </div>
}