@if (!error) {
  <h1>Recipe Books</h1>
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (bk of filteredBooks | async; track identify2($index, bk)) {
      <div class="card card-body">
        <h4 class="card-title">
          <a (click)="openDialog(bk.slug, $event);" href="/{{gameURL}}/recipe-books/{{bk.slug}}/{{language}}">{{bk.name}}</a>
        </h4>
        <a class="card-item-display" (click)="openDialog(bk.slug, $event);" href="/{{gameURL}}/recipe-books/{{bk.slug}}/{{language}}">
          <img loading="lazy" src="{{imgURL}}items/{{bk.slug}}.webp" alt="{{bk.name}}">
        </a>
        <p><b>Acquisition: </b>{{bk.note}}</p>
        <b>Items:</b>
        <ul>
          @for (item of bk.items; track item) {
            <li><a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a></li>
          }
        </ul>
      </div>
    }
  </div>
}