.yumia-element-icon {
  width: 3rem;
  height: 3rem;
  font-size: 3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.a26-icon {
  height: 1.7em;
  width: 1.7em;
  fill: black;
  margin-right: 0.3em;
}

.a26-monster-icon {
  height: 3em;
  width: 3em;
  fill: black;
}

.a26-icon-text-vertical-center {
  display:inline-flex;
  line-height:1.7em;
  align-content:center;
}

.a26-monster-elements {
  height: 3em;
  width: 3em;
  fill: black;
  border-radius: 50%;
  border: #00000044 1px solid;
  padding: 0.2em;
}

.a26-elements {
  height: 1.5em;
  width: 1.5em;
  fill: black;
  border-radius: 50%;
  border: #00000044 1px solid;
  padding: 0.1em;
  margin-right: 0.1em;
}

.a26-elements2 {
  >svg {
    fill: black !important;
    border-radius: 50%;
    border: #00000044 1px solid;
    padding: 0.1em;
    background-color: gray;
  }
}

.a26-elements2.active {
  >svg {
    background-color: var(--active-button-bg);
  }
}
