<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Location: '+location.name"></Breadcrumb>
<h1>{{location.name}}</h1>
    <div style="justify-content: space-between; margin-left: 0.5em; margin-right: 0.5em;margin-bottom:0.5em;" class="row">
    <div class="table-of-contents">
        <b>Table of Contents</b>
        <ol>
            <li *ngFor="let area of location.fields">
                <a href="/{{gameURL}}/locations/{{location.slugname}}/{{language}}#{{area.slugname}}" (click)="$event.preventDefault();scroll(area.slugname)">{{area.name}}</a>
            </li>
        </ol>
    </div>
    <div class="col-md-3" ></div>
    </div>

<ng-container *ngFor="let area of location.fields">
  <h2 id="{{area.slugname}}">{{area.name}}</h2>
  <p *ngIf="area.unlock"><b>Unlock:</b> {{area.unlock}}</p>
  <p>{{area.note}}</p>
  <table class="tbl border table-shrink">
    <tr class="table-dark-center">
      <th *ngIf="area.ingredients" >Items</th>
      <th *ngIf="area.monsters">Monsters</th>
    </tr>
    <tr>
      <td *ngIf="area.ingredients">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.ingredients"><a routerLink="/{{gameURL}}/items/{{it.slugname}}/{{language}}">{{it.name}}</a></li>
        </ul>
      </td>
      <td *ngIf="area.monsters">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.monsters"><a routerLink="/{{gameURL}}/monsters/{{it.slugname}}/{{language}}">{{it.name}}</a></li>
        </ul>
      </td>
    </tr>
  </table>
</ng-container>
</ng-container>