/src/scss/@fortawesome

/node_modules
/package-lock.json
/dist
/dist-server
/tmp
/out-tsc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/npm-debug.log
/yarn-error.log
/testem.log
/typings
/e2e/*.js
/e2e/*.map
/dist.tar
/.angular

# Only exists if Bazel was run
/bazel-out

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings