@if (!error) {
  <ng-template #template let-mon="item">
    <item
      [item]="mon"
      url="/{{gameURL}}/monsters/{{mon.id}}/{{language}}"
      (buttonClicked)="openDialog($event)"
      dimension="256"
      imgURL="media/games/yumia/monsters/{{mon.id}}.webp?v=1">
      <ng-container icon>
        <svg class="a26-monster-icon"><use attr.href="{{imgURL}}spritesheet.svg?v=4.2#race-{{mon.race.id}}"></use></svg>
      </ng-container>
    </item>
  </ng-template>
  <filter-list [list]="filteredMonsters" [name]="a26service.monster_translation[language]" [(hide)]="hide" [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>{{a26service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      @if (data) {
        <mat-form-field class="grid-4" appearance="outline">
          <mat-label>{{a26service.race_translation[language]}}</mat-label>
          <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="Any" selected><div class="a26-icon-text-vertical-center"><div class="a26-icon"></div>--</div></mat-option>
            @for (race of data.races; track race) {
              <mat-option value="{{race.name}}">
                <div class="a26-icon-text-vertical-center">
                  <svg class="a26-icon"><use attr.href="{{imgURL}}spritesheet.svg?v=4.2#race-{{race.id}}"></use></svg>
                  {{race.name}}
                </div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </form>
  </filter-list>
}