@if (!error) {
  <ng-template #template let-mon="item">
    <item
      [item]="mon"
      url="/{{gameURL}}/monsters/{{mon.id}}/{{language}}"
      (buttonClicked)="openDialog($event)"
      dimension="288"
      imgURL="media/games/firis/monsters/blue-puni.webp?v=1">
      <ng-container icon>
        <svg class="a26-monster-icon"><use attr.href="{{imgURL}}spritesheet.svg?v=2#race-{{mon.race.id}}"></use></svg>
      </ng-container>
    </item>
  </ng-template>
  <filter-list [list]="filteredMonsters" [name]="a26service.monsterString[language]" [(hide)]="hide" [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>Filter...</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      @if (data) {
        <mat-form-field class="grid-4" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="Any" selected>Any</mat-option>
            @for (race of data.races; track race) {
              <mat-option value="{{race.name}}">
                {{race.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </form>
  </filter-list>
}