@if (data; as monster) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title  card-icon-space">{{monster.name}}</h4>
    <div class="card-icon-position">
      <svg class="a26-monster-icon"><use attr.href="/media/spritesheets/A26.svg?v=2#race-{{monster.race.id}}"></use></svg>
    </div>
    <img class="card-item-display" src="{{imgURL}}monsters/{{monster.id}}.webp?v=1"
      alt="{{monster.name}}" style="aspect-ratio: 1; width: 256px;">
    <p style="margin-top:1em;">{{monster.desc}}</p>
    <div class="grid">
      <div class="grid-6">
        @if (monster.drop || monster.rare || monster.trait) {
          <b>Drops:</b>
          <ul>
            @if (monster.drop) {
              <li><a routerLink="/{{gameURL}}/items/{{monster.drop.id}}/{{language}}">{{monster.drop.name}}</a></li>
            }
            @if (monster.rare) {
              <li><a routerLink="/{{gameURL}}/items/{{monster.rare.id}}/{{language}}">{{monster.rare.name}}</a> (Rare)</li>
            }
            @if (monster.trait) {
              <li><a routerLink="/{{gameURL}}/traits/{{monster.trait.id}}/{{language}}">{{monster.trait.name}}</a> ({{a26service.trait_translation[language]}})</li>
            }
          </ul>
        }
      </div>
      <div class="grid-6">
        <table class="table-item-data" ><tbody>
          <tr>
            <td style="padding:0;">
              <b>{{a26service.stat_translation['hp'][language]}}</b>
            </td>
            <td style="padding:0;padding-left:0.5em;">
              @for (i of [].constructor(monster.hp); track i) {
                <i   class="fas fa-star" style="color:gold;-webkit-text-stroke: 0.1rem black;padding-right:0.1rem"></i>
              }
              @for (i of [].constructor(5-monster.hp); track i) {
                <i class="fas fa-star" style="padding-right:0.1rem"             ></i>
              }
            </td>
          </tr>
          <tr>
            <td style="padding:0;">
              <b>{{a26service.stat_translation['atk'][language]}}</b>
            </td>
            <td style="padding:0;padding-left:0.5em;">
              @for (i of [].constructor(monster.atk); track i) {
                <i   class="fas fa-star" style="color:gold;-webkit-text-stroke: 0.1rem black;padding-right:0.1rem"></i>
              }
              @for (i of [].constructor(5-monster.atk); track i) {
                <i class="fas fa-star" style="padding-right:0.1rem"             ></i>
              }
            </td>
          </tr>
          <tr>
            <td style="padding:0;">
              <b>{{a26service.stat_translation['dfn'][language]}}</b>
            </td>
            <td style="padding:0;padding-left:0.5em;">
              @for (i of [].constructor(monster.dfn); track i) {
                <i   class="fas fa-star" style="color:gold;-webkit-text-stroke: 0.1rem black;padding-right:0.1rem"></i>
              }
              @for (i of [].constructor(5-monster.dfn); track i) {
                <i class="fas fa-star" style="padding-right:0.1rem"             ></i>
              }
            </td>
          </tr>
          <tr>
            <td style="padding:0;">
              <b>{{a26service.stat_translation['spd'][language]}}</b>
            </td>
            <td style="padding:0;padding-left:0.5em;">
              @for (i of [].constructor(monster.spd); track i) {
                <i   class="fas fa-star" style="color:gold;-webkit-text-stroke: 0.1rem black;padding-right:0.1rem"></i>
              }
              @for (i of [].constructor(5-monster.spd); track i) {
                <i class="fas fa-star" style="padding-right:0.1rem"             ></i>
              }
            </td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <table class="tbl noborder" ><tbody>
      <tr>
        @if (monster.break_phys) {
          <td style="text-align: center;padding-bottom:0;"><svg style="background-color:#c88401;" class="a26-monster-elements"><use href="/media/spritesheets/A26.svg?v=2#physical"></use></svg></td>
        }
        @else {
          <td style="text-align: center;padding-bottom:0;"><svg style="background-color:#5f49ec;" class="a26-monster-elements"><use href="/media/spritesheets/A26.svg?v=2#magical"></use></svg></td>
        }
        <td style="text-align: center;padding-bottom:0;"><svg style="background-color:{{monster.fire ? a26service.elements['fire'] : a26service.elements['none']}};" class="a26-monster-elements"><use href="/media/spritesheets/A26.svg?v=2#fire"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="background-color:{{monster.ice  ? a26service.elements['ice']  : a26service.elements['none']}};" class="a26-monster-elements"><use href="/media/spritesheets/A26.svg?v=2#ice" ></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="background-color:{{monster.bolt ? a26service.elements['bolt'] : a26service.elements['none']}};" class="a26-monster-elements"><use href="/media/spritesheets/A26.svg?v=2#bolt"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="background-color:{{monster.air  ? a26service.elements['air']  : a26service.elements['none']}};" class="a26-monster-elements"><use href="/media/spritesheets/A26.svg?v=2#air" ></use></svg></td>
      </tr>
      <tr>
        <td style="text-align: center;padding:0;">{{monster.break_hits}}</td>
        <td style="text-align: center;padding:0;" innerHTML="{{chart[monster.fire]}}"></td>
        <td style="text-align: center;padding:0;" innerHTML="{{chart[monster.ice]}} "></td>
        <td style="text-align: center;padding:0;" innerHTML="{{chart[monster.bolt]}}"></td>
        <td style="text-align: center;padding:0;" innerHTML="{{chart[monster.air]}}"></td>
      </tr>
    </tbody></table>
</div>
@if (monster.location) {
  @defer {
    <a26-map [data]="monster.location"></a26-map>
  }

}
}