<h1>{{name}}</h1>
<div class="grid">
  <div class="grid-6">
    <table style="border:1px solid #c8ced3;" class="tbl"><tbody>
      <tr class="table-dark-center">
        <th style="border:none;" colspan=2>Items in Category</th>
      </tr>
      <ng-content select="[inCategory]"></ng-content>
    </tbody></table>
  </div>
  @if (using) {
    <div class="grid-6">
      <table style="border:1px solid #c8ced3;" class="tbl"><tbody>
        <tr class="table-dark-center">
          <th style="border:none;" [attr.colspan]="colspan">Items Using Category</th>
        </tr>
        <ng-content select="[usingCategory]"></ng-content>
      </tbody></table>
    </div>
  }
</div>