.resleri-item-frame {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    filter: drop-shadow(10px 10px 15px rgba(90, 90, 90, 0.7));
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .resleri-item-frame-sm {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
  }