@if (error) {
  <Error [errorCode]="error"></Error>
}
@if (!error) {
  @if (showNav) {
    <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Home"></Breadcrumb>
  }
  <h1>Home</h1>
}
@if (data; as update) {
  <p><time dateTime="{{update.time}}">Last Updated: {{update.time | date:'mediumDate' }} </time></p>
  @if (update.characters) {
    <h2>Characters</h2>
    <div style="display:grid;grid-template-columns:repeat(4,23%);grid-row-gap:1rem;grid-column-gap:2%;">
      @for (chara of update.characters; track chara) {
        <a
          style="aspect-ratio:1;position:relative;"
          routerLink="/{{gameURL}}/characters/{{chara.slug}}/{{language}}">
          <img src="{{imgURL}}characters/face/{{chara.slug}}.webp"
            alt="{{chara.name + ' ' + chara.title}}"
            style="width:256px;" />
        </a>
      }
    </div>
  }
  @if (update.memoria) {
    <h2>Memoria</h2>
    <div style="display:grid;grid-template-columns:repeat(4,23%);grid-row-gap:1rem;grid-column-gap:2%;">
      @for (memoria of update.memoria; track memoria) {
        <a
          style="aspect-ratio:256/410;position:relative;"
          routerLink="/{{gameURL}}/memoria/{{memoria.slug}}/{{language}}">
          <img loading="lazy"
            src="{{imgURL}}memoria/{{memoria.slug}}.webp"
            alt="{{memoria.name}}"
            style="max-height:100%;width:256px;"/>
        </a>
      }
    </div>
  }
  @if (update.items) {
    <h2>Items</h2>
    <table class="tbl"><tbody>
      <tr class="table-dark-center"><th>Materials</th></tr>
      <tr>
        <td>
          <ul style="columns:2;">
            @for (item of update.items; track item) {
              @if (item.kind == 'material') {
                <li>
                  <a routerLink="/{{gameURL}}/items/materials/{{item.slug}}/{{language}}">
                    {{item.name}}
                  </a>
                </li>
              }
            }
          </ul>
        </td>
      </tr>
      <tr class="table-dark-center"><th>Synthesis</th></tr>
      <tr>
        <td>
          <ul style="columns:2;">
            @for (item of update.items; track item) {
              @if (item.kind != 'material') {
                <li>
                  <a routerLink="/{{gameURL}}/items/synthesis/{{item.slug}}/{{language}}">
                    {{item.name}}
                  </a>
                </li>
              }
            }
          </ul>
        </td>
      </tr>
    </tbody></table>
  }
}