/Database/secrets.json

/Database/include
/Database/lib
/Database/bin
/Database/Database/__pycache__

/website/node_modules
/website/package-lock.json

/website/dist
/website/dist-server
/website/tmp
/website/out-tsc

/website/.sass-cache
/website/connect.lock
/website/coverage
/website/libpeerconnection.log
/website/npm-debug.log
/website/yarn-error.log
/website/testem.log
/website/typings

/website/e2e/*.js
/website/e2e/*.map

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace