.DS_Store
Thumbs.db
.vscode
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
*.log
*.bak
.env
.dccache
.sonar_lock
.scannerwork/*
sonar-project.properties
backend/scripts/data.txt
frontend/src/ads.txt
.angular/

.astro/
.wrangler
dist/
node_modules/

backend
frontend
