/Database/secrets.json

/Database/include
/Database/lib
/Database/bin
/Database/Database/__pycache__

/Angular/node_modules
/Angular/package-lock.json

/Angular/dist
/Angular/dist-server
/Angular/tmp
/Angular/out-tsc

/Angular/.sass-cache
/Angular/connect.lock
/Angular/coverage
/Angular/libpeerconnection.log
/Angular/npm-debug.log
/Angular/yarn-error.log
/Angular/testem.log
/Angular/typings

/Angular/e2e/*.js
/Angular/e2e/*.map

.DS_Store
Thumbs.db

.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace