@if (!error) {
  <ng-template #template let-trait="item">
    <a22-trait
      (buttonClicked)="openDialog($event)"
      [inputData]="trait"
      url="/{{gameURL}}/traits/{{trait.slug}}/{{language}}"
      [gameURL]="gameURL">
    </a22-trait>
  </ng-template>
  <filter-list
    [list]="filteredTraits"
    name="{{a22service.trait_translation[language]}}"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>{{a22service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">

      </mat-form-field>
      <mat-form-field class="grid-4" appearance="outline">
        <mat-label>Transfers to...</mat-label>
        <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
          <mat-option [value]="1" class="svg-icon-text-vertical-center" selected> <svg class="svg-icon"><use href="/media/spritesheets/A22.svg?v=1#type-synthesis"></use></svg>Synthesis</mat-option>
          @for (t of [
              ['2',  'type-attack', 'Attack'],
              ['3',  'type-heal', 'Heal'],
              ['4',  'type-debuff', 'Debuff'],
              ['5',  'type-buff', 'Buff'],
              ['6',  'type-weapon', 'Weapon'],
              ['7',  'type-armor', 'Armor'],
              ['8',  'type-accessory', 'Accessory'],
            ]; track $index) {
              <mat-option [value]="t[0]" class="svg-icon-text-vertical-center">
                <svg class="svg-icon-standard right-spacer">
                  <use attr.href="/media/spritesheets/A22.svg?v=1#{{t[1]}}"></use>
                </svg>
                {{t[2]}}
              </mat-option>
            }
        </mat-select>
      </mat-form-field>
    </form>
  </filter-list>
}