<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="!error">
<nav style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/" (click)="historyService.hrefClicked($event)">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}" (click)="historyService.hrefClicked($event)">{{gameTitle}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Traits</li>
  </ol>
</nav>
<h1>Traits</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
          <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Transfers to...</mat-label>
          <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="1" selected> <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-synthesis"></mat-icon> Any</mat-option>
            <mat-option value="2"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-attack"  ></mat-icon> Attack</mat-option>
            <mat-option value="3"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-heal"    ></mat-icon> Heal</mat-option>
            <mat-option value="4"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-debuff"  ></mat-icon> Debuff</mat-option>
            <mat-option value="5"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-buff"    ></mat-icon> Buff</mat-option>
            <mat-option value="6"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-weapon"  ></mat-icon> Weapon</mat-option>
            <mat-option value="7"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-armor"   ></mat-icon> Armor</mat-option>
            <mat-option value="8"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-accessory"></mat-icon> Accessory</mat-option>
            <mat-select-trigger *ngIf="f.transfers.value == 1">
               Any
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 2">
               Attack
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 3">
               Heal
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 4">
               Debuff
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 5">
               Buff
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 6">
               Weapon
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 7">
               Armor
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 8">
              Accessory
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
    </form>
  </div>
<ng-container *ngIf="filteredTraits">
<div *ngFor="let trait of filteredTraits | async| pair " class="row">
  <div *ngFor="let trt of trait" class="spacer col-md-5 mx-auto">
    <div class="card allheight">
      <div class="card-body griddisplay">
        <div class="flex">
          <h4 class="card-title"><a style="color: black;" (click)="openModal(traitModal, trt.slugname); $event.preventDefault();" href="/{{gameURL}}/traits/{{trt.slugname}}/{{language}}">{{trt.name}}</a></h4>
          <div *ngIf="trt.item_set.length == 0"><a href="javascript:void(0)"
              tooltip="A measure of rarity. This number determines where traits appear." container="true">Grade:</a>
            {{trt.grade}}
            <br /><span class="badge bg-secondary" *ngIf="trt.grade > 50">DLC</span>
          </div>
          <div *ngIf="trt.item_set.length > 0">
            <i class="atelier atelier-sm atelier-ryza2-material"></i><a href="/{{gameURL}}/items/{{trt.item_set[0].slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{trt.item_set[0].name}}</a>
          </div>
        </div>
        <div class="card-text">
          <p>{{trt.description}}</p>
          <p *ngIf="trt.note"><b>Note:</b> {{trt.note}}</p>
        </div>
        <div class="flex card-text bottom">
          <div><i *ngIf="trt.trans_atk"  class="atelier atelier-ryza2-type-attack"></i>   <i style="color: lightgray;" *ngIf="!trt.trans_atk"  class="atelier atelier-ryza2-type-attack"></i></div>
          <div><i *ngIf="trt.trans_heal" class="atelier atelier-ryza2-type-heal"></i>     <i style="color: lightgray;" *ngIf="!trt.trans_heal" class="atelier atelier-ryza2-type-heal"></i>     </div>
          <div><i *ngIf="trt.trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   <i style="color: lightgray;" *ngIf="!trt.trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   </div>
          <div><i *ngIf="trt.trans_buff" class="atelier atelier-ryza2-type-buff"></i>     <i style="color: lightgray;" *ngIf="!trt.trans_buff" class="atelier atelier-ryza2-type-buff"></i>     </div>
          <div><i *ngIf="trt.trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   <i style="color: lightgray;" *ngIf="!trt.trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   </div>
          <div><i *ngIf="trt.trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    <i style="color: lightgray;" *ngIf="!trt.trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    </div>
          <div><i *ngIf="trt.trans_acc"  class="atelier atelier-ryza2-type-accessory"></i><i style="color: lightgray;" *ngIf="!trt.trans_acc"  class="atelier atelier-ryza2-type-accessory"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #traitModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
    <a22-trait slugname="{{trait}}" [showNav]="false"></a22-trait>
  </div>
</ng-template>
</ng-container>
</div>