
@if (data; as trait) {
  <div [class]="url || inputSlug ? 'card card-body' : 'card card-body card-small'"
    [style]="url ? 'height: 100%;' : null">
    <h4 class="card-title" style="margin-right:6rem;">
      @if (url) {
        <a (click)="$event.preventDefault(); buttonClicked.emit(trait.slug);"
          href="{{url}}">{{trait.name}}</a>
      }
      @else {
        {{trait.name}}
      }
    </h4>
    <div class="card-icon-position">
      <tooltip tip="Influences rank. A measure of rarity. This number determines where traits appear.">Grade: </tooltip>
      {{trait.grade}}
      @if (trait.grade > 50) {
        <br /><span style="float:right;margin-top: 0.4rem;" class="badge bg-secondary">DLC</span>
      }
    </div>
    @if (trait.item_set) {
      <p>
        <i class="atelier atelier-sm atelier-ryza2-material"></i><a routerLink="/{{gameURL}}/items/{{trait.item_set[0].slug}}/{{language}}">{{trait.item_set[0].name}}</a>
      </p>
    }
    <p [style]="trait.grade > 50 ? 'margin-right:4rem;' : null">{{trait.desc}}</p>
    @if (trait.note) {
      <p><b>Note:</b> {{trait.note}}</p>
    }
    <div class="flex bottom" style="height: 100%;">
      <i class="trait-color{{trait.trans_atk}}  atelier atelier-np atelier-ryza2-type-attack"></i>
      <i class="trait-color{{trait.trans_heal}} atelier atelier-np atelier-ryza2-type-heal"></i>
      <i class="trait-color{{trait.trans_dbf}}  atelier atelier-np atelier-ryza2-type-debuff"></i>
      <i class="trait-color{{trait.trans_buff}} atelier atelier-np atelier-ryza2-type-buff"></i>
      <i class="trait-color{{trait.trans_wpn}}  atelier atelier-np atelier-ryza2-type-weapon"></i>
      <i class="trait-color{{trait.trans_arm}}  atelier atelier-np atelier-ryza2-type-armor"></i>
      <i class="trait-color{{trait.trans_acc}}  atelier atelier-np atelier-ryza2-type-accessory"></i>
    </div>
  </div>
}