<h1>Traits</h1>
<div class ="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-5" appearance="fill">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
          <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="fill">
          <mat-label>Transfers to...</mat-label>
          <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="1" selected> <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-synthesis"></mat-icon> Any</mat-option>
            <mat-option value="2"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-attack"  ></mat-icon> Attack</mat-option>
            <mat-option value="3"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-heal"    ></mat-icon> Heal</mat-option>
            <mat-option value="4"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-debuff"  ></mat-icon> Debuff</mat-option>
            <mat-option value="5"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-buff"    ></mat-icon> Buff</mat-option>
            <mat-option value="6"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-weapon"  ></mat-icon> Weapon</mat-option>
            <mat-option value="7"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-armor"   ></mat-icon> Armor</mat-option>
            <mat-option value="8"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-accessory"></mat-icon> Accessory</mat-option>

            <mat-select-trigger *ngIf="f.transfers.value == 1">
               Any
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 2">
               Attack
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 3">
               Heal
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 4">
               Debuff
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 5">
               Buff
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 6">
               Weapon
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 7">
               Armor
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 8">
              Accessory
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>
        <language-settings class="col-md-3" section="ryza2"></language-settings>
      </div>
    </form>
  </div>
<div class="test" *ngFor="let trait of filteredTraits | async| pair " class="row">
  <div class="spacer col-md-5 mx-auto">
    <div class="card allheight">
      <div class="card-body griddisplay">
        <div class="flex">
          <h4 class="card-title">{{trait[0].name}}</h4>
          <div *ngIf="trait[0].item_set.length == 0"><a href="javascript:void(0)"
              tooltip="A measure of rarity. This number determines where traits appear." container="true">Grade:</a>
            {{trait[0].grade}}
            <br /><span class="badge bg-secondary" *ngIf="trait[0].grade > 50">DLC</span>
          </div>
          <div *ngIf="trait[0].item_set.length > 0">
            <i class="atelier atelier-sm atelier-ryza2-material"></i><a href="/ryza2/item/{{trait[0].item_set[0].slugname}}">{{trait[0].item_set[0].name}}</a>
          </div>
        </div>
        <div class="card-text">
          <p>{{trait[0].description}}</p>
          <p *ngIf="trait[0].note"><b>Note:</b> {{trait[0].note}}</p>
        </div>
        <div class="flex card-text bottom">
          <div><i *ngIf="trait[0].trans_atk"  class="atelier atelier-ryza2-type-attack"></i>   <i style="color: lightgray;" *ngIf="!trait[0].trans_atk"  class="atelier atelier-ryza2-type-attack"></i></div>
          <div><i *ngIf="trait[0].trans_heal" class="atelier atelier-ryza2-type-heal"></i>     <i style="color: lightgray;" *ngIf="!trait[0].trans_heal" class="atelier atelier-ryza2-type-heal"></i>     </div>
          <div><i *ngIf="trait[0].trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   <i style="color: lightgray;" *ngIf="!trait[0].trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   </div>
          <div><i *ngIf="trait[0].trans_buff" class="atelier atelier-ryza2-type-buff"></i>     <i style="color: lightgray;" *ngIf="!trait[0].trans_buff" class="atelier atelier-ryza2-type-buff"></i>     </div>
          <div><i *ngIf="trait[0].trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   <i style="color: lightgray;" *ngIf="!trait[0].trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   </div>
          <div><i *ngIf="trait[0].trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    <i style="color: lightgray;" *ngIf="!trait[0].trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    </div>
          <div><i *ngIf="trait[0].trans_acc"  class="atelier atelier-ryza2-type-accessory"></i><i style="color: lightgray;" *ngIf="!trait[0].trans_acc"  class="atelier atelier-ryza2-type-accessory"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="test" *ngIf="trait[1]" class="spacer col-md-5 mx-auto">
    <div class="card allheight">
      <div class="card-body griddisplay">
        <div class="flex">
          <h4 class="card-title">{{trait[1].name}}</h4>
          <div *ngIf="trait[1].item_set.length == 0"><a href="javascript:void(0)"
              tooltip="A measure of rarity. This number determines where traits appear." container="true">Grade:</a>
            {{trait[1].grade}}
            <br /><span class="badge bg-secondary" *ngIf="trait[1].grade > 50">DLC</span>
          </div>
          <div *ngIf="trait[1].item_set.length > 0">
            <i class="atelier atelier-sm atelier-ryza2-material"></i><a href="/ryza2/item/{{trait[1].item_set[0].slugname}}">{{trait[1].item_set[0].name}}</a>
          </div>
        </div>
        <div class="card-text">
          <p>{{trait[1].description}}</p>
          <p *ngIf="trait[1].note"><b>Note:</b> {{trait[1].note}}</p>
          </div>
        <div class="flex card-text bottom">
          <div><i *ngIf="trait[1].trans_atk"  class="atelier atelier-ryza2-type-attack"></i>   <i style="color: lightgray;" *ngIf="!trait[1].trans_atk"  class="atelier atelier-ryza2-type-attack"></i></div>
          <div><i *ngIf="trait[1].trans_heal" class="atelier atelier-ryza2-type-heal"></i>     <i style="color: lightgray;" *ngIf="!trait[1].trans_heal" class="atelier atelier-ryza2-type-heal"></i>     </div>
          <div><i *ngIf="trait[1].trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   <i style="color: lightgray;" *ngIf="!trait[1].trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   </div>
          <div><i *ngIf="trait[1].trans_buff" class="atelier atelier-ryza2-type-buff"></i>     <i style="color: lightgray;" *ngIf="!trait[1].trans_buff" class="atelier atelier-ryza2-type-buff"></i>     </div>
          <div><i *ngIf="trait[1].trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   <i style="color: lightgray;" *ngIf="!trait[1].trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   </div>
          <div><i *ngIf="trait[1].trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    <i style="color: lightgray;" *ngIf="!trait[1].trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    </div>
          <div><i *ngIf="trait[1].trans_acc"  class="atelier atelier-ryza2-type-accessory"></i><i style="color: lightgray;" *ngIf="!trait[1].trans_acc"  class="atelier atelier-ryza2-type-accessory"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!trait[1]" class="spacer col-md-5 mx-auto"></div>
</div>



<!--




<div class="col-md-4 mx-auto">
  <div class="card" *ngFor="let trait of filteredTraits | async">
    <div class="card-body">
      <div class="flex">
        <h4 class="card-title">{{trait.name}}</h4>
        <div *ngIf="trait.item_set.length == 0"><a href="javascript:void(0)"
            tooltip="A measure of rarity. This number determines where traits appear." container="true">Grade:</a>
          {{trait.grade}}
          <br /><span class="badge bg-secondary" *ngIf="trait.grade > 50">DLC</span>
        </div>
        <div *ngIf="trait.item_set.length > 0">
          <i class="atelier atelier-sm atelier-ryza2-material"></i><a href="/ryza2/item/{{trait.item_set[0].slugname}}">{{trait.item_set[0].name}}</a>
        </div>
      </div>
      <div class="card-text">
        <p>{{trait.description}}</p>
        <p *ngIf="trait.note"><b>Note:</b> {{trait.note}}</p>
        <div class="flex">
          <div><i *ngIf="trait.trans_atk"  class="atelier atelier-ryza2-type-attack"></i>   <i style="color: lightgray;" *ngIf="!trait.trans_atk"  class="atelier atelier-ryza2-type-attack"></i></div>
          <div><i *ngIf="trait.trans_heal" class="atelier atelier-ryza2-type-heal"></i>     <i style="color: lightgray;" *ngIf="!trait.trans_heal" class="atelier atelier-ryza2-type-heal"></i>     </div>
          <div><i *ngIf="trait.trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   <i style="color: lightgray;" *ngIf="!trait.trans_dbf"  class="atelier atelier-ryza2-type-debuff"></i>   </div>
          <div><i *ngIf="trait.trans_buff" class="atelier atelier-ryza2-type-buff"></i>     <i style="color: lightgray;" *ngIf="!trait.trans_buff" class="atelier atelier-ryza2-type-buff"></i>     </div>
          <div><i *ngIf="trait.trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   <i style="color: lightgray;" *ngIf="!trait.trans_wpn"  class="atelier atelier-ryza2-type-weapon"></i>   </div>
          <div><i *ngIf="trait.trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    <i style="color: lightgray;" *ngIf="!trait.trans_arm"  class="atelier atelier-ryza2-type-armor"></i>    </div>
          <div><i *ngIf="trait.trans_acc"  class="atelier atelier-ryza2-type-accessory"></i><i style="color: lightgray;" *ngIf="!trait.trans_acc"  class="atelier atelier-ryza2-type-accessory"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>


<a class="nav-link" routerlink="trait" (click)="openModal(traitModal)">Click me</a>
<ng-template #traitModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
        <a22-trait rt="traits"></a22-trait>
  </div>
</ng-template>
-->