
@if (data; as trait) {
  <div [class]="url ? 'card' : inputSlug ? 'card card-dialog' : 'card card-small'"
    [style]="url ? 'height:100%;' : null">
    <h4 class="card-title" style="margin-right:6rem;">
      @if (url) {
        <a (click)="$event.preventDefault(); buttonClicked.emit(trait.slug);"
          href="{{url}}">{{trait.name}}</a>
      }
      @else {
        {{trait.name}}
      }
    </h4>
    <div class="card-icon-position">
      <tooltip tip="Influences rank. A measure of rarity. This number determines where traits appear.">Grade: </tooltip>
      {{trait.grade}}
      @if (trait.grade > 50) {
        <br /><span style="float:right;margin-top: 0.4rem;" class="badge bg-primary">DLC</span>
      }
    </div>
    @if (trait.item_set) {
      <p class="svg-inline-text">
        <svg class="right-spacer"><use href="/media/spritesheets/A22.svg?v=1#material"></use></svg><a routerLink="/{{gameURL}}/items/{{trait.item_set[0].slug}}/{{language}}">{{trait.item_set[0].name}}</a>
      </p>
    }
    <p [style]="trait.grade > 50 ? 'margin-right:4rem;' : null">{{trait.desc}}</p>
    @if (trait.note) {
      <p><b>Note:</b> {{trait.note}}</p>
    }
    <div class="trait-grid" style="grid-template-columns: auto auto auto auto auto auto auto;">
      @for (t of [
          [trait.trans_atk,  'type-attack'],
          [trait.trans_heal, 'type-heal'],
          [trait.trans_dbf,  'type-debuff'],
          [trait.trans_buff, 'type-buff'],
          [trait.trans_wpn,  'type-weapon'],
          [trait.trans_arm,  'type-armor'],
          [trait.trans_acc,  'type-accessory'],
        ]; track $index) {
        <svg [style]="!t[0] ? 'fill:lightgray;' : null">
          <use attr.href="/media/spritesheets/A22.svg?v=1#{{t[1]}}"></use>
        </svg>
      }
    </div>
  </div>
}