<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="trait">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Traits', '/'+gameURL+'/traits/'+language]]" [current]="trait.name"></Breadcrumb>
<div class="mx-auto row spacer">
<div class="{{colset}} card card-body">
  <div class="flex">
    <h4 class="card-title">{{trait.name}}</h4>
    <div><a href="javascript:void(0)" (click)="$event.preventDefault();"
        tooltip="Influences rank. A measure of rarity. This number determines where traits appear." container="true">Grade:</a>
      {{trait.grade}}
      <br /><span style="float:right;" class="badge bg-secondary" *ngIf="trait.grade > 50">DLC</span>
    </div>
  </div>
  <p *ngIf="trait.item_set">
    <i class="atelier atelier-sm atelier-ryza2-material"></i><a routerLink="/{{gameURL}}/items/{{trait.item_set[0].slug}}/{{language}}">{{trait.item_set[0].name}}</a>
  </p>
  <p>{{trait.desc}}</p>
  <p *ngIf="trait.note"><b>Note:</b> {{trait.note}}</p>
  <div class="flex bottom">
    <i class="trait-color{{trait.trans_atk}}  atelier atelier-np atelier-ryza2-type-attack"></i>
    <i class="trait-color{{trait.trans_heal}} atelier atelier-np atelier-ryza2-type-heal"></i>
    <i class="trait-color{{trait.trans_dbf}}  atelier atelier-np atelier-ryza2-type-debuff"></i>
    <i class="trait-color{{trait.trans_buff}} atelier atelier-np atelier-ryza2-type-buff"></i>
    <i class="trait-color{{trait.trans_wpn}}  atelier atelier-np atelier-ryza2-type-weapon"></i>
    <i class="trait-color{{trait.trans_arm}}  atelier atelier-np atelier-ryza2-type-armor"></i>
    <i class="trait-color{{trait.trans_acc}}  atelier atelier-np atelier-ryza2-type-accessory"></i>
  </div>
</div>
<div *ngIf="showNav" class="col-md-3" ></div>
</div>
</ng-container>