/include
/lib
/lib64
/bin
__pycache__
*.py[cod]
*$py.class 
/jwt-key
/jwt-key.pub
/dump.json.gz
/*.json.gz
/secrets.json
pyvenv.cfg
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 
.env