@if (data; as monster) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title card-icon-space">{{monster.name}}</h4>
    <div class="card-icon-position">
      {{monster.race}}
      @if (monster.isDLC) {
        <br /><span class="badge bg-primary">DLC</span>
      }
      @if (monster.isStrong) {
        <br /><span class="badge bg-primary">Strong</span>
      }
      @if (monster.isDX) {
        <br /><span class="badge bg-primary">DX</span>
      }
    </div>
    <img class="card-item-display" height="288" width="288"
      src="{{imgURL}}monsters/{{monster.slug}}.webp?v=1" alt="{{monster.name}}">
    @if (monster.desc) {
      <p>{{monster.desc}}</p>
    }
    <div class="grid">
      <div class="grid-6">
        @if (monster.locations) {
          <b>{{a15service.location_translation[language]}}</b>
          <ul>
            @for (loc of monster.locations; track loc) {
              <li>
                <a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}">{{loc.name}}</a>
              </li>
            }
          </ul>
        }
        @if (monster.item_set) {
          <b>{{a15service.item_translation[language]}}</b>
          <ul>
            @for (drop of monster.item_set; track drop) {
              <li><a routerLink="/{{gameURL}}/items/{{drop.slug}}/{{language}}">{{drop.name}}</a></li>
            }
          </ul>
        }
      </div>
      <div class="grid-6">
        <table class="a15-enemy-stats"><tbody>
          <tr><td><b>LV </b></td>  <td>{{monster.level}}</td></tr>
          <tr><td><b>HP  </b></td><td>{{monster.hp}}   </td><td><svg class="a15-element" style="background-color:#ac504f;"><use href="/media/spritesheets/A15.svg?v=1#element-fire"></use></svg></td> <td>{{monster.fire}}</td></tr>
          <tr><td><b>ATK </b></td><td>{{monster.atk}}   </td><td><svg class="a15-element" style="background-color:#427389;"><use href="/media/spritesheets/A15.svg?v=1#element-water"></use></svg></td><td>{{monster.water}}</td></tr>
          <tr><td><b>DEF </b></td><td>{{monster.defen}}  </td><td><svg class="a15-element" style="background-color:#5a843c;"><use href="/media/spritesheets/A15.svg?v=1#element-wind"></use></svg></td> <td>{{monster.wind}}</td></tr>
          <tr><td><b>SPD </b></td><td>{{monster.spd}}</td><td><svg class="a15-element" style="background-color:#8f7939;"><use href="/media/spritesheets/A15.svg?v=1#element-earth"></use></svg></td><td>{{monster.earth}}</td></tr>
          <tr><td><b>EXP </b></td><td>{{monster.exp}}  </td><td><b>Cole </b></td><td>{{monster.cole}}  </td></tr>
        </tbody></table>
      </div>
    </div>
  </div>
}