<Error *ngIf="error" [errorCode]="errorCode"></Error>

<ng-container *ngIf="monster">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Monsters', '/'+gameURL+'/monsters/'+language]]" [current]="monster.name"></Breadcrumb>
<div class="mx-auto row spacer">
 <div class="{{colset}} card card-body">
    <h4 class="card-title card-icon-space">{{monster.name}}</h4>
    <div class="card-icon-position">
      <span>{{monster.race}}</span>
      <br *ngIf="monster.isStrong || monster.isDLC || monster.isDX" />
      <span *ngIf="monster.isDLC" class="badge bg-secondary">DLC</span>
      <span *ngIf="monster.isStrong" class="badge bg-secondary">Strong</span>
      <span *ngIf="monster.isDX" class="badge bg-secondary">DX</span>
    </div>
    <img class="image-display" loading="lazy" src="{{imgURL}}monsters/{{monster.slugname}}.webp" alt="{{monster.name}}">
    <p *ngIf="monster.desc">{{monster.desc}}</p>
    <div class="row">
      <div class="col-md-6">
        <b *ngIf="monster.locations">Locations:</b>
        <ul *ngIf="monster.locations">
           <li *ngFor="let loc of monster.locations">
             <a routerLink="/{{gameURL}}/locations/{{loc.slugname}}/{{language}}">{{loc.name}}</a>
           </li>
        </ul>
        <b *ngIf="monster.item_set">Drops:</b>
        <ul *ngIf="monster.item_set">
          <li *ngFor="let drop of monster.item_set"><a routerLink="/{{gameURL}}/items/{{drop.slugname}}/{{language}}">{{drop.name}}</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <table style="width:auto;" class="tbl">
        <tr>
            <td style="border-top:transparent;padding:0;"><b>LV </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.level}}</td>
          </tr>
          <tr>
            <td style="border-top:transparent;padding:0;"><b>HP </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.hp}}</td><td style="border-top:transparent;padding:0;padding-left:1em;"><i style="color:#ac504f;" class="atelier atelier-shallie-fire"></i></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.fire}}</td>
          </tr>
          <tr>
            <td style="border-top:transparent;padding:0;"><b>ATK </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.atk}}</td><td style="border-top:transparent;padding:0;padding-left:1em;"><i style="color:#427389;" class="atelier atelier-shallie-water"></i></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.water}}</td>
          </tr>
          <tr>
            <td style="border-top:transparent;padding:0;"><b>DEF </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.defen}}</td><td style="border-top:transparent;padding:0;padding-left:1em;"><i style="color:#5a843c;" class="atelier atelier-shallie-wind"></i></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.wind}}</td>
          </tr>
          <tr>
            <td style="border-top:transparent;padding:0;"><b>SPD </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.spd}}</td><td style="border-top:transparent;padding:0;padding-left:1em;"><i style="color:#8f7939;" class="atelier atelier-shallie-earth"></i></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.earth}}</td>
          </tr>
          <tr>
            <td style="border-top:transparent;padding:0;"><b>Exp </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.exp}}</td><td style="border-top:transparent;padding:0;padding-left:1em;"><b>Cole </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.cole}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
 </div>
</ng-container>