@if (!error) {
<ng-template #template let-mon="item">
  <item [item]="mon" url="/{{gameURL}}/monsters/{{mon.slug}}/{{language}}" (buttonClicked)="openDialog($event)"
    dimension="288" imgURL="{{imgURL}}monsters/{{mon.slug}}.webp?v=1">
    <ng-container icon>
      <span>{{mon.race}}</span>
      @if (mon.isDLC) {
      <br /><span class="badge bg-primary">DLC</span>
      }
      @if (mon.isStrong) {
      <br /><span class="badge bg-primary">Strong</span>
      }
      @if (mon.isDX) {
      <br /><span class="badge bg-primary">DX</span>
      }
    </ng-container>
  </item>
</ng-template>
<filter-list [list]="filteredMonsters" name="Monsters" [(hide)]="hide" [template]="template">
  <form [formGroup]="pageForm" class="grid">
    <mat-form-field class="grid-12" appearance="outline">
      <mat-label>Filter...</mat-label>
      <input style="height: 100%;" matInput formControlName="filtertext">
    </mat-form-field>
  </form>
</filter-list>
}