<Error *ngIf="error" [errorCode]="errorCode"></Error>

<ng-container *ngIf="effect">
<ng-container *ngIf="showNav">
  <Breadcrumb *ngIf="effect.efftype == 'Normal'" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Effects', '/'+gameURL+'/effects/'+language]]" [current]="effect.name"></Breadcrumb>
  <Breadcrumb *ngIf="effect.efftype == 'Forge'"  [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Forge Effects', '/'+gameURL+'/forge-effects/'+language]]" [current]="effect.name"></Breadcrumb>
  <Breadcrumb *ngIf="effect.efftype == 'EV'"     [breadcrumbs]="[[gameTitle, '/'+gameURL], ['EV Effects', '/'+gameURL+'/ev-effects/'+language]]" [current]="effect.name"></Breadcrumb>
</ng-container>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <div class="flex">
      <h4 class="card-title">{{effect.name}}</h4>
      <div class="card-icon-position">
        <i *ngIf="effect.efftype == 'Normal' && effect.effsub != 'Material'" class="atelier atelier-np atelier-ryza2-type-synthesis"></i>
        <i *ngIf="effect.effsub == 'Material'" class="atelier atelier-np atelier-ryza2-material"></i>
        <i *ngIf="effect.efftype != 'Normal'" class="atelier atelier-ryza2-type-{{effect.effsub.toLowerCase()}}"></i>
        <span *ngIf="effect.efftype == 'EV'" class="badge bg-secondary">EV</span>
        <i *ngIf="effect.efftype == 'Forge'" class="atelier atelier-np atelier-ryza2-forge"></i>
      </div>
    </div>
    <p *ngIf="effect.desc">{{effect.desc}}</p>
    <p *ngIf="effect.note"><b>Note:</b> {{effect.note}}</p>
    <b *ngIf="effect.efftype == 'Normal' || effect.efftype == 'Material'">From Item:</b>
    <ul *ngIf="effect.effectline_set">
      <li *ngFor="let e of effect.effectline_set"><a routerLink="/{{gameURL}}/items/{{e.slug}}/{{language}}">{{e.name}}</a></li>
    </ul>
    <b *ngIf="effect.efftype == 'EV'">Combines Effects:</b>
    <ul *ngIf="effect.effects && effect.efftype == 'EV'">
      <li *ngFor="let e of effect.effects">
        <a href="javascript:void(0)" (click)="$event.preventDefault();" tooltip="{{e.desc}}" container="true">{{e.name}}</a>
      </li>
    </ul>
    <b *ngIf="(effect.efftype == 'Normal' || effect.efftype == 'Material') && effect.parent">Child Effects:</b>
    <b *ngIf="(effect.efftype != 'Normal' && effect.efftype != 'Material') && effect.parent">Parent Effects:</b>
    <ul *ngIf="effect.parent">
      <li *ngFor="let e of effect.parent"><a routerLink="/{{gameURL}}/effects/{{e.slug}}/{{language}}">{{e.name}}</a></li>
    </ul>
    <b *ngIf="effect.actTag0">Advanced Data:</b>
    <ul *ngIf="effect.actTag0">
      <li>
        <span *ngIf="effect.attTag0">{{effect.attTag0}} /</span> {{effect.actTag0}}
        <ul>
          <li *ngIf="effect.min_1_0"><b>Value 1: </b>{{effect.min_1_0}}<span *ngIf="effect.max_1_0"> - {{effect.max_1_0}}</span></li>
          <li *ngIf="effect.min_2_0"><b>Value 2: </b>{{effect.min_2_0}}<span *ngIf="effect.max_2_0"> - {{effect.max_2_0}}</span></li>
        </ul>
      </li>
      <li *ngIf="effect.actTag1">
        <span *ngIf="effect.attTag1">{{effect.attTag1}} /</span> {{effect.actTag1}}
        <ul>
          <li *ngIf="effect.min_1_1"><b>Value 1: </b>{{effect.min_1_1}}<span *ngIf="effect.max_1_1"> - {{effect.max_1_1}}</span></li>
          <li *ngIf="effect.min_2_1"><b>Value 2: </b>{{effect.min_2_1}}<span *ngIf="effect.max_2_1"> - {{effect.max_2_1}}</span></li>
        </ul>
      </li>
    </ul>
</div>
<language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
</div>
</ng-container>