<Error *ngIf="error" [errorCode]="error"></Error>

<div *ngIf="!error">
<Breadcrumb *ngIf="normal" [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Effects"></Breadcrumb>
<Breadcrumb *ngIf="forge" [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Forge Effects"></Breadcrumb>
<Breadcrumb *ngIf="ev" [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="EV Effects"></Breadcrumb>
<h1 *ngIf="normal">Effects</h1>
<h1 *ngIf="forge">Forge Effects</h1>
<h1 *ngIf="ev">EV Effects</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="1" selected> <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-synthesis"></mat-icon> Any</mat-option>
            <mat-option value="2" *ngIf="forge"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-weapon"  ></mat-icon> Weapon</mat-option>
            <mat-option value="3" *ngIf="forge"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-armor"    ></mat-icon> Armor</mat-option>
            <mat-option value="5" *ngIf="ev"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-attack"    ></mat-icon> Attack</mat-option>
            <mat-option value="7" *ngIf="ev"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-heal"    ></mat-icon> Heal</mat-option>
            <mat-option value="4" *ngIf="forge || ev"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-accessory"  ></mat-icon> Accessory</mat-option>
            <mat-option value="6" *ngIf="normal"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-material"  ></mat-icon> Material</mat-option>
            <mat-select-trigger *ngIf="f.type.value == 1">
               Any
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.type.value == 2">
               Weapon
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.type.value == 3">
               Armor
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.type.value == 5">
               Attack
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.type.value == 7">
               Heal
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.type.value == 4">
               Accessory
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.type.value == 6">
               Material
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>
        <div class="col-md-3" ></div>
      </div>
    </form>
</div>
<div *ngIf="!filteredEffects" class="d-flex justify-content-center">
  <div class="spinner-border text-secondary m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="filteredEffects" class="item-grid">
<div *ngFor="let eff of filteredEffects | async; trackBy:identify" class="card card-body">
  <h4 class="card-title card-icon-space">
    <a (click)="openModal2(effectModal, eff.slug, $event);" href="/{{gameURL}}/effects/{{eff.slug}}/{{language}}">{{eff.name}}</a>
  </h4>
  <div class="card-icon-position">
    <i *ngIf="normal && eff.effsub != 'Material'" class="atelier atelier-np atelier-ryza2-type-synthesis"></i>
    <i *ngIf="eff.effsub == 'Material'" class="atelier atelier-np atelier-ryza2-material"></i>
    <i *ngIf="!normal" class="atelier atelier-ryza2-type-{{eff.effsub.toLowerCase()}}"></i>
    <span *ngIf="ev" class="badge bg-secondary">EV</span><i *ngIf="forge" class="atelier atelier-np atelier-ryza2-forge"></i>
  </div>
  <button (click)="openModal2(effectModal, eff.slug)" class="card-read-more-position" mat-mini-fab color="primary">
      <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
   </button>
  <span style="margin-right:1.7rem" *ngIf="eff.desc">{{eff.desc}}</span>
  <ul style="margin-right:1.7rem;" *ngIf="ev">
    <li *ngFor="let e of eff.effects"><a href="javascript:void(0)" tooltip="{{e.desc}}" container="true">{{e.name}}</a></li>
  </ul>
</div>

<ng-template #effectModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle modal-close"></i>
    </button>
     <a22-effect slug="{{selected}}" [showNav]="false"></a22-effect>
  </div>
</ng-template>
</div>
</div>