@if (!error) {
  <ng-template #template let-item="item">
    <a22-effect (buttonClicked)="openDialog($event)" [inputData]="item" [gameURL]="gameURL"
      [hideContents]="true" [efftype]="efftype"></a22-effect>
  </ng-template>
  <filter-list
    [list]="filteredEffects"
    [(hide)]="hide"
    [name]="normal ? a22service.effect_translation[language] : ev ? a22service.eveffect_translation[language] : a22service.forgeeffect_translation[language]"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>{{a22service.filter_translation[language]}}</mat-label>
        <input matInput formControlName="filtertext">
      </mat-form-field>
      <filter-buttons svg="A22.svg?v=1" class="grid-4" [single_only]="true"
        [list]="types">
      </filter-buttons>
    </form>
  </filter-list>
}