@if (data; as category) {
  <ng-template #cat let-item="item">
    <tr>
      <td>
        <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
        <br /><b>LV {{item.level}}</b>
      </td>
      <td>
        @if (item.fire) {
          <i style="color:#ac504f;"  class="atelier atelier-np atelier-shallie-fire"></i>
        }
        @if (item.water) {
          <i style="color:#427389;" class="atelier atelier-np atelier-shallie-water"></i>
        }
        @if (item.wind) {
          <i style="color:#5a843c;"  class="atelier atelier-np atelier-shallie-wind"></i>
        }
        @if (item.earth) {
          <i style="color:#8f7939;" class="atelier atelier-np atelier-shallie-earth"></i>
        }
        <span style="vertical-align:top;padding-left:0.5rem;">{{item.evalue}}</span>
      </td>
    </tr>
  </ng-template>
  <category
    [name]="category.name"
    [using]="category.ingredientcat !== undefined"
    [colspan]="2">
    <ng-container inCategory>
      @for (item of category.item_set; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
    <ng-container usingCategory>
      @for (item of category.ingredientcat; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item.synthitem}"></ng-content>
      }
    </ng-container>
  </category>
}