<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="data as category">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Category: '+category.name"></Breadcrumb>
<h1>{{category.name}}</h1>
<div class="mx-auto row">
    <div class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl">
            <tr class="table-dark-center"><th style="border:none;" colspan=2>Items in Category</th></tr>
            <tr *ngFor="let item of category.item_set">
                <td>
                    <a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a>
                    <br /><b>LV {{item.level}}</b>
                </td>
                <td>
                    <i style="color:#ac504f;" *ngIf="item.fire"  class="atelier atelier-np atelier-shallie-fire"></i>
                    <i style="color:#427389;" *ngIf="item.water" class="atelier atelier-np atelier-shallie-water"></i>
                    <i style="color:#5a843c;" *ngIf="item.wind"  class="atelier atelier-np atelier-shallie-wind"></i>
                    <i style="color:#8f7939;" *ngIf="item.earth" class="atelier atelier-np atelier-shallie-earth"></i>
                    <span style="vertical-align:top;padding-left:0.5rem;">{{item.evalue}}</span>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="category.ingredientcat" class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl">
            <tr class="table-dark-center"><th style="border:none;" colspan=2>Items Using Category</th></tr>
            <tr *ngFor="let item of category.ingredientcat">
                <td>
                    <a routerLink="/{{gameURL}}/items/{{item.synthitem.slugname}}/{{language}}">{{item.synthitem.name}}</a>
                    <br /><b>LV {{item.synthitem.level}}</b>
                </td>
                <td>
                    <i style="color:#ac504f;" *ngIf="item.synthitem.fire"  class="atelier atelier-np atelier-shallie-fire"></i>
                    <i style="color:#427389;" *ngIf="item.synthitem.water" class="atelier atelier-np atelier-shallie-water"></i>
                    <i style="color:#5a843c;" *ngIf="item.synthitem.wind"  class="atelier atelier-np atelier-shallie-wind"></i>
                    <i style="color:#8f7939;" *ngIf="item.synthitem.earth" class="atelier atelier-np atelier-shallie-earth"></i>
                    <span style="vertical-align:top;padding-left:0.5rem;">{{item.synthitem.evalue}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
</ng-container>