<Error *ngIf="error" [errorCode]="error"></Error>
<ng-container *ngIf="research">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Research"></Breadcrumb>
<h1>Research</h1>
<div *ngIf="showNav" class="col-md-3" ></div>

<mat-tab-group>
  <mat-tab label="{{kind[language][0]}}">
    <table class="tbl spacer" style="margin-top:1rem;">
      <tr class="table-dark-center"><th colspan="2">{{kind[language][0]}}</th></tr>
      <tr *ngFor="let it of [].constructor(100); let i = index;">
        <td>{{i+1}}</td>
        <td>
          <p><b>{{research[i].name}}: </b> {{research[i].desc}} ({{research[i].val/100}}%)</p>
          <p *ngIf="research[i].req"><b>Requirement: </b>{{research[i].req}}</p>
          <p><b>Cole: </b> {{research[i].cole}}</p>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="{{kind[language][1]}}">
    <table class="tbl spacer" style="margin-top:1rem;">
      <tr class="table-dark-center"><th colspan="2">{{kind[language][1]}}</th></tr>
      <tr *ngFor="let it of [].constructor(100); let i = index;">
        <td>{{i+1}}</td>
        <td>
          <p><b>{{research[i+100].name}}: </b> {{research[i+100].desc}} ({{research[i+100].val/100}}%)</p>
          <p *ngIf="research[i+100].req"><b>Requirement: </b>{{research[i+100].req}}</p>
          <p><b>Cole: </b> {{research[i+100].cole}}</p>
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
</ng-container>