@if (data) {
  <h1>Research</h1>
  <ng-template #research let-data="data" let-offset="offset" let-kind="kind">
    <table class="tbl" style="margin-top:1rem;"><tbody>
      <tr><th colspan="2">{{kind}}</th></tr>
      @for (it of [].constructor(150); track it; let i = $index) {
        <tr>
          <td>{{i+1}}</td>
          <td>
            <p><b>{{data[i+offset].name}}: </b> {{data[i+offset].desc}} ({{data[i+offset].val/100}}%)</p>
            @if (data[i+offset].req) {
              <p><b>Requirement: </b>{{data[i+offset].req}}</p>
            }
            <p><b>Cole: </b> {{data[i+offset].cole}}</p>
          </td>
        </tr>
      }
    </tbody></table>
  </ng-template>
  <mat-tab-group>
    <mat-tab label="{{kind[language][0]}}">
      <ng-content *ngTemplateOutlet="research; context: {data:data, offset:0, kind:kind[language][0]}"></ng-content>
    </mat-tab>
    <mat-tab label="{{kind[language][1]}}">
      <ng-content *ngTemplateOutlet="research; context: {data:data, offset:150, kind:kind[language][1]}"></ng-content>
    </mat-tab>
  </mat-tab-group>
}