@if (!error) {
  <h1>Items</h1>
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (it of filteredItems | async; track identify2($index, it)) {
      <div class="card card-body">
        <div class="flex">
          <h4 class="card-title">
            <a (click)="openDialog(it.slug, $event);" href="/{{gameURL}}/items/{{it.slug}}/{{language}}">{{it.name}}</a>
          </h4>
          @if (it.kind) {
            <b style="padding-right:0.5em;">{{it.kind}}</b>
          }
        </div>
        <p>{{it.desc}}</p>
        @if (it.effect) {
          <p><b>Effect: </b>{{it.effect}}</p>
        }
        @if (it.acquisition) {
          <p><b>Acquisition: </b>{{it.acquisition}}</p>
        }
        @if (it.missions) {
          <b>Missions:</b>
        }
        @if (it.missions) {
          <ul>
            @for (miss of it.missions; track miss) {
              <li><a routerLink="/{{gameURL}}/missions/{{language}}" fragment="{{miss.slug}}">{{miss.name}}</a></li>
            }
          </ul>
        }
        @if (it.locations) {
          <b>Locations:</b>
        }
        @if (it.locations) {
          <ul>
            @for (loc of it.locations; track loc) {
              <li>{{loc.name}}</li>
            }
          </ul>
        }
        @if (it.demons) {
          <b>Demons:</b>
        }
        @if (it.demons) {
          <ul>
            @for (demon of it.demons; track demon) {
              <li><a routerLink="/{{gameURL}}/demons/{{demon.slug}}/{{language}}">{{demon.name}}</a></li>
            }
          </ul>
        }
        @if (it.ingredient_set) {
          <b>Craft:</b>
        }
        @if (it.ingredient_set) {
          <ul>
            @for (ing of it.ingredient_set; track ing) {
              <li><a routerLink="/{{gameURL}}/items/{{ing.item.slug}}/{{language}}">{{ing.item.name}} x{{ing.num}}</a></li>
            }
          </ul>
        }
      </div>
    }
  </div>
}