<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="!error">
<nav *ngIf="showNav" style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a routerLink="/{{gameURL}}">{{gameTitle}}</a></li>
    <li class="breadcrumb-item"><a routerLink="/{{gameURL}}/items">Items</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
  </ol>
</nav>
<div class="mx-auto row">
 <div class="{{colset}} card griddisplay card-body">
    <div class="flex">
        <h4 style="margin-right:2em;" class="card-title  card-icon-space">{{item.name}}</h4>
        <div class="card-icon-position">
          <b *ngIf="item.kind" style="padding-right:0.5em;">{{item.kind}}</b>
        </div>
    </div>
    <div class="card-text">
      <p>{{item.description}}</p>
      <p *ngIf="item.effect"><b>Effect: </b>{{item.effect}}</p>
      <p><b *ngIf="item.acquisition">Acquisition: </b>{{item.acquisition}}</p>
      <b *ngIf="item.missions">Missions:</b>
      <ul *ngIf="item.missions">
        <li *ngFor="let miss of item.missions"><a routerLink="/{{gameURL}}/missions/{{language}}" fragment="{{miss.slugname}}">{{miss.name}}</a></li>
      </ul>
      <b *ngIf="item.locations">Locations:</b>
      <ul *ngIf="item.locations">
        <li *ngFor="let loc of item.locations">{{loc.name}}</li>
      </ul>
      <b *ngIf="item.demons">Demons:</b>
      <ul *ngIf="item.demons">
        <li *ngFor="let demon of item.demons"><a routerLink="/{{gameURL}}/demons/{{demon.slugname}}/{{language}}">{{demon.name}}</a></li>
      </ul>
      <b *ngIf="item.ingredient_set">Craft:</b>
      <ul *ngIf="item.ingredient_set">
        <li *ngFor="let ing of item.ingredient_set"><a routerLink="/{{gameURL}}/items/{{ing.item.slugname}}/{{language}}">{{ing.item.name}}</a> x{{ing.num}}</li>
      </ul>
     </div>
  </div>
 </div>
</div>