<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="effect">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Effects', '/'+gameURL+'/effects/'+language]]" [current]="effect.name"></Breadcrumb>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <h4 class="card-title  card-icon-space">{{effect.name}}</h4>
    <p *ngIf="effect.desc">{{effect.desc}}</p>
    <b *ngIf="effect.effectline_set">From Item:</b>
    <ul *ngIf="effect.effectline_set">
      <li *ngFor="let e of effect.effectline_set">
        <a routerLink="/{{gameURL}}/items/{{e.slugname}}/{{language}}">{{e.name}}</a>
      </li>
    </ul>
  </div>
<div *ngIf="showNav" class="col-md-3" ></div>
</div>
</ng-container>