@if (data; as effect) {
  <effect [effect]="effect"
  [small]="inputData || inputSlug ? false : hideContents ? false : true"
  [hideContents]="hideContents"
  [url]="inputData ? '/' + gameURL + '/effects/' + effect.slug + '/' + language : undefined"
  (buttonClicked)="buttonClicked.emit($event)">
    @if (!hideContents) {
      <b>From Item:</b>
    }
    <ul class="two-column" [style]="inputData ? 'margin-right:1.7rem;' : null">
      @for (e of effect.effectline_set; track e) {
        <li>
          <a routerLink="/escha/items/{{e.slug}}/{{language}}">{{e.name}}</a>
        </li>
      }
    </ul>
  </effect>
}