@if (data; as effect) {
  <effect [effect]="effect"
  [small]="inputSlug ? false : hideContents ? false : true"
  [hideContents]="hideContents"
  url="/escha/effects/{{effect.slug}}"
  [language]="language"
  (buttonClicked)="buttonClicked.emit($event)">
    @if (!hideContents) {
      <b>From Item:</b>
    }
    <ul [style]="hideContents ? 'float: left;margin-bottom: 0;' : null">
      @for (e of effect.effectline_set; track e) {
        <li>
          <a routerLink="/escha/items/{{e.slug}}/{{language}}">{{e.name}}</a>
        </li>
      }
    </ul>
  </effect>
}