@if (!error) {
  <ng-template #template let-item="item">
    <a25-trait [inputData]="item" [imgURL]="imgURL"
      (buttonClicked)="openDialog($event)"
      (charClicked)="openDialog($event, undefined, 'characters', c2);"
      (itemClicked)="openDialog($event, undefined, 'items/materials', c3);"></a25-trait>
  </ng-template>
  <filter-list
    [list]="filteredTraits"
    [(hide)]="hide"
    title="Traits"
    [template]="template">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-8" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
          <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Transfers to...</mat-label>
          <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="any" selected>
              Any
            </mat-option>
            @if (data) {
              @for (trans of data.transfer; track trans) {
                <mat-option [value]="trans.slug">
                  {{trans.name}}
                </mat-option>
              }
              <mat-option value="equipment" selected>
                {{a25service.equipment[language]}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </filter-list>
}