@if (error) {
  <Error [errorCode]="error"></Error>
}
@if (!error) {
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Traits"></Breadcrumb>
<h1>Traits</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-8" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
          <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Transfers to...</mat-label>
          <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="any" selected>
              Any
            </mat-option>
            @if (data) {
              @for (trans of data.transfer; track trans) {
                <mat-option [value]="trans.slug">
                  {{trans.name}}
                </mat-option>
              }
              <mat-option value="equipment" selected>
                {{language == 'en' ? 'Equipment' : '装備'}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
<div class="item-grid">
@for (trt of filteredTraits | async; track identify($index, trt)) {
<div class="card card-body">
  <div style="height:100%;">
    <div class="flex">
      <h4 class="card-title card-icon-space">
        <a (click)="openModal(traitModal, trt.slug, $event);"
          href="/{{gameURL}}/traits/{{trt.slug}}/{{language}}">
          {{trt.name}}
        </a>
      </h4>
      <div class="card-icon-position">
        @if (trt.trans_wep) {
          <img style="width:3rem;" src="{{imgURL}}svg/equipment.svg" alt="equipment"/>
        }
        @else {
          <img style="width:3rem;" src="{{imgURL}}svg/combat.svg"    alt="combat"/>
        }
      </div>
    </div>
    <p style="padding-top:1rem;" [innerHTML]="trt.desc.replaceAll('{0}', trt.val[0] + ' ~ ' + trt.val[4]).replaceAll('{1}', trt.val[0] + ' ~ ' + trt.val[4])"></p>
    <p>
      {{trt.val[0]}} > {{trt.val[1]}} > {{trt.val[2]}} > {{trt.val[3]}} > {{trt.val[4]}}
    </p>
    @if (trt.note) {
      <p [innerHTML]="trt.note"></p>
    }
    @if (trt.items) {
      <b>Item:</b>
      <ul>
        @for (item of trt.items; track item) {
          <li>
            <a (click)="openDifferentModal(itemModal, item.slug, 'items/materials', $event);"
              href="/{{gameURL}}/items/materials/{{item.slug}}/{{language}}">
              {{item.name}}
            </a>
            <i class="fa-solid fa-circle" style="color:{{a25service.colors[item.color]}};"></i>
          </li>
        }
      </ul>
    }
    @if (trt.char1 || trt.char2 || trt.char3) {
      <b>Characters:</b>
      <ul>
        @for (char of trt.char1; track char) {
          <li>
            <a (click)="openDifferentModal(charModal, char.slug, 'characters', $event);"
              href="/{{gameURL}}/characters/{{char.slug}}/{{language}}">
              {{char.name}} {{char.title}}
            </a>
            <i style="width:1rem;vertical-align:-0.5rem;color:{{a25service.colors[char.color1]}};display:inline;" class="atelier atelier-np atelier-resleri-color-l"></i>
            <i style="width:1rem;vertical-align:-0.5rem;color:{{a25service.colors[char.color2]}};display:inline;" class="atelier atelier-np atelier-resleri-color-r"></i>
          </li>
        }
        @for (char of trt.char2; track char) {
          <li>
            <a (click)="openDifferentModal(charModal, char.slug, 'characters', $event);"
              href="/{{gameURL}}/characters/{{char.slug}}/{{language}}">
              {{char.name}} {{char.title}}
            </a>
            <i style="width:1rem;vertical-align:-0.5rem;color:{{a25service.colors[char.color1]}};display:inline;" class="atelier atelier-np atelier-resleri-color-l"></i>
            <i style="width:1rem;vertical-align:-0.5rem;color:{{a25service.colors[char.color2]}};display:inline;" class="atelier atelier-np atelier-resleri-color-r"></i>
          </li>
        }
        @for (char of trt.char3; track char) {
          <li>
            <a (click)="openDifferentModal(charModal, char.slug, 'characters', $event);"
              href="/{{gameURL}}/characters/{{char.slug}}/{{language}}">
              {{char.name}} {{char.title}}
            </a>
            <i style="width:1rem;vertical-align:-0.5rem;color:{{a25service.colors[char.color1]}};display:inline;" class="atelier atelier-np atelier-resleri-color-l"></i>
            <i style="width:1rem;vertical-align:-0.5rem;color:{{a25service.colors[char.color2]}};display:inline;" class="atelier atelier-np atelier-resleri-color-r"></i>
          </li>
        }
      </ul>
    }
  </div>
  <div class="flex bottom" style="text-align:center;">
    <img src="{{imgURL}}svg/attack.svg"    alt="attack"    style="width:2rem;" class="{{!trt.trans_atk  ?  'svg-color' : ''}}"/>
    <img src="{{imgURL}}svg/healing.svg"   alt="healing"   style="width:2rem;" class="{{!trt.trans_heal ? 'svg-color' : ''}}"/>
    <img src="{{imgURL}}svg/buff.svg"      alt="buff"      style="width:2rem;" class="{{!trt.trans_buff ? 'svg-color' : ''}}"/>
    <img src="{{imgURL}}svg/debuff.svg"    alt="debuff"    style="width:2rem;" class="{{!trt.trans_dbf  ? 'svg-color' : ''}}"/>
    <img src="{{imgURL}}svg/equipment.svg" alt="equipment" style="width:2rem;" class="{{!trt.trans_wep  ? 'svg-color' : ''}}"/>
  </div>
</div>
}
<ng-template #traitModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
    <a25-trait inputSlug="{{selected}}" [showNav]="false"></a25-trait>
  </div>
</ng-template>
<ng-template #itemModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
    <a25-item inputSlug="{{selected}}" itemkind="materials" [showNav]="false"></a25-item>
  </div>
</ng-template>
<ng-template #charModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
    <a25-chara inputSlug="{{selected}}" [showNav]="false"></a25-chara>
  </div>
</ng-template>
</div>
}