@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (data; as item) {
  @if (showNav) {
    <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Items', '/'+gameURL+'/items/'+language]]" [current]="item.name"></Breadcrumb>
  }
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <h4 class="card-title card-icon-space">{{item.name}}</h4>
      <div class="card-icon-position">
        @if (item.level) {
          <b style="padding-right:0.5em;">LV {{item.level}}</b>
        }
        @if (item.isDLC) {
          <br /><span class="badge bg-secondary">DLC</span>
        }
        @if (item.isDX) {
          <br /><span class="badge bg-secondary">DX</span>
        }
      </div>
      <div class="card-item-display">
        <img loading="lazy" src="{{imgURL}}items/{{item.slug}}.webp" alt="{{item.name}}">
      </div>
      <div class="card-text">
        <table><tbody>
          @if (item.char[0]) {
            <tr>
              <td style="width:10%">
                <img style="max-height:3em;" src="/media/games/firis/characters/{{item.char[0]}}.webp" alt="{{item.char[0]}}">
              </td>
              <td>
                {{item.desc[0]}}
              </td>
            </tr>
          }
          @if (item.char[1]) {
            <tr>
              <td style="width:10%">
                <img style="max-height:3em;" src="/media/games/firis/characters/{{item.char[1]}}.webp" alt="{{item.char[1]}}">
              </td>
              <td>
                {{item.desc[1]}}
              </td>
            </tr>
          }
          @if (item.char[2]) {
            <tr>
              <td style="width:10%">
                <img style="max-height:3em;" src="/media/games/firis/characters/{{item.char[2]}}.webp" alt="{{item.char[2]}}">
              </td>
              <td>
                {{item.desc[2]}}
              </td>
            </tr>
          }
          @if (item.char[3]) {
            <tr>
              <td style="width:10%">
                <img style="max-height:3em;" src="/media/games/firis/characters/{{item.char[3]}}.webp" alt="{{item.char[3]}}">
              </td>
              <td>
                {{item.desc[3]}}
              </td>
            </tr>
          }
        </tbody></table>
        <div class="row">
          <table style="margin-top:1rem;" class="table-item-data col"><tbody>
            @for (cat of item.categories; track cat) {
              <tr>
                <td style="text-align: center;"><i class="atelier atelier-{{cat.icon}}"></i></td>
                <td><a routerLink="/{{gameURL}}/categories/{{cat.slug}}/{{language}}">{{cat.name}}</a></td>
              </tr>
            }
          </tbody></table>
        </div>
        @if (item.trait) {
          <p><b>Trait: </b><a routerLink="/{{gameURL}}/traits/{{item.trait.slug}}/{{language}}">{{item.trait.name}}</a></p>
        }
        @if (item.book && !item.ideas) {
          <p><b>Book: </b> <a routerLink="/{{gameURL}}/items/{{item.book.slug}}/{{language}}">{{item.book.name}}</a></p>
        }
        @if (item.shopslot_set) {
          <b>Shop:</b>
        }
        @if (item.shopslot_set) {
          <ul>
            @for (shop of item.shopslot_set; track shop) {
              <li>
                <a routerLink="/{{gameURL}}/shops/{{language}}" fragment="{{shop.slug}}">{{shop.name}}</a>
              </li>
            }
          </ul>
        }
        @if (item.recipes) {
          <b>Recipes:</b>
        }
        @if (item.recipes) {
          <ul>
            @for (recipe of item.recipes; track recipe) {
              <li>
                <a routerLink="/{{gameURL}}/items/{{recipe.slug}}/{{language}}">{{recipe.name}}</a>
              </li>
            }
          </ul>
        }
        @if (item.locations) {
          <b >Location:</b>
        }
        @if (item.locations) {
          <div style="column-count: 2;">
            <ul style="padding-left:1.1em;margin-bottom:0">
              @for (loc of item.locations; track loc) {
                <li>{{loc.name}}</li>
              }
            </ul>
          </div>
        }
        @if (item.wt || item.quantity || item.uses || item.range || item.price) {
          <ul style="padding-left:0;list-style:none;">
            @if (item.wt) {
              <li      >WT: {{item.wt}}</li>
            }
            @if (item.quantity) {
              <li>Quantity: {{item.quantity}}</li>
            }
            @if (item.uses) {
              <li    >Uses: {{item.uses}}</li>
            }
            @if (item.range) {
              <li   >Range: {{item.range}}</li>
            }
            @if (item.dmin && !item.equip) {
              <li   >DMG Min: {{item.dmin}}</li>
            }
            @if (item.dmax && !item.equip) {
              <li   >DMG Max: {{item.dmax}}</li>
            }
          </ul>
        }
        @if (item.monsters) {
          <b >Dropped by:</b>
        }
        @if (item.monsters) {
          <div style="column-count: 2;">
            <ul style="padding-left:1.1em;margin-bottom:0">
              @for (mon of item.monsters; track mon) {
                <li><a routerLink="/{{gameURL}}/monsters/{{mon.slug}}/{{language}}">{{mon.name}}</a></li>
              }
            </ul>
          </div>
        }
        @if (item.ideas) {
          <table class="tbl"><tbody>
            @if (item.book) {
              <tr class="table-dark-center">
                <th colspan="2">Book</th>
              </tr>
            }
            @if (item.book) {
              <tr>
                <td style="text-align:center;width:15%;">
                  <i class="atelier atelier-ryza2-book" style="padding-right:0;"></i>
                </td>
                <td>
                  <a routerLink="/{{gameURL}}/items/{{item.book.slug}}/{{language}}">{{item.book.name}}</a>
                </td>
              </tr>
            }
            @for (idea of item.ideas; track idea; let i = $index) {
              <tr class="table-dark-center">
                <th colspan="2">Idea {{i+1}}</th>
              </tr>
              @for (unlock of idea.unlocks; track unlock) {
                <tr>
                  @if (unlock.level == 1) {
                    <td  style="text-align:center;width:15%;vertical-align:middle;"><i class="fa-solid fa-question"></i></td>
                  }
                  @if (unlock.level == 4) {
                    <td  style="text-align:center;width:15%;vertical-align:middle;"><i class="fa-solid fa-lock-open"></i></td>
                  }
                  @if (unlock.level == 1 || unlock.level == 4) {
                    <td>
                      <ul>
                        @for (condition of unlock.condition; track condition) {
                          <li>
                            {{condition.condition}}
                            @if (condition.item) {
                              <a routerLink="/{{gameURL}}/items/{{condition.item.slug}}/{{language}}">
                                {{condition.item.name}}
                              </a>
                            }
                            @if (condition.monster) {
                              <a routerLink="/{{gameURL}}/monsters/{{condition.monster.slug}}/{{language}}">
                                {{condition.monster.name}}
                              </a>
                            }
                            @if (condition.category) {
                              <a routerLink="/{{gameURL}}/categories/{{condition.category.slug}}/{{language}}">
                                {{condition.category.name}}
                              </a>
                            }
                            @if (condition.race) {
                              <span>
                                {{condition.race.name}}
                              </span>
                            }
                            @if (condition.number) {
                              <span>x{{condition.number}}</span>
                            }
                          </li>
                        }
                      </ul>
                    </td>
                  }
                </tr>
              }
            }
          </tbody></table>
        }
        @if (item.ingredients) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th>Ingredients</th></tr>
            <tr>
              <td>
                <ul>
                  @for (ing of item.ingredients; track ing) {
                    <li>
                      @if (ing.cat) {
                        <a  routerLink="/{{gameURL}}/categories/{{ing.cat.slug}}/{{language}}">{{ing.cat.name}} </a>
                      }
                      @if (ing.item) {
                        <a routerLink="/{{gameURL}}/items/{{ing.item.slug}}/{{language}}"    >{{ing.item.name}} </a>
                      }
                      x{{ing.quantity}}
                    </li>
                  }
                </ul>
              </td>
            </tr>
          </tbody></table>
        }
        @if (item.effectlines_set) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th colspan=2>Effects</th></tr>
            @for (eff of item.effectlines_set; track eff) {
              <tr>
                @if (item.ingredients) {
                  <td style="vertical-align:middle;text-align:center;">
                    <i style="color:{{colors[eff.color][1]}}" class="fa-{{colors[eff.color][0]}}"></i>
                  </td>
                }
                <td>
                  <ul style="list-style:none;">
                    @for (e of eff.data; track e) {
                      <li>
                        <ng-template #effPopover>
                          @if (e.effect) {
                            <p>{{e.effect.desc}}</p>
                          }
                          @if (e.effect) {
                            <a routerLink="/{{gameURL}}/effects/{{e.effect.slug}}/{{language}}">More info...</a>
                          }
                        </ng-template>
                        @if (e.effect) {
                          <a    [popover]="effPopover" [popoverTitle]="e.effect.name" (click)="$event.preventDefault();" href="/{{gameURL}}/effects/{{e.effect.slug}}/{{language}}">{{e.effect.name}}</a>
                        }
                        @if (e.component) {
                          {{e.component.name}} {{e.component.value}} <i class="fa-{{colors[e.component.color][0]}}" style="color:{{colors[e.component.color][1]}};"></i>
                        }
                        @if (e.num && item.ingredients) {
                          <span> ({{e.num}})</span>
                        }
                      </li>
                    }
                  </ul>
                </td>
              </tr>
            }
          </tbody></table>
        }
        @if (item.fixed_components || item.random_components) {
          <table class="tbl"><tbody>
            @if (item.fixed_components) {
              <tr class="table-dark-center">
                <th>
                  Fixed Components
                </th>
              </tr>
            }
            @for (comp of item.fixed_components; track comp) {
              <tr>
                <td>
                  {{comp.name}} {{comp.value}} <i class="fa-{{colors[comp.color][0]}}" style="color:{{colors[comp.color][1]}};"></i>
                </td>
              </tr>
            }
            @if (item.random_components) {
              <tr class="table-dark-center">
                <th>
                  Random Components
                </th>
              </tr>
            }
            @for (comp of item.random_components; track comp) {
              <tr>
                <td>
                  {{comp.name}} {{comp.value}} <i class="fa-{{colors[comp.color][0]}}" style="color:{{colors[comp.color][1]}};"></i>
                </td>
              </tr>
            }
          </tbody></table>
        }
        @if (item.equip) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th colspan=2>Stats</th></tr>
            <tr><td style="padding-top:0.2rem;text-align:right;width:50%;"><b>HP </b></td> <td style="padding-top:0.2rem;padding-left:0.5em;">{{item.equip.hp}}</td></tr>
            <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>MP </b></td> <td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.mp}}</td></tr>
            <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>ATK </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.atk}}</td></tr>
            <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>DEF </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.dfn}}</td></tr>
            <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>SPD </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.spd}}</td></tr>
            @if (item.dmin) {
              <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>DMG Min </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.dmin}}</td></tr>
            }
            @if (item.dmax) {
              <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>DMG Max </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.dmax}}</td></tr>
            }
          </tbody></table>
        }
        @if (item.chars) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th>Characters</th></tr>
            <tr><td>@for (char of item.chars; track char) {
              <img src="{{imgURL}}characters/{{char.slug}}.webp" style="max-height:3em;" alt="{{char.slug}}">
            }</td></tr>
          </tbody></table>
        }
        @if (item.catalysts) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th colspan="2">Catalysts Used</th></tr>
            @for (cat of item.catalysts; track cat) {
              <tr>
                <td style="text-align: center;width:15%;"><i class="atelier atelier-{{cat.icon}}"></i></td>
                <td>
                  <a routerLink="/{{gameURL}}/catalysts/{{language}}"
                    [queryParams]="{search: cat.name}">
                    {{cat.name}}
                  </a>
                </td>
              </tr>
            }
          </tbody></table>
        }
        @if (item.catalyst) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th colspan="2">Catalyst Data ({{item.catalyst.size}}x{{item.catalyst.size}})</th></tr>
            @for (j of [].constructor(item.catalyst.color.length); track j; let i = $index) {
              <tr>
                <td style="text-align:center;width:15%;">
                  <i class="fa-{{colors[item.catalyst.color[i]][0]}}" style="color:{{colors[item.catalyst.color[i]][1]}}"></i>
                </td>
                <td>
                  {{item.catalyst.action[i]}}
                </td>
              </tr>
            }
          </tbody></table>
        }
        @if (item.masteryline_set && item.ingredients) {
          <table class="tbl"><tbody>
            <tr class="table-dark-center"><th colspan="2">Proficiency Data</th></tr>
            @for (masteryline of item.masteryline_set; track masteryline) {
              <tr>
                <td style="vertical-align:middle;text-align:center;width:15%;">{{masteryline.level}}</td>
                <td>
                  <ul>
                    @for (mastery of masteryline.masteries; track mastery) {
                      <li>{{mastery.desc}}</li>
                    }
                  </ul>
                </td>
              </tr>
            }
          </tbody></table>
        }
      </div>
    </div>
    @if (showNav) {
      <div class="col-md-3" ></div>
    }
  </div>
}