<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Location: '+location.name"></Breadcrumb>
<h1>{{location.name}}</h1>
    <div style="justify-content: space-between; margin-left: 0.5em; margin-right: 0.5em;margin-bottom:0.5em;" class="row">
    <div class="table-of-contents">
        <b>Table of Contents</b>
        <ol>
           <ng-container *ngFor="let area of location.areas">
            <li *ngIf="!area.subarea" >
                <a href="/{{gameURL}}/locations/{{location.slugname}}/{{language}}#{{area.slugname}}" (click)="$event.preventDefault();scroll(area.slugname, section+'/'+location.slugname)">{{area.name}}</a>
            </li>
          </ng-container>
        </ol>
    </div>
    <div class="col-md-3" ></div>
    </div>

<div (click)="historyService.hrefClicked($event);" [innerHTML]="location.note"></div>

<p *ngIf="location.grade"><b>Grade Values from Relic Farming:</b> {{location.grade}}</p>

<table class="tbl border table-shrink">
  <tr class="table-dark-center">
    <th>Relic</th>
    <th>Disassembly</th>
    <th>Area</th>
  </tr>
  <tr *ngFor="let relic of location.relic_set">
    <td><a routerLink="/{{gameURL}}/items/{{relic.item.slugname}}/{{language}}">{{relic.item.name}}</a></td>
    <td><ul class="hide-bullets"><li *ngFor="let d of relic.item.disassembly_set[0].dis"><a routerLink="/{{gameURL}}/items/{{d.slugname}}/{{language}}">{{d.name}}</a></li></ul></td>
    <td><ul class="hide-bullets"><li *ngFor="let a of relic.area">{{a.name}}</li></ul></td>
  </tr>
</table>

<table class="tbl border table-shrink">
  <tr class="table-dark-center">
    <th>Strong Monsters</th>
  </tr>
  <tr>
    <td>
    <ul class="hide-bullets">
     <div style="column-count: 3;">
      <li *ngFor="let mon of location.strong">
        <a routerLink="/{{gameURL}}/monsters/{{mon.slugname}}/{{language}}">{{mon.name}}</a> ({{mon.level}})
      </li>
      </div>
    </ul>
    </td>
  </tr>
</table> 

<ng-container *ngFor="let area of location.areas">
  <h2 *ngIf="!area.subarea" id="{{area.slugname}}">{{area.name}}</h2>
  <h3 *ngIf="area.subarea">{{area.subarea}}</h3>
  <div [innerHTML]="area.note"></div>
  <table class="tbl border table-shrink">
    <tr class="table-dark-center">
      <th *ngIf="area.items" >Items</th>
      <th *ngIf="area.monsters">Monsters</th>
      <th *ngIf="area.fieldevent">Field Effects</th>
    </tr>
    <tr>
      <td *ngIf="area.items">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.items"><a routerLink="/{{gameURL}}/items/{{it.slugname}}/{{language}}">{{it.name}}</a></li>
          <ng-container *ngIf="area.rare"><li *ngFor="let it of area.rare"><a routerLink="/{{gameURL}}/items/{{it.slugname}}/{{language}}">{{it.name}}</a> (Rare)</li></ng-container>
          <ng-container *ngIf="area.maxitem"><li *ngFor="let it of area.maxitem"><a routerLink="/{{gameURL}}/items/{{it.slugname}}/{{language}}">{{it.name}}</a> (Max)</li></ng-container>
        </ul>
      </td>
      <td *ngIf="area.monsters">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.monsters"><a routerLink="/{{gameURL}}/monsters/{{it.slugname}}/{{language}}">{{it.name}}</a></li>
        </ul>
      </td>
      <td *ngIf="area.fieldevent">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.fieldevent">{{it.name}}</li>
        </ul>
      </td>
    </tr>
  </table>
</ng-container>
</ng-container>