<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="!error">
<nav style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/escha">Atelier Escha &amp; Logy</a></li>
    <li class="breadcrumb-item active" aria-current="page">Location: {{location.name}}</li>
  </ol>
</nav>
<h1>{{location.name}}</h1>
    <div style="justify-content: space-between; margin-left: 0.5em; margin-right: 0.5em;margin-bottom:0.5em;" class="row">
    <div class="table-of-contents">
        <b>Table of Contents</b>
        <ol>
            <li *ngFor="let area of location.areas">
                <a [routerLink]='"."' [fragment]="area.slugname">{{area.name}}</a>
            </li>
        </ol>
    </div>
    <language-settings class="col-md-3" section="escha"></language-settings>
    </div>


<div [innerHTML]="location.note"></div>

<p *ngIf="location.grade"><b>Grade Values from Relic Farming:</b> {{location.grade}}</p>

<table class="table border table-shrink">
  <tr>
    <th class="table-dark-center">Relic</th>
    <th class="table-dark-center">Disassembly</th>
    <th class="table-dark-center">Area</th>
  </tr>
  <tr *ngFor="let relic of location.relic_set">
    <td><a href="/escha/items/{{relic.item.slugname}}">{{relic.item.name}}</a></td>
    <td><ul class="hide-bullets"><li *ngFor="let d of relic.item.disassembly_set[0].dis"><a href="/escha/items/{{d.slugname}}">{{d.name}}</a></li></ul></td>
    <td><ul class="hide-bullets"><li *ngFor="let a of relic.area"><a href="/escha/locations/{{location.slugname}}#{{a.slugname}}">{{a.name}}</a></li></ul></td>
  </tr>
</table>

<table class="table border table-shrink">
  <tr>
    <th class="table-dark-center">Strong Monsters</th>
  </tr>
  <tr>
    <td>
    <ul class="hide-bullets">
     <div style="column-count: 3;">
      <li *ngFor="let mon of location.strong">
        <a href="/escha/monsters/{{mon.slugname}}">{{mon.name}}</a> ({{mon.level}})
      </li>
      </div>
    </ul>
    </td>
  </tr>
</table> 

<ng-container *ngFor="let area of location.areas">
  <h2 *ngIf="!area.subarea" id="{{area.slugname}}">{{area.name}}</h2>
  <h3 *ngIf="area.subarea">{{area.subarea}}</h3>
  <div [innerHTML]="area.note"></div>
  <table class="table border table-shrink">
    <tr>
      <th *ngIf="area.items" class="table-dark-center">Items</th>
      <th *ngIf="area.monsters" class="table-dark-center">Monsters</th>
      <th *ngIf="area.fieldevent" class="table-dark-center">Field Effects</th>
    </tr>
    <tr>
      <td *ngIf="area.items">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.items"><a href="/escha/items/{{it.slugname}}">{{it.name}}</a></li>
          <ng-container *ngIf="area.rare"><li *ngFor="let it of area.rare"><a href="/escha/items/{{it.slugname}}">{{it.name}}</a> (Rare)</li></ng-container>
          <ng-container *ngIf="area.maxitem"><li *ngFor="let it of area.maxitem"><a href="/escha/items/{{it.slugname}}">{{it.name}}</a> (Max)</li></ng-container>
        </ul>
      </td>
      <td *ngIf="area.monsters">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.monsters"><a href="/escha/monsters/{{it.slugname}}">{{it.name}}</a></li>
        </ul>
      </td>
      <td *ngIf="area.fieldevent">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.fieldevent">{{it.name}}</li>
        </ul>
      </td>
    </tr>
  </table>
</ng-container>
</div>