<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="filteredProperties">
<nav style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" (click)="historyService.history(); $event.preventDefault();">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}" (click)="historyService.history(gameURL); $event.preventDefault();">{{gameTitle}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Properties</li>
  </ol>
</nav>
<h1>Properties</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Transfers to...</mat-label>
          <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="1" selected> <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-type-synthesis"></mat-icon> Any</mat-option>
            <mat-option value="2"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-bomb"  ></mat-icon> Attack</mat-option>
            <mat-option value="3"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-heal"    ></mat-icon> Heal</mat-option>
            <mat-option value="4"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-buff"  ></mat-icon> Buff</mat-option>
            <mat-option value="5"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-weapon"    ></mat-icon> Weapon</mat-option>
            <mat-option value="6"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-armor"  ></mat-icon> Armor</mat-option>
            <mat-option value="7"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-escha-accessory"   ></mat-icon> Accessory</mat-option>
            <mat-select-trigger *ngIf="f.transfers.value == 1">
               Any
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 2">
               Bomb
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 3">
               Heal
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 4">
               Buff
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 5">
               Weapon
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 6">
               Armor
            </mat-select-trigger>
            <mat-select-trigger *ngIf="f.transfers.value == 7">
               Accessory
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
    </form>
  </div>
<div *ngFor="let props of filteredProperties | async| pair " class="row">
  <div *ngFor="let prop of props" class="spacer col-md-5 mx-auto">
   <div *ngIf="prop">
    <div class="card allheight">
      <div class="card-body griddisplay">
        <div class="flex">
          <h4 class="card-title"><a style="color: black;" (click)="openModal(propertyModal, prop.slugname); $event.preventDefault();" href="/{{gameURL}}/properties/{{prop.slugname}}/{{language}}">{{prop.name}}</a></h4>
          <div><b>PP: </b>{{prop.points}}</div>
        </div>
        <div class="card-text">
          <p *ngIf="prop.combo1">
            <a href="/{{gameURL}}/properties/{{prop.combo1.slugname}}/{{language}}" (click)="historyService.history(gameURL,'properties',language,prop.combo1.slugname); $event.preventDefault();">{{prop.combo1.name}}</a> <span> x </span>
            <a href="/{{gameURL}}/properties/{{prop.combo2.slugname}}/{{language}}" (click)="historyService.history(gameURL,'properties',language,prop.combo2.slugname); $event.preventDefault();">{{prop.combo2.name}}</a>
            <span *ngIf="prop.combo3"> x </span> <a *ngIf="prop.combo3" href="/{{gameURL}}/properties/{{prop.combo3.slugname}}/{{language}}" (click)="historyService.history(gameURL,'properties',language,prop.combo3.slugname); $event.preventDefault();">{{prop.combo3.name}}</a>
          </p>
          <p>{{prop.desc}}</p>
          <div *ngIf="prop.item_set">
            <b>Items:</b>
            <ul>
              <li *ngIf="prop.item_set.length >= 1"><a href="/{{gameURL}}/items/{{prop.item_set[0].slugname}}/{{language}}" (click)="historyService.history(gameURL,'items',language,prop.item_set[0].slugname); $event.preventDefault();">{{prop.item_set[0].name}}</a></li>
              <li *ngIf="prop.item_set.length >= 2"><a href="/{{gameURL}}/items/{{prop.item_set[1].slugname}}/{{language}}" (click)="historyService.history(gameURL,'items',language,prop.item_set[1].slugname); $event.preventDefault();">{{prop.item_set[1].name}}</a></li>
              <li *ngIf="prop.item_set.length >= 3"><a href="/{{gameURL}}/items/{{prop.item_set[2].slugname}}/{{language}}" (click)="historyService.history(gameURL,'items',language,prop.item_set[2].slugname); $event.preventDefault();">{{prop.item_set[2].name}}</a></li>
              <li *ngIf="prop.item_set.length >= 4"><a (click)="openModal(propertyModal, prop.slugname); $event.preventDefault();" href="/{{gameURL}}/properties/{{prop.slugname}}/{{language}}">See more...</a></li>
            </ul>
          <p *ngIf="prop.grade >= 0"><a href="javascript:void(0)"
              tooltip="A measure of rarity. This number determines where properties appear." container="true">Grade:</a>
            {{prop.grade}}
          </p>
        </div>
        <div class="flex card-text bottom">
          <div><i *ngIf="prop.bomb"      class="atelier atelier-escha-bomb"></i>     <i style="color: lightgray;" *ngIf="!prop.bomb"      class="atelier atelier-escha-bomb"></i></div>
          <div><i *ngIf="prop.heal"      class="atelier atelier-escha-heal"></i>     <i style="color: lightgray;" *ngIf="!prop.heal"      class="atelier atelier-escha-heal"></i>     </div>
          <div><i *ngIf="prop.buff"      class="atelier atelier-escha-buff"></i>     <i style="color: lightgray;" *ngIf="!prop.buff"      class="atelier atelier-escha-buff"></i>   </div>
          <div><i *ngIf="prop.weapon"    class="atelier atelier-escha-weapon"></i>   <i style="color: lightgray;" *ngIf="!prop.weapon"    class="atelier atelier-escha-weapon"></i>     </div>
          <div><i *ngIf="prop.armor"     class="atelier atelier-escha-armor"></i>    <i style="color: lightgray;" *ngIf="!prop.armor"     class="atelier atelier-escha-armor"></i>   </div>
          <div><i *ngIf="prop.accessory" class="atelier atelier-escha-accessory"></i><i style="color: lightgray;" *ngIf="!prop.accessory" class="atelier atelier-escha-accessory"></i>    </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<ng-template #propertyModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
    <a15-property slugname="{{property}}" [showNav]="false"></a15-property>
  </div>
</ng-template>
</div>