@if (data; as property) {
  <ng-template #template let-property="property" let-url="url">
    @if (url) {
      <a (click)="$event.preventDefault(); buttonClicked.emit(property.slug);" href="/{{gameURL}}/properties/{{property.slug}}/{{language}}">{{property.name}}</a>
    }
    @else {
      <a routerLink="/{{gameURL}}/properties/{{property.slug}}/{{language}}">{{property.name}}</a>
    }
  </ng-template>
    <div [class]="url || inputSlug ? 'card card-body' : 'card card-body card-small'"
      [style]="url ? 'height: 100%;' : null">
        <h4 class="card-title" style="margin-right:6rem;">
          @if (url) {
            <a (click)="$event.preventDefault(); buttonClicked.emit(property.slug);"
              href="{{url}}">{{property.name}}</a>
          }
          @else {
            {{property.name}}
          }
        </h4>
      <b class="card-icon-position">PP {{property.points}}</b>
      @if (property.combo1) {
        <p>
          <ng-content *ngTemplateOutlet="template;context:{property:property.combo1,url:url}"></ng-content> x
          <ng-content *ngTemplateOutlet="template;context:{property:property.combo2,url:url}"></ng-content>
          @if (property.combo3) {
            x <ng-content *ngTemplateOutlet="template;context:{property:property.combo3,url:url}"></ng-content>
          }
        </p>
      }
      <p>{{property.desc}}</p>
      @if (property.item_set) {
        <b>Items:</b>
        <ul class="two-column">
          @for (item of property.item_set; track item; let index=$index) {
            @if (index < 3 || !url) {
              <li><a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a></li>
            }
            @else if(index == 4) {
              <li><a (click)="$event.preventDefault(); buttonClicked.emit(property.slug);" href="/{{gameURL}}/properties/{{property.slug}}/{{language}}">View more...</a></li>
            }
          }
        </ul>
        @if (property.grade) {
            <p><tooltip tip="A measure of rarity. This number determines where properties appear.">Grade: </tooltip>
            {{property.grade}}
          </p>
        }
      }
    <div class="flex bottom" style="height:100%;">
      <i class="trait-color{{property.bomb}}      atelier atelier-np atelier-escha-bomb"></i>
      <i class="trait-color{{property.heal}}      atelier atelier-np atelier-escha-heal"></i>
      <i class="trait-color{{property.buff}}      atelier atelier-np atelier-escha-buff"></i>
      <i class="trait-color{{property.weapon}}    atelier atelier-np atelier-escha-weapon"></i>
      <i class="trait-color{{property.armor}}     atelier atelier-np atelier-escha-armor"></i>
      <i class="trait-color{{property.accessory}} atelier atelier-np atelier-escha-accessory"></i>
    </div>
  </div>
}