<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="data as property">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Properties', '/'+gameURL+'/properties/'+language]]" [current]="property.name"></Breadcrumb>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <div class="flex">
      <h4 class="card-title">{{property.name}}</h4>
      <b>PP {{property.points}}</b>
    </div>
    <p *ngIf="property.combo1">
      <a routerLink="/{{gameURL}}/properties/{{property.combo1.slugname}}/{{language}}">{{property.combo1.name}}</a> <span> x </span>
      <a routerLink="/{{gameURL}}/properties/{{property.combo2.slugname}}/{{language}}">{{property.combo2.name}}</a>
      <span *ngIf="property.combo3"> x </span> <a *ngIf="property.combo3" routerLink="/{{gameURL}}/properties/{{property.combo3.slugname}}/{{language}}">{{property.combo3.name}}</a>
    </p>
    <p>{{property.desc}}</p>
    <ng-container *ngIf="property.item_set">
      <b>Items:</b>
        <ul>
          <li *ngFor="let item of property.item_set"><a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a></li>
        </ul>
      <p *ngIf="property.grade"><a href="javascript:void(0)" (click)="$event.preventDefault();"
          tooltip="A measure of rarity. This number determines where properties appear." container="true">Grade:</a>
        {{property.grade}}
      </p>
    </ng-container>
    <div class="flex bottom">
      <i class="trait-color{{property.bomb}}      atelier atelier-np atelier-escha-bomb"></i>
      <i class="trait-color{{property.heal}}      atelier atelier-np atelier-escha-heal"></i>
      <i class="trait-color{{property.buff}}      atelier atelier-np atelier-escha-buff"></i>
      <i class="trait-color{{property.weapon}}    atelier atelier-np atelier-escha-weapon"></i>
      <i class="trait-color{{property.armor}}     atelier atelier-np atelier-escha-armor"></i>
      <i class="trait-color{{property.accessory}} atelier atelier-np atelier-escha-accessory"></i>
    </div>
  </div>
  <div *ngIf="showNav" class="col-md-3" ></div>
</div>
</ng-container>