@if (!error) {
  <ng-template #template let-prop="item">
    <a15-property
      (buttonClicked)="openDialog($event)"
      [inputData]="prop"
      [gameURL]="gameURL"
      url="/{{gameURL}}/properties/{{prop.slug}}/{{language}}">
    </a15-property>
  </ng-template>
  <filter-list
    [list]="filteredProperties"
    [name]="a15service.properties_translation[language]"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-6" appearance="outline">
        <mat-label>{{a15service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <filter-buttons svg="A15.svg?v=1" class="grid-6"
        [list]="[
          { ctrl: pageForm.controls.bomb,  icon: 'bomb' },
          { ctrl: pageForm.controls.heal,  icon: 'heal' },
          { ctrl: pageForm.controls.buff,  icon: 'buff' },
          { ctrl: pageForm.controls.weapon,  icon: 'weapon' },
          { ctrl: pageForm.controls.armor,  icon: 'armor' },
          { ctrl: pageForm.controls.accessory,  icon: 'accessory' }
        ]">
      </filter-buttons>
    </form>
  </filter-list>
}