<style>
    .a25-category-frame-color {
        fill: #000000;
    }
    .a25-category-icon-color-1 {
        fill: #a0a0a0;
    }
    .a25-category-icon-color-2 {
        fill: #ffffff;
    }
    .red {
        fill: #b63c3c;
    }
    .blue {
        fill: #3883ad;
    }
    .green {
        fill: #3eb880;
    }
    .yellow {
        fill: #c9af47;
    }
    .purple {
        fill: #ac48b9;
    }
    .black {
        fill: black;
    }
</style>
@switch (kind) {
    @case("accessory") {
      <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
        <defs>
            <rect id="canvas-acc" width="100%" height="100%" />
            <clipPath id="clq1-acc"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
            <clipPath id="clq2-acc"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
            <clipPath id="clq3-acc"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
            <clipPath id="clq4-acc"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
            <path id="frame-acc" d="M 250.0 0 L 500 250.0 L 250.0 500 L 0 250.0 L 250.0 0 Z" />
            <path id="icon-acc-color-1-path"
                d="M304.654,199.836a14.618,14.618,0,0,0-5.925,3.567L283.953,218.18a90.992,90.992,0,0,0-66.754-.47l-14.475-14.475a14.627,14.627,0,0,0-5.794-3.524L181.2,138l67.2-40,28.8,43.2h-56l11.2,59.2h32l12.8-59.2,43.2-2.933Z"
                transform="translate(250.0 250.0)
                    scale(1.0)
                    translate(-250.0 -250.0)"/>
            <path id="icon-acc-color-2-path"
                d="M250,394a91.185,91.185,0,0,0,67.021-153.031l9.637-9.637c5.486-5.486,5.766-14.1.624-19.243l-9.31-9.31c-5.141-5.141-13.757-4.862-19.243.624l-14.76,14.761A90.888,90.888,0,0,0,250,211.6v35.2a56,56,0,0,1,0,112h0a56,56,0,1,1,0-112V211.6a90.925,90.925,0,0,0-32.806,6.105l-14.47-14.47c-5.486-5.486-14.1-5.765-19.243-.624l-9.31,9.31c-5.141,5.141-4.862,13.757.624,19.243l8.975,8.975A91.174,91.174,0,0,0,250,394h0M248.4,98l28.8,43.2h-56l11.2,59.2h32l12.8-59.2,43.2-2.933Z"
                transform="translate(250.0 250.0)
                    scale(1.0)
                    translate(-250.0 -250.0)"/>
            <mask id="subtract-acc-icon"><use href="#canvas-acc" fill="white"/><use href="#icon-acc-color-1-path" fill="black"/><use href="#icon-acc-color-2-path" fill="black"/></mask>
        </defs>
        <g mask="url(#subtract-acc-icon)">
            <use href="#frame-acc" class="a25-category-frame-color" />
            <use href="#frame-acc" class="{{colors[0]}}" clip-path="url(#clq1-acc)" />
            <use href="#frame-acc" class="{{colors[1]}}" clip-path="url(#clq2-acc)" />
            <use href="#frame-acc" class="{{colors[2]}}" clip-path="url(#clq3-acc)" />
            <use href="#frame-acc" class="{{colors[0]}}" clip-path="url(#clq4-acc)" />
        </g>
        <use href="#icon-acc-color-1-path" class="a25-category-icon-color-1" />
        <use href="#icon-acc-color-2-path" class="a25-category-icon-color-2" />
      </svg>
    }
    @case("armor") {
        <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
            <defs>
                <rect id="canvas-amr" width="100%" height="100%" />
                <clipPath id="clq1-amr"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq2-amr"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq3-amr"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq4-amr"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
                <path id="frame-amr" d="M 250.0 0 L 500 250.0 L 250.0 500 L 0 250.0 L 250.0 0 Z" />
                <path id="icon-amr-color-1-path"
                    d="M252.913,336.85c-61.535-24.971-72.891-57.766-72.891-133.016,0.246-2.475.647-5.941,3.352-6.931l69.539-24.753v164.7Z"
                    transform="translate(250.0 250.0)
                        scale(1.1)
                        translate(-250.0 -250.0)"/>
                <path id="icon-amr-color-2-path"
                    d="M253,131.5h0L355,169c4.125,1.5,8.625,6.75,9,10.5,0,101.792,3.121,150-111,199.5h0c-109.121-42-111-97.708-111-199.5,0.375-3.75,4.875-9,9-10.5l102-37.5L252.25,154l-82.014,30.227c-3.316,1.209-5.434,5.441-5.736,8.464,0,82.05,6.407,129.684,87.75,160.809h0C346.043,319.375,340,262.366,340,192.691c-0.3-3.023-2.42-7.255-5.737-8.464L252.25,154h0  M252.913,172.15h0L321.126,196.9c2.705,0.99,3.106,4.456,3.352,6.931,0,65.421-.461,103.463-71.565,133.016h0V172.15Z"
                    transform="translate(250.0 250.0)
                        scale(1.1)
                        translate(-250.0 -250.0)"/>
                <mask id="subtract-amr-icon"><use href="#canvas-amr" fill="white"/><use href="#icon-amr-color-1-path" fill="black"/><use href="#icon-amr-color-2-path" fill="black"/></mask>
            </defs>
            <g mask="url(#subtract-amr-icon)">
                <use href="#frame-amr" class="a25-category-frame-color" />
                <use href="#frame-amr" class="{{colors[0]}}" clip-path="url(#clq1-amr)" />
                <use href="#frame-amr" class="{{colors[1]}}" clip-path="url(#clq2-amr)" />
                <use href="#frame-amr" class="{{colors[2]}}" clip-path="url(#clq3-amr)" />
                <use href="#frame-amr" class="{{colors[0]}}" clip-path="url(#clq4-amr)" />
            </g>
            <use href="#icon-amr-color-1-path" class="a25-category-icon-color-1" />
            <use href="#icon-amr-color-2-path" class="a25-category-icon-color-2" />
        </svg>
    }
    @case("attack") {
        <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
            <defs>
                <rect id="canvas-atk" width="100%" height="100%" />
                <clipPath id="clq1-atk"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq2-atk"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq3-atk"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq4-atk"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
                <circle id="frame-atk" cx="250.0" cy="250.0" r="250.0" />
                <path id="icon-atk-color-1-path"
                    d="M319.832,222.516c2.334,2.532,4.51,8.959,4.51,8.959l14.938,16.208,23.3-21.478,3.435-12.536,33.248-2.547,1.867,2.026-5.24,32.939-12.77,2.405-23.3,21.478,14.938,16.209s6.227,2.691,8.561,5.224c2.49,2.7,4.451,18.382.062,22.428-4.726,4.358-20.4-1.805-20.4-1.805L344.31,291.765s-68.63,82.015-78.781,91.374c-15.53,14.319-71.957,19.5-71.957,19.5s7.879-57.857,23.409-72.176c10.151-9.359,98.387-70.1,98.387-70.1L296.7,240.1s-3.934-15.11.793-19.468C301.877,216.585,317.343,219.814,319.832,222.516Z"
                    transform="translate(250.0 250.0)
                        scale(1.1)
                        translate(-250.0 -250.0)"/>
                <path id="icon-atk-color-2-path"
                    d="M226,272.4c18.133-42.667,51.2-81.067,72-89.6-31.632,38.633-39.188,82.054-42.156,119.052-18.34,12.967-34.814,24.876-38.863,28.609C202.793,343.542,195,392.935,193.753,401.38a49.368,49.368,0,0,1-12.553-.98c-43.546-10.794-61.333-91.2-36.8-195.2-0.533,29.333,6.4,56,16,80,14.4-83.733,96-176.533,195.2-185.6C255.465,144.313,233.467,227.067,226,272.4Z"
                    transform="translate(250.0 250.0)
                        scale(1.1)
                        translate(-250.0 -250.0)"/>
                <mask id="subtract-atk-icon"><use href="#canvas-atk" fill="white"/><use href="#icon-atk-color-1-path" fill="black"/><use href="#icon-atk-color-2-path" fill="black"/></mask>
            </defs>
            <g mask="url(#subtract-atk-icon)">
                <use href="#frame-atk" class="a25-category-frame-color" />
                <use href="#frame-atk" class="{{colors[0]}}" clip-path="url(#clq1-atk)" />
                <use href="#frame-atk" class="{{colors[2]}}" clip-path="url(#clq2-atk)" />
                <use href="#frame-atk" class="{{colors[1]}}" clip-path="url(#clq3-atk)" />
                <use href="#frame-atk" class="{{colors[0]}}" clip-path="url(#clq4-atk)" />
            </g>
            <use href="#icon-atk-color-1-path" class="a25-category-icon-color-1" />
            <use href="#icon-atk-color-2-path" class="a25-category-icon-color-2" />
        </svg>
    }
    @case("buff") {
        <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
          <defs>
              <rect id="canvas-buff" width="100%" height="100%" />
              <clipPath id="clq1-buff"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq2-buff"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq3-buff"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq4-buff"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
              <circle id="frame-buff" cx="250.0" cy="250.0" r="250.0" />
              <path id="icon-buff-color-1-path"
                  d="M176.4,221.2L242,304.4H211.6v72H142.8v-72h-32Z"
                  transform="translate(250.0 250.0)
                      scale(1.1)
                      translate(-250.0 -250.0)"/>
              <path id="icon-buff-color-2-path"
                  d="M320.4,256.4c22.4,0,41.6,24.267,41.6,48,0,28.8-8,54.08-8,78.4H222.009V314.962H264L223.814,263.9c6.674-4.663,14.33-7.5,19.786-7.5,7.033,0,10.633-.047,19.2,5.12v-7.292a75.531,75.531,0,0,1-19.112-10.97C229.029,231.84,219.6,190.021,219.6,170a62.4,62.4,0,1,1,124.8,0c0,20.121-9.523,62.018-24.309,73.429A75.8,75.8,0,0,1,301.2,254.224v7.3C309.767,256.353,313.367,256.4,320.4,256.4Z"
                  transform="translate(250.0 250.0)
                      scale(1.1)
                      translate(-250.0 -250.0)"/>
              <mask id="subtract-buff-icon"><use href="#canvas-buff" fill="white"/><use href="#icon-buff-color-1-path" fill="black"/><use href="#icon-buff-color-2-path" fill="black"/></mask>
          </defs>
          <g mask="url(#subtract-buff-icon)">
              <use href="#frame-buff" class="a25-category-frame-color" />
              <use href="#frame-buff" class="{{colors[0]}}" clip-path="url(#clq1-buff)" />
              <use href="#frame-buff" class="{{colors[2]}}" clip-path="url(#clq2-buff)" />
              <use href="#frame-buff" class="{{colors[1]}}" clip-path="url(#clq3-buff)" />
              <use href="#frame-buff" class="{{colors[0]}}" clip-path="url(#clq4-buff)" />
          </g>
          <use href="#icon-buff-color-1-path" class="a25-category-icon-color-1" />
          <use href="#icon-buff-color-2-path" class="a25-category-icon-color-2" />
      </svg>
    }
    @case("debuff") {
        <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
          <defs>
              <rect id="canvas-dbf" width="100%" height="100%" />
              <clipPath id="clq1-dbf"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq2-dbf"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq3-dbf"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq4-dbf"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
              <circle id="frame-dbf" cx="250.0" cy="250.0" r="250.0" />
              <path id="icon-dbf-color-1-path"
                  d="M123.6,304.4h-32l68.8,84.8,62.4-84.8H189.2V230.8H123.525Z"
                  transform="translate(250.0 250.0)
                      scale(1.1)
                      translate(-250.0 -250.0)"/>
              <path id="icon-dbf-color-2-path"
                  d="M171.946,223.36c3.312-9.6,7.774-17.5,13.218-26.155h0C206.52,163.263,242.983,139.6,284.4,139.6s77.921,23.669,99.283,57.624l-26.54-1.309c-0.622-2.723-6.989-4.44-11.912-3.772l-4.658,3.73L232.5,195.849l-4.979-3.706s-8.748.517-10.714,3.7h0c-1.966,3.185,3.666,9.255,3.666,9.255l27.49,12.957-31.156,18.509c-3.733,9.3,5.8,12.35,12.546,9.255l32.989-27.764L232.5,195.849l108.073,0.024-29.62,23.716c17.079,16.041,39.69,25.617,39.69,25.617,5.97,0.953,11.929-5.159,6.99-9.149l-30.669-16.468,28.865-18.3a7.148,7.148,0,0,0,1.314-5.377l26.54,1.309a128.335,128.335,0,0,1,19.892,65.523l-78.135.028a9.314,9.314,0,0,0-4.64-6.375s-11.583-8-34-8a82.558,82.558,0,0,0-30.4,6.4c-10.426,4.465-10.059,21.232,0,16.4a82.558,82.558,0,0,1,30.4-6.4h0c22.417,0,32.4,8,32.4,8,4.345,1.943,7.233-5.1,6.24-10.025l78.135-.028q0.026,1.226.025,2.453c0,65.832-72.568,92-119.2,92h0c-22.522,0-51.079-6.124-74.6-19.855l29.6-40.311H196.8v-73.69Z"
                  transform="translate(250.0 250.0)
                      scale(1.1)
                      translate(-250.0 -250.0)"/>
              <mask id="subtract-dbf-icon"><use href="#canvas-dbf" fill="white"/><use href="#icon-dbf-color-1-path" fill="black"/><use href="#icon-dbf-color-2-path" fill="black"/></mask>
          </defs>
          <g mask="url(#subtract-dbf-icon)">
              <use href="#frame-dbf" class="a25-category-frame-color" />
              <use href="#frame-dbf" class="{{colors[0]}}" clip-path="url(#clq1-dbf)" />
              <use href="#frame-dbf" class="{{colors[2]}}" clip-path="url(#clq2-dbf)" />
              <use href="#frame-dbf" class="{{colors[1]}}" clip-path="url(#clq3-dbf)" />
              <use href="#frame-dbf" class="{{colors[0]}}" clip-path="url(#clq4-dbf)" />
          </g>
          <use href="#icon-dbf-color-1-path" class="a25-category-icon-color-1" />
          <use href="#icon-dbf-color-2-path" class="a25-category-icon-color-2" />
      </svg>
    }
    @case("healing") {
        <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
          <defs>
              <rect id="canvas-heal" width="100%" height="100%" />
              <clipPath id="clq1-heal"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq2-heal"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq3-heal"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
              <clipPath id="clq4-heal"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
              <circle id="frame-heal" cx="250.0" cy="250.0" r="250.0" />
              <path id="icon-heal-color-1-path"
                  d="Z"
                  transform="translate(250.0 250.0)
                      scale(1.2)
                      translate(-250.0 -250.0)"/>
              <path id="icon-heal-color-2-path"
                  d="M325,256.409h-1.2c-5.379-62.067-16.813-69.536-62.6-77.307v-0.6c45.785-7.771,57.219-15.24,62.6-77.307H325c5.379,62.067,16.813,69.536,62.6,77.307v0.6C341.815,186.873,330.381,194.342,325,256.409Zm11.4,21.324C255.262,291.458,235,304.649,225.467,414.267h-2.134C213.8,304.649,193.538,291.458,112.4,277.733v-1.066c81.138-13.725,101.4-26.916,110.933-136.534h2.134C235,249.751,255.262,262.942,336.4,276.667v1.066Z"
                  transform="translate(250.0 250.0)
                      scale(1.2)
                      translate(-250.0 -250.0)"/>
              <mask id="subtract-heal-icon"><use href="#canvas-heal" fill="white"/><use href="#icon-heal-color-1-path" fill="black"/><use href="#icon-heal-color-2-path" fill="black"/></mask>
          </defs>
          <g mask="url(#subtract-heal-icon)">
              <use href="#frame-heal" class="a25-category-frame-color" />
              <use href="#frame-heal" class="{{colors[0]}}" clip-path="url(#clq1-heal)" />
              <use href="#frame-heal" class="{{colors[2]}}" clip-path="url(#clq2-heal)" />
              <use href="#frame-heal" class="{{colors[1]}}" clip-path="url(#clq3-heal)" />
              <use href="#frame-heal" class="{{colors[0]}}" clip-path="url(#clq4-heal)" />
          </g>
          <use href="#icon-heal-color-1-path" class="a25-category-icon-color-1" />
          <use href="#icon-heal-color-2-path" class="a25-category-icon-color-2" />
      </svg>
    }
    @case("weapon") {
        <svg version="1.1"  xml:space="preserve"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="4rem"  height="4rem"  viewBox="0 0 500 500">
            <defs>
                <rect id="canvas-wep" width="100%" height="100%" />
                <clipPath id="clq1-wep"><path id="q1" d="M 250.0 300.0 L 250.0 0 L 500 0 L 500 250.0 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq2-wep"><path id="q2" d="M 250.0 300.0 L 500 250.0 L 500 500 L 250.0 500 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq3-wep"><path id="q3" d="M 250.0 300.0 L 250.0 500 L 0 500 L 0 250.0 L 250.0 300.0 Z" /></clipPath>
                <clipPath id="clq4-wep"><path id="q4" d="M 250.0 300.0 L 0 250.0 L 0 0 L 250.0 0 L 250.0 300.0 Z" /></clipPath>
                <path id="frame-wep" d="M 250.0 0 L 500 250.0 L 250.0 500 L 0 250.0 L 250.0 0 Z" />
                <path id="icon-wep-color-1-path"
                    d="M253.216,85.984s-40.2,52.528-40.2,77.184c0,16.116,16.08,139.9,16.08,139.9h24.12V85.984Z"
                    transform="translate(250.0 250.0)
                        scale(1.0)
                        translate(-250.0 -250.0)"/>
                <path id="icon-wep-color-2-path"
                    d="M253.216,85.984h0s43.416,52.528,43.416,77.184c0,16.116-17.688,139.9-17.688,139.9H311.1s16.08,8.576,16.08,16.08c0,6.968-15.008,17.688-19.3,17.688-4.02,0-11.256-3.216-11.256-3.216H270.9V370.6l8.04,12.864-24.12,30.552h-3.216l-24.12-30.552,8.04-12.864V333.616H209.8s-7.236,3.216-11.256,3.216c-4.288,0-19.3-10.72-19.3-17.688,0-7.5,17.688-16.08,17.688-16.08h56.28V85.984Z"
                    transform="translate(250.0 250.0)
                        scale(1.0)
                        translate(-250.0 -250.0)"/>
                <mask id="subtract-wep-icon"><use href="#canvas-wep" fill="white"/><use href="#icon-wep-color-1-path" fill="black"/><use href="#icon-wep-color-2-path" fill="black"/></mask>
            </defs>
            <g mask="url(#subtract-wep-icon)">
                <use href="#frame-wep" class="a25-category-frame-color" />
                <use href="#frame-wep" class="{{colors[0]}}" clip-path="url(#clq1-wep)" />
                <use href="#frame-wep" class="{{colors[1]}}" clip-path="url(#clq2-wep)" />
                <use href="#frame-wep" class="{{colors[2]}}" clip-path="url(#clq3-wep)" />
                <use href="#frame-wep" class="{{colors[0]}}" clip-path="url(#clq4-wep)" />
            </g>
            <use href="#icon-wep-color-1-path" class="a25-category-icon-color-1" />
            <use href="#icon-wep-color-2-path" class="a25-category-icon-color-2" />
        </svg>
    }
}