@if (data; as recipes) {
  <h1 id="0">{{a25service.recipe_translation[language]}}</h1>
  <button (click)="scroll(0)" mat-mini-fab color="primary"  style="position:fixed;bottom:3%;right:10%;z-index:10;">
    <svg style="fill:white; height:1.5em; width: 1.5em;"><use href="/media/spritesheets/main.svg?v=1#fa-arrow-up"></use></svg>
  </button>
  <mat-tab-group class="tabs-overflow">
    @for (tab of recipes; track tab) {
      <mat-tab label="{{tab.name}}" style="overflow-x:visible;">
        <div class="table-of-contents" style="margin-top:1rem;">
          <ol>
            @for (page of tab.pages; track page; let chapter = $index) {
              <li>
                @if (page.desc) {
                  <a  href="#" (click)="$event.preventDefault();scroll(chapter+1)">{{page.desc}}</a>
                }
                @else {
                  <a href="#" (click)="$event.preventDefault();scroll(chapter+1)">Page {{chapter+1}}</a>
                }
              </li>
            }
          </ol>
        </div>
        @for (page of tab.pages; track page; let chapter = $index) {
          <h2  id="{{chapter+1}}">{{page.desc}}</h2>
          <div style="display:grid;gap:0;grid-template-columns:20% 20% 20% 20% 20%;max-width:600px;margin-left:auto;margin-right:auto;">
            @for (recipe of page.recipes; track recipe; let num = $index) {
              <popover [name]="recipe.name"
                [template]="popoverContent"
                url="/{{gameURL}}/items/synthesis/{{recipe.slug}}/{{language}}">
                <div style="position: relative;aspect-ratio: 1;">
                  <svg class="f{{recipe.rarity}} resleri-item-bg-sm">
                      <use href="/media/spritesheets/A25.svg?v=2#item-frame"></use>
                  </svg>
                  <img loading="lazy" class="resleri-item-frame-sm"
                    src="{{imgURL}}items/{{recipe.slug}}.webp" alt="{{recipe.name}}">
                </div>
              </popover>
              <ng-template #popoverContent>
                @if (recipe.unlocks) {
                  <ul>
                    @for (unlock of recipe.unlocks; track unlock) {
                      <li>{{unlock}}</li>
                    }
                  </ul>
                }
                <a class="svg-inline-link" routerLink="/{{gameURL}}/items/synthesis/{{recipe.slug}}/{{language}}" target="_blank">
                  {{a25service.details_translation[language]}}<svg><use href="/media/spritesheets/main.svg?v=1#fa-new-tab"></use></svg>
                </a>
              </ng-template>
              <ng-template #notfound><div style="aspect-ratio:1;margin-bottom:1.5rem;"></div></ng-template>
            }
            </div>
          }
        </mat-tab>
      }
    </mat-tab-group>
  }