@if (!error) {
  <h1>Synthesis Items</h1>
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-8" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select matNativeControl formControlName="kind">
            <mat-option value="Any">Any</mat-option>
            @if (data) {
              @for (type of data.combat_type; track type) {
                <mat-option value="{{type.slug}}">
                  {{type.name}}
                </mat-option>
              }
              @for (type of data.equipment_type; track type) {
                <mat-option value="{{type.slug}}">
                  {{type.name}}
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
          <mat-label>Has ingredient...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtering">
        </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Rarity</mat-label>
          <mat-select matNativeControl formControlName="rarity" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="0">Any</mat-option>
            <mat-option value="4">UR</mat-option>
            <mat-option value="3">SSR</mat-option>
            <mat-option value="2">SR</mat-option>
            <mat-option value="1">R</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (it of filteredItems | async; track identify($index, it)) {
      <div class="card card-body">
        <h4 class="card-title card-icon-space">
          <a (click)="openDialog(it.slug, $event);" href="/{{gameURL}}/items/synthesis/{{it.slug}}/{{language}}">{{it.name}}</a>
        </h4>
        <div class="card-icon-position">
          @if (it.combat) {
            <a25-icon [kind]="it.combat[0].kind" [colors]="it.colors ? it.colors : ['black','black', 'black']"></a25-icon>
          }
          @if (it.equip) {
            <a25-icon [kind]="it.equip[0].kind" [colors]="it.colors ? it.colors : ['black','black', 'black']"></a25-icon>
          }
        </div>
        <a class="card-item-display" (click)="openDialog(it.slug, $event);" href="/{{gameURL}}/items/synthesis/{{it.slug}}/{{language}}">
          <img loading="lazy" class="resleri-item-frame"  height="256" width="256"
            style="background-image:url({{imgURL}}svg/item-frame-{{it.rarity}}.svg)"
            src="{{imgURL}}items/{{it.slug}}.webp" alt="{{it.name}}">
          </a>
          <p style="padding-right:1.5rem;" [innerHTML]="replaceVal(it)"></p>
          @if (it.limit) {
            <p><b>Event: </b>{{it.limit}}</p>
          }
          <button (click)="openDialog(it.slug)" class="card-read-more-position" mat-mini-fab color="primary">
            <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
          </button>
        </div>
      }
    </div>
  }