<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="recipes">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Recipe Books'"></Breadcrumb>
<h1 id="0">Recipe Books</h1>
<language-settings style="margin-top: 1em;" class="col-md-3" section="{{gameURL}}"></language-settings>

<button (click)="scroll(0)" mat-mini-fab color="primary"  style="position:fixed;bottom:3%;right:10%;z-index:10;">
    <mat-icon fontSet="fas" fontIcon="fa-arrow-up" ></mat-icon>
</button>
<mat-tab-group class="tabs-overflow">
    <mat-tab *ngFor="let tab of recipes" label="{{tab.name}}" style="overflow-x:visible;">
        <div class="table-of-contents" style="margin-top:1rem;">
            <b>Table of Contents</b>
            <ol>
                <li *ngFor="let page of tab.pages; let chapter = index;">
                    <a *ngIf="page.desc"  href="#" (click)="$event.preventDefault();scroll(chapter+1)">{{page.desc}}</a>
                    <a *ngIf="!page.desc" href="#" (click)="$event.preventDefault();scroll(chapter+1)">Page {{chapter+1}}</a>
                </li>
            </ol>
        </div>
        <ng-container *ngFor="let page of tab.pages; let chapter = index;">
            <h2 *ngIf="page.desc"  id="{{chapter+1}}">{{page.desc}}</h2>
            <h2 *ngIf="!page.desc" id="{{chapter+1}}">Page {{chapter+1}}</h2>
            <div style="display:grid;gap:0;grid-template-columns:20% 20% 20% 20% 20%;">
                <ng-container *ngFor="let recipe of page.recipes; let num = index;">
                    <ng-container *ngFor="let it of [].constructor(getEmptySpace(page,num))">
                        <div style="aspect-ratio:1;margin-bottom:1.5rem;"></div>
                    </ng-container>
                    <a  href="/{{gameURL}}/items/synthesis/{{recipe.slug}}/{{language}}"
                        (click)="$event.preventDefault();"
                        [popover]="recipePopover"
                        [popoverTitle]="recipe.name">
                        <img class="resleri-item-frame" loading="lazy"
                            style="background-image:url({{imgURL}}svg/item-frame-{{recipe.rarity}}.svg)"
                            src="{{imgURL}}items/{{recipe.slug}}.webp">
                    </a>
                    <ng-template #recipePopover>
                        <ul *ngIf="recipe.unlocks">
                            <li *ngFor="let unlock of recipe.unlocks">{{unlock}}</li>
                        </ul>
                        <a routerLink="/{{gameURL}}/items/synthesis/{{recipe.slug}}/{{language}}" target="_blank">
                            More info<i class="new-tab fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </ng-template>
                    
                </ng-container>
                <ng-template #notfound><div style="aspect-ratio:1;margin-bottom:1.5rem;"></div></ng-template>
            </div>
        </ng-container>
    </mat-tab>
</mat-tab-group>


<ng-template #grid let-tab="tab">
    
</ng-template>
</ng-container>