@if (!error) {
  <h1>Fragment Effects</h1>
  <p>See <a routerLink="/{{gameURL}}/fragment-episodes">Fragment Episodes</a> for acqusition data.
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (frag of filteredFragmentEffects | async; track identify2($index, frag)) {
      <div class="card card-body">
        <h4 class="card-title" id="{{frag.slugname}}">
          {{frag.name}}
        </h4>
        <p>{{frag.effect}}</p>
        @if (frag.upgrades) {
          <b>Upgrade:</b>
        }
        @if (frag.upgrades) {
          <ul>
            @for (up of frag.upgrades; track up) {
              <li><a routerLink="/{{gameURL}}/items/{{up.item.slugname}}/{{language}}">{{up.item.name}}</a> x{{up.num}}</li>
            }
          </ul>
        }
      </div>
    }
  </div>
}