<h1>Settings</h1>

<tabset>
  <tab heading="Profile">
    <form [formGroup]="profileForm" (ngSubmit)="submitProfile()">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="textarea-input">Bio</label>
        <div class="col-md-10">
         <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" formControlName="bio"
        [ngClass]="{ 'is-invalid': submitted && profilef.bio.errors }"
        placeholder="Tell us about you pls."></textarea>
        <div *ngIf="submitted && profilef.bio.errors" class="invalid-feedback">
          <div *ngIf="profilef.bio.errors.maxlength">Too long. 500 chars max.</div>
        </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Website</label>
        <div class="col-md-10">
          <input type="text" class="form-control" formControlName="website"
            [ngClass]="{ 'is-invalid': submitted && profilef.website.errors }"
            placeholder="Shows if sole author or on user page.">
          <div *ngIf="submitted && profilef.website.errors" class="invalid-feedback">
            <div *ngIf="profilef.website.errors.pattern">Doesn't look like a URL.</div>
            <div *ngIf="profilef.website.errors.maxlength">Too long. 200 chars max.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Avatar URL</label>
        <div class="col-md-10">
          <input type="text" class="form-control" formControlName="avatar"
            [ngClass]="{ 'is-invalid': submitted && profilef.avatar.errors }"
            placeholder="Admin can help. Shows if sole author.">
          <div *ngIf="submitted && profilef.avatar.errors" class="invalid-feedback">
            <div *ngIf="profilef.avatar.errors.pattern">Image URL must be PNG/JPG using the format
              /media/*.</div>
            <div *ngIf="profilef.avatar.errors.maxlength">Too long. 200 chars max.</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save
            </button>
            <div *ngIf="errorMsg" class="text-danger">{{errorMsg}}</div>
            <div *ngIf="successProfile" class="text-success">Success!</div>
          </div>
        </div>
      </div>
    </form>
  </tab>
  <tab heading="Change Password">
    <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">New Password</label>
        <div class="col-md-10">
          <input type="password" formControlName="newPass" class="form-control" placeholder="New Password"
            [ngClass]="{ 'is-invalid': submittedPass && passwordf.newPass.errors }" />
          <div *ngIf="submittedPass && passwordf.newPass.errors" class="invalid-feedback">
            <div *ngIf="passwordf.newPass.errors.minlength">At least 8 characters</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Repeat Password</label>
        <div class="col-md-10">
          <input type="password" formControlName="repeatPass" class="form-control" placeholder="Repeat Password"
            [ngClass]="{ 'is-invalid': submittedPass && passwordf.repeatPass.errors }" />
          <div *ngIf="submittedPass && passwordf.repeatPass.errors" class="invalid-feedback">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Current Password</label>
        <div class="col-md-10">
          <input type="password" formControlName="currentPass" class="form-control" placeholder="Current Password"
            [ngClass]="{ 'is-invalid': submittedPass && passwordf.currentPass.errors }" />
          <div *ngIf="submittedPass && passwordf.currentPass.errors" class="invalid-feedback">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save
            </button>
            <div *ngIf="errorPass" class="text-danger">{{errorPass}}</div>
            <div *ngIf="successPassword" class="text-success">Success!</div>
          </div>
        </div>
      </div>
    </form>
  </tab>
  <tab *ngIf="user.group == 'admin'" heading="Create Invite">
    <button (click)="createInvite()" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Create
    </button>
    <div *ngIf="errorInvite" class="text-danger">{{errorInvite}}</div>
    <div *ngIf="invite" class="text-success">{{invite}}</div>
  </tab>
  <tab *ngIf="user.group == 'admin'" heading="Create Section">
    <form [formGroup]="sectionForm" (ngSubmit)="createSection()">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">URL Name</label>
        <div class="col-md-10">
          <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submittedSection && sectionf.name.errors }" />
          <div *ngIf="submittedSection && sectionf.name.errors" class="invalid-feedback">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Game Name</label>
        <div class="col-md-10">
          <input type="text" formControlName="fullname" class="form-control"
            [ngClass]="{ 'is-invalid': submittedSection && sectionf.fullname.errors }" />
          <div *ngIf="submittedSection && sectionf.fullname.errors" class="invalid-feedback">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save
            </button>
            <div *ngIf="errorSection" class="text-danger">{{errorSection}}</div>
            <div *ngIf="successSection" class="text-success">Success!</div>
          </div>
        </div>
      </div>
    </form>
  </tab>
  <tab *ngIf="user.group == 'admin'" heading="Nav">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Section <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li *ngFor="let section of sections" role="menuitem">
          <a class="dropdown-item" (click)="loadNav(section.name); $event.preventDefault()">{{section.name}}</a>
        </li>
      </ul>
    </div>
    <form [formGroup]="navigationForm" (ngSubmit)="submitNav()">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Section</label>
        <div class="col-md-10">
          <input type="text" formControlName="section" class="form-control"
            [ngClass]="{ 'is-invalid': submittedNavigation && navigationf.section.errors }" />
          <div *ngIf="submittedNavigation && navigationf.section.errors" class="invalid-feedback">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="text-input">Data</label>
        <div class="col-md-10">
          <textarea rows="10" class="form-control" formControlName="data"
           [ngClass]="{ 'is-invalid': submittedNavigation && navigationf.data.errors }"></textarea>
          <div *ngIf="submittedNavigation && navigationf.data.errors" class="invalid-feedback">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save
            </button>
            <div *ngIf="errorNavigation" class="text-danger">{{errorNavigation}}</div>
            <div *ngIf="successNavigation" class="text-success">Success!</div>
          </div>
        </div>
      </div>
    </form>
  </tab>
</tabset>