<h1>{{currentTitle}}</h1>

<form [formGroup]="pageForm" (ngSubmit)="onSubmit()" class="settings">
  <div class="settings-row">
    <label for="text-input">Title</label>
    <div class="settings-form">
      <input type="text" formControlName="title"
        placeholder="Shorter is better."
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      @if (submitted && f.title.errors) {
        <div class="text-danger">
          @if (f.title.errors.maxlength) {
            Title too long. 100 chars max.
          }
        </div>
      }
    </div>
  </div>
  <div class="settings-row">
    <label for="textarea-input">SEO Description</label>
    <div class="settings-form">
      <textarea  id="textarea-input" name="textarea-input"
        rows="2" formControlName="seoDesc"
        [ngClass]="{ 'is-invalid': submitted && f.seoDesc.errors }"
        placeholder="This helps google describe the post. Shows on main page if blog."></textarea>
      @if (submitted && f.seoDesc.errors) {
        <div class="text-danger">
          @if (f.seoDesc.errors.maxlength) {
            Too long. 200 chars max.
          }
        </div>
      }
    </div>
  </div>
  <div class="settings-row">
    <label for="text-input">Post Image URL</label>
    <div class="settings-form">
      <input type="text" formControlName="imgURL"
        [ngClass]="{ 'is-invalid': submitted && f.imgURL.errors }"
        placeholder="Required for blog posts. Shows on main page.">
      @if (submitted && f.imgURL.errors) {
        <div class="invalid-feedback">
          @if (f.imgURL.errors.pattern) {
            <div>Image URL must be PNG/JPG/WebP using the format
            /media/*.</div>
          }
          @if (f.imgURL.errors.maxlength) {
            <div>Too long. 255 chars max.</div>
          }
          @if (f.imgURL.errors.required) {
            <div>Required for blog posts.</div>
          }
        </div>
      }
    </div>
  </div>
  <div class="settings-row">
    <label for="select1">Section</label>
    <div class="settings-form">
      <select formControlName="section"
        [ngClass]="{ 'is-invalid': submitted && f.section.errors }">
        @for (section of sectionList; track section) {
          <option [value]="section.id">{{section.name}}</option>
        }
      </select>
    </div>
  </div>
  <div class="settings-row">
    <label>Author Lock?</label>
    <div class="settings-form">
      @if (!disableAuthorLock) {
        <div style="display: inline-flex; vertical-align: middle;">
          <input type="checkbox" style="margin-right: 1rem;" formControlName="authorLock">
          <label>Make me sole author. This disables others from editing the page.<br />This
          option is preferred for blog posts, but you should have admin agreement otherwise.</label>
        </div>
      }
    </div>
  </div>
  @if (sectionIsBlog) {
    <div class="settings-row">
      <label for="text-input">Tags</label>
      <div class="settings-form">
        <mat-chip-grid #chipList>
          @for (tag of currentTags; track tag) {
            <mat-chip color="primary"
              [removable]="removable"
              (removed)="remove(tag)">
              {{tag}}
              @if (removable) {
                <mat-icon matChipRemove><i class="fas fa-times-circle"></i></mat-icon>
              }
            </mat-chip>
          }
          <input placeholder="pls don't add your own if you can avoid it"
            #tagInput
            formControlName="tags"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-grid>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          @for (tag of filteredTags | async; track tag) {
            <mat-option [value]="tag">
              {{tag}}
            </mat-option>
          }
        </mat-autocomplete>
      </div>
    </div>
  }

  <h2>Content</h2>
  <textarea id="textarea-input" name="textarea-input" rows="20" class="spacer"
    [ngClass]="{ 'is-invalid': submitted && f.body.errors }" placeholder="Content."
  formControlName="body"></textarea>
  @if (!disableSubmit) {
    <button [disabled]="loading" class="btn bg-primary spacer" style="width: 20%;">
      @if (loading) {
        Attempting
      }
      Submit
    </button>
  }
  @if (errorMsg) {
    <div class="text-danger">{{errorMsg}}</div>
  }

  <h2>Preview</h2>

  <div markdown [disableSanitizer]="true" [data]="preview"></div>