@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (data; as category) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Category: '+category.name"></Breadcrumb>
  <h1>{{category.name}}</h1>
  <div class="mx-auto row">
    <div class="col-md-6">
      <table style="border:1px solid #c8ced3;" class="tbl"><tbody>
        <tr class="table-dark-center"><th colspan=2>Items in Category</th></tr>
        @for (item of category.item_set; track item) {
          <tr>
            <td>
              <a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a>
              <br /><b>LV {{item.level}}</b><br />
              @if (item.fire) {
                <i style="color:#ac504f;"  class="atelier atelier-np atelier-shallie-fire"></i>
              }
              @if (item.water) {
                <i style="color:#427389;" class="atelier atelier-np atelier-shallie-water"></i>
              }
              @if (item.wind) {
                <i style="color:#5a843c;"  class="atelier atelier-np atelier-shallie-wind"></i>
              }
              @if (item.earth) {
                <i style="color:#8f7939;" class="atelier atelier-np atelier-shallie-earth"></i>
              }
              {{item.evalue}}
            </td>
            <td style="vertical-align:middle;">
              @if (item.slots > 0) {
                <img src="{{imgURL}}slot.webp" alt="">
              }
              @if (item.slots > 1) {
                <img src="{{imgURL}}slot.webp" alt="">
              }
              @if (item.slots > 2) {
                <img src="{{imgURL}}slot.webp" alt="">
              }
              @if (item.slots > 3) {
                <img src="{{imgURL}}slot.webp" alt="">
              }
            </td>
          </tr>
        }
      </tbody></table>
    </div>
    @if (category.ingredientcat) {
      <div class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl"><tbody>
          <tr class="table-dark-center"><th colspan=2>Items Using Category</th></tr>
          @for (item of category.ingredientcat; track item) {
            <tr>
              <td>
                <a routerLink="/{{gameURL}}/items/{{item.synthitem.slugname}}/{{language}}">{{item.synthitem.name}}</a>
                <br /><b>LV {{item.synthitem.level}}</b><br />
                @if (item.synthitem.fire) {
                  <i style="color:#ac504f;"  class="atelier atelier-np atelier-shallie-fire"></i>
                }
                @if (item.synthitem.water) {
                  <i style="color:#427389;" class="atelier atelier-np atelier-shallie-water"></i>
                }
                @if (item.synthitem.wind) {
                  <i style="color:#5a843c;"  class="atelier atelier-np atelier-shallie-wind"></i>
                }
                @if (item.synthitem.earth) {
                  <i style="color:#8f7939;" class="atelier atelier-np atelier-shallie-earth"></i>
                }
                {{item.synthitem.evalue}}
              </td>
              <td style="vertical-align:middle;">
                @if (item.synthitem.slots > 0) {
                  <img src="{{imgURL}}slot.webp" alt="">
                }
                @if (item.synthitem.slots > 1) {
                  <img src="{{imgURL}}slot.webp" alt="">
                }
                @if (item.synthitem.slots > 2) {
                  <img src="{{imgURL}}slot.webp" alt="">
                }
                @if (item.synthitem.slots > 3) {
                  <img src="{{imgURL}}slot.webp" alt="">
                }
              </td>
            </tr>
          }
        </tbody></table>
      </div>
    }
  </div>
}