@if (data; as category) {
  <ng-template #cat let-item="item">
    <tr> 
      <td>
        <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
        <br /><b>{{a16service.level_translation[language]}} {{item.level}}</b><br />
        @if (item.fire) {
          <svg class="a16-element" style="background-color:#ac504f;"><use href="/media/spritesheets/A16.svg?v=1#element-fire"></use></svg>
        }
        @if (item.water) {
          <svg class="a16-element" style="background-color:#427389;"><use href="/media/spritesheets/A16.svg?v=1#element-water"></use></svg>
        }
        @if (item.wind) {
          <svg class="a16-element" style="background-color:#5a843c;"><use href="/media/spritesheets/A16.svg?v=1#element-wind"></use></svg>
        }
        @if (item.earth) {
          <svg class="a16-element" style="background-color:#8f7939;"><use href="/media/spritesheets/A16.svg?v=1#element-earth"></use></svg>
        }
        {{item.evalue}}
      </td>
      <td style="vertical-align:middle;">
        @for (slot of [].constructor(item.slots); track slot) {
          <img src="{{imgURL}}slot.webp" alt="" height="44" width="29">
        }
      </td>
    </tr>
  </ng-template>
  <category
    [name]="category.name"
    [using]="category.ingredientcat !== undefined"
    [colspan]="2">
    <ng-container inCategory>
      @for (item of category.item_set; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
    <ng-container usingCategory>
      @for (item of category.ingredientcat; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item.synthitem}"></ng-content>
      }
    </ng-container>
  </category>
}