<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="category">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Category: '+category.name"></Breadcrumb>
<h1>{{category.name}}</h1>
<language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
<div class="mx-auto row">
    <div class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl">
            <tr class="table-dark-center"><th colspan=2>Items in Category</th></tr>
            <tr *ngFor="let item of category.item_set">
                <td>
                    <a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a>
                    <br /><b>LV {{item.level}}</b><br />
                    <i style="color:#ac504f;" *ngIf="item.fire"  class="atelier atelier-np atelier-shallie-fire"></i>
                    <i style="color:#427389;" *ngIf="item.water" class="atelier atelier-np atelier-shallie-water"></i>
                    <i style="color:#5a843c;" *ngIf="item.wind"  class="atelier atelier-np atelier-shallie-wind"></i>
                    <i style="color:#8f7939;" *ngIf="item.earth" class="atelier atelier-np atelier-shallie-earth"></i>
                    {{item.evalue}}
                </td>
                <td style="vertical-align:middle;">
                  <img *ngIf="item.slots > 0" src="{{imgURL}}slot.webp" alt="">
                  <img *ngIf="item.slots > 1" src="{{imgURL}}slot.webp" alt="">
                  <img *ngIf="item.slots > 2" src="{{imgURL}}slot.webp" alt="">
                  <img *ngIf="item.slots > 3" src="{{imgURL}}slot.webp" alt="">
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="category.ingredientcat" class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl">
            <tr class="table-dark-center"><th colspan=2>Items Using Category</th></tr>
            <tr *ngFor="let item of category.ingredientcat">
                <td>
                    <a routerLink="/{{gameURL}}/items/{{item.synthitem.slugname}}/{{language}}">{{item.synthitem.name}}</a>
                    <br /><b>LV {{item.synthitem.level}}</b><br />
                    <i style="color:#ac504f;" *ngIf="item.synthitem.fire"  class="atelier atelier-np atelier-shallie-fire"></i>
                    <i style="color:#427389;" *ngIf="item.synthitem.water" class="atelier atelier-np atelier-shallie-water"></i>
                    <i style="color:#5a843c;" *ngIf="item.synthitem.wind"  class="atelier atelier-np atelier-shallie-wind"></i>
                    <i style="color:#8f7939;" *ngIf="item.synthitem.earth" class="atelier atelier-np atelier-shallie-earth"></i>
                    {{item.synthitem.evalue}}
                </td>
                <td style="vertical-align:middle;">
                  <img *ngIf="item.synthitem.slots > 0" src="{{imgURL}}slot.webp" alt="">
                  <img *ngIf="item.synthitem.slots > 1" src="{{imgURL}}slot.webp" alt="">
                  <img *ngIf="item.synthitem.slots > 2" src="{{imgURL}}slot.webp" alt="">
                  <img *ngIf="item.synthitem.slots > 3" src="{{imgURL}}slot.webp" alt="">
                </td>
            </tr>
        </table>
    </div>
</div>
</ng-container>