@use 'sass:math';
@use 'variables' as v;
@use 'components/_index' as c;
@use 'ui/_index' as u;
@import "@fontsource/merriweather/500.css";

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    outline-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: var(--bg-main);
    background-color: #faf6f5;
    font-family: var(--font-family);
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:lang(ja) body {
    font-family: var(--font-family-jp);
}

:lang(zh-Hans) body {
    font-family: var(--font-family-sc);
}

:lang(zh-Hant) body {
    font-family: var(--font-family-tc);
}

:lang(ko) body {
    font-family: var(--font-family-ko);
}

img {
    max-width: 100%;
}

h1 {
    padding-top: 0;
    border-bottom: 1px dotted black;
}

h2 {
    padding-top: 0.5em;
    border-bottom: 1px dotted black;
}

h3 {
    padding-top: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings-font-family);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

:lang(ja) :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--headings-font-family-jp);
    font-weight: 700;
}

:lang(zh-Hans) :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--headings-font-family-sc);
    font-weight: 700;
}

:lang(zh-Hant) :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--headings-font-family-tc);
    font-weight: 700;
}

:lang(ko) :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--headings-font-family-ko);
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@for $i from 0 through 5 {
    h#{$i+1} {
        font-size: #{math.max(2.5-$i*0.4, 1)}rem;
        line-height: #{math.max(2.5-$i*0.4, 1)}rem;
    }
}

@media screen and (max-width: var(--breakpoint-md)) {
    @for $i from 0 through 5 {
        h#{$i+1} {
            font-size: #{math.max(1.7-$i*0.15, 1)}rem;
            line-height: #{math.max(1.7-$i*0.15, 1)}rem;
        }
    }
}

ol,
ul {
    margin-top: 0;
    padding-left: 1.5rem;
}

table {
    background-color: white;
    background-image: var(--bg-card);
    border-collapse: collapse;
    margin-bottom: 1rem;

    ul,
    ol {
        margin-bottom: 0;
    }
}

th {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.3);
    border: var(--table-border);
}

code {
    font-size: 0.9rem;
    color: darkslategray;
}

aside {
  padding-top: var(--header-height);
}

main {
  padding: calc(var(--header-height) + 1rem) 1rem 1rem 1rem;
  margin: 0 auto;
  width: 100%;

  @media(max-width: v.$breakpoint-md) {
    padding: calc(var(--header-height) + 0.5rem) 0.5rem 0.5rem 0.5rem;
  }
}
