@if (data; as item) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title card-icon-space">{{item.name}}</h4>
    <div class="card-icon-position">
      <b style="padding-right:0.5em;">LV {{item.level}}</b>
      <svg class="svg-icon"><use attr.href="/media/spritesheets/{{itemkinds[item.kind]}}"></use></svg>
      @if (item.char) {
        <br /><img style="width:4em;aspect-ratio: 128/125;" src="/media/games/sophie2/characters/{{item.char}}.webp" alt="{{item.char}}">
      }
      @if (item.isDLC) {
        <br /><span class="badge bg-primary">DLC</span>
      }
    </div>
    <img class="card-item-display" style="aspect-ratio: 1; width: 256px;"
      src="{{imgURL}}items/{{item.slug}}.webp?v=1" alt="{{item.name}}">
    <table class="a23-talk-table"><tbody>
      @if (item.char1) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{item.char1}}.webp" alt="{{item.char1}}"></td>
          <td>{{item.desc1}}</td>
        </tr>
      }
      @if (item.char2) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{item.char2}}.webp" alt="{{item.char2}}"></td>
          <td>{{item.desc2}}</td>
        </tr>
      }
      @if (item.char3) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{item.char3}}.webp" alt="{{item.char3}}"></td>
          <td>{{item.desc3}}</td>
        </tr>
      }
      @if (item.char4) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{item.char4}}.webp" alt="{{item.char4}}"></td>
          <td>{{item.desc4}}</td>
        </tr>
      }
    </tbody></table>
    <ul class="two-column" style="padding-left: 0; height: 100%;">
        @for (cat of item.categories; track cat) {
          <li style="display: flex;">
            <svg class="svg-icon"><use attr.href="/media/spritesheets/A23.svg?v=1#category-{{cat.slug}}"></use></svg>
            <a routerLink="/{{gameURL}}/categories/{{cat.slug}}/{{language}}">{{cat.name}}</a>
          </li>
        }
        @for (cat of item.add; track cat) {
          <li style="display: flex;">
            <svg class="svg-icon" style="fill:lightgray"><use attr.href="/media/spritesheets/A23.svg?v=1#category-{{cat.slug}}"></use></svg>
            <a routerLink="/{{gameURL}}/categories/{{cat.slug}}/{{language}}">{{cat.name}}</a>
          </li>
        }
      </ul>
    @if (item.traits) {
      <b>{{a23service.trait_translation[language]}}</b>
      <ul>
        @for (trait of item.traits; track trait) {
          <li>
            <a routerLink="/{{gameURL}}/traits/{{trait.slug}}/{{language}}">{{trait.name}}</a>
          </li>
        }
      </ul>
    }
    @if (item.book) {
      <p><b>{{a23service.recipebook_translation[language]}}: </b> <a routerLink="/{{gameURL}}/items/books/{{item.book[0].slug}}/{{language}}">{{item.book[0].name}}</a></p>
    }
    @if (item.seed) {
      <p><b>{{a23service.seed_translation[language]}}: </b> <a routerLink="/{{gameURL}}/items/{{item.seed.slug}}/{{language}}">{{item.seed.name}}</a></p>
    }
    @if (item.chest) {
      <p><b>Chest: </b>{{item.chest[0].region}} &gt; {{item.chest[0].subregion}}</p>
    }
    @if (item.shop) {
      <p><b>Shop: </b>{{item.shop}}</p>
    }
    @if (item.locations) {
      <b>{{a23service.location_translation[language]}}</b>
      <ul style="padding-left:1.1em;margin-bottom:0;column-count: 2;">
        @for (loc of item.locations; track loc) {
          <li><a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}" [queryParams]="{item: item.name}">{{loc.name}}</a>
        }
      </ul>
    }
    @if (item.ideas && item.char) {
      <a routerLink="/{{gameURL}}/recipe-ideas/{{language}}" [queryParams]="{tab: item.char}"><b>{{a23service.recipeidea_translation[language]}}</b></a>
    }
    @if (item.ideas && !item.char) {
      <a routerLink="/{{gameURL}}/recipe-ideas/{{language}}" [queryParams]="{tab: 'shared'}" ><b>{{a23service.recipeidea_translation[language]}}</b></a>
    }
    @if (item.ideas) {
      <ul>
        @for (idea of item.ideas; track idea) {
          <li (click)="historyService.hrefClicked($event);" [innerHTML]="idea.text"></li>
        }
      </ul>
    }
    @if (item.wt || item.quantity || item.uses || item.range || item.price) {
      <ul style="padding-left:0;list-style:none;">
        @if (item.price)    { <li>Cole: {{item.price}}</li> }
        @if (item.wt)       { <li>WT: {{item.wt}}</li> }
        @if (item.quantity) { <li>Quantity: {{item.quantity}}</li> }
        @if (item.uses)     { <li>Uses: {{item.uses}}</li> }
        @if (item.range)    { <li>Range: {{item.range}}</li> }
      </ul>
    }
    @if (item.monsters) {
      <b>{{a23service.monster_translation[language]}}</b>
      <ul style="padding-left:1.1em;margin-bottom:0;column-count: 2;">
        @for (mon of item.monsters; track mon) {
          <li><a routerLink="/{{gameURL}}/monsters/{{mon.slug}}/{{language}}">{{mon.name}}</a></li>
        }
      </ul>
    }
    @if (item.ingredient) {
      <table class="tbl"><tbody>
        <tr><th>{{a23service.ingredient_translation[language]}}</th></tr>
        <tr>
          <td>
            <ul>
              @for (ing of item.ingredient; track ing) {
                <li>
                  @if (ing.cat) { <a routerLink="/{{gameURL}}/categories/{{ing.cat.slug}}/{{language}}">{{ing.cat.name}} </a> }
                  @else         { <a routerLink="/{{gameURL}}/items/{{ing.item.slug}}/{{language}}"    >{{ing.item.name}} </a> }
                  x{{ing.quantity}}
                </li>
              }
            </ul>
          </td>
        </tr>
      </tbody></table>
    }
    @if (item.effects && !item.ingredient) {
      <b>{{a23service.effect_translation[language]}}</b>
      <ul>
        @for (eff of item.effects[0].data; track eff) {
          <li>
            <a routerLink="/{{gameURL}}/effects/{{eff.effect.slug}}/{{language}}">{{eff.effect.name}}</a>
          </li>
        }
      </ul>
    }
    @if (item.effects && item.ingredient) {
      <table class="tbl"><tbody>
        <tr><th colspan=2>{{a23service.effect_translation[language]}}</th></tr>
        @for (eff of item.effects; track eff) {
          <tr>
            <td style="vertical-align:middle;">
              <svg class="svg-icon" style="fill:#{{colors[eff.elem]}}"><use attr.href="/media/spritesheets/A23.svg?v=1#element-{{icons[eff.elem]}}"></use></svg>
            </td>
            <td>
              <ul style="list-style:none;">
                @for (e of eff.data; track e) {
                  <li>
                    <ng-template #effPopover>
                      @if (e.effect) {
                        <p>{{e.effect.desc}}</p>
                        <a routerLink="/{{gameURL}}/effects/{{e.effect.slug}}/{{language}}">{{a23service.details_translation[language]}}</a>
                      }
                      @if (e.component) {
                        <ng-content *ngTemplateOutlet="componentmaker;context:{'component':e.component}"></ng-content>
                      }
                    </ng-template>
                    @if (e.effect) {
                      <popover [name]="e.effect.name"
                        [template]="effPopover"
                        url="/{{gameURL}}/effects/{{e.effect.slug}}/{{language}}">
                        {{e.effect.name}}
                      </popover>
                    }
                    @if (e.component) {
                      <popover [name]="e.component.name"
                        [template]="effPopover">
                        {{e.component.name}}
                      </popover>
                    }
                    @if (checkLevel(eff.maxlv, eff.restrict, eff, e) == 0 && e.num) { ({{e.num}}) }
                    @if (checkLevel(eff.maxlv, eff.restrict, eff, e) == 1) { <span style="color:darkgrey;"> ({{e.num}})</span> }
                    @if (checkLevel(eff.maxlv, eff.restrict, eff, e) == 2) { <span style="color:red;"> ({{e.num}})</span> }
                  </li>
                }
              </ul>
            </td>
          </tr>
        }
      </tbody></table>
    }
    @if (item.components) {
      <table class="tbl"><tbody>
        <tr><th>{{a23service.component_translation[language]}}</th></tr>
        <tr>
          <td>
            <div style="display:grid; grid-template-columns: auto auto auto auto;grid-gap:1em;">
              @for (component of item.components; track component) {
                <ng-content *ngTemplateOutlet="componentmaker;context:{component:component}"></ng-content>
              }
            </div>
          </td>
        </tr>
      </tbody></table>
    }
    @if (item.equip) {
      <table class="tbl"><tbody>
        <tr><th colspan=2>Stats</th></tr>
        <tr><td style="padding-top:0.2rem;text-align:right;width:50%;"><b>HP </b></td> <td style="padding-top:0.2rem;padding-left:0.5em;">{{item.equip.hp}}</td></tr>
        <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>MP </b></td> <td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.mp}}</td></tr>
        <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>ATK </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.atk}}</td></tr>
        <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>DEF </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.dfn}}</td></tr>
        <tr><td style="border-top:transparent;padding-top:0;text-align:right;width:50%;"><b>SPD </b></td><td style="border-top:transparent;padding-top:0;padding-left:0.5em;">{{item.equip.spd}}</td></tr>
      </tbody></table>
    }
    @if (item.chars) {
      <table class="tbl"><tbody>
        <tr><th>{{a23service.character_translation[language]}}</th></tr>
        <tr>
          <td>
            @for (char of item.chars; track char) {
              <img src="{{imgURL}}characters/{{char.slug}}.webp" alt="{{char.slug}}" style="width:128px;aspect-ratio: 128/125;">
            }
          </td>
        </tr>
      </tbody></table>
    }
  </div>
  <ng-template #componentmaker let-component="component">
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 1px;background-color:#392d23; border-radius: 5%; width:calc(2.4em + 3px); border: 1px #392d23 solid; margin: auto;">
      @for (thing of [].constructor(9); track thing; let i = $index) {
        <svg style="fill:#{{component.code[i+1]== 0 ? '635552' : colors[component.code[0]]}}; height: 0.8em; width: 0.8em;">
          <use attr.href="/media/spritesheets/{{component.code[i+1]<2 ? 'A23.svg?v=1#fa-square' : 'main.svg?v=1#fa-star'}}"></use>
        </svg>
      }
    </div>
  </ng-template>
}