@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (data; as item) {
  @if (showNav) {
    <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Items', '/'+gameURL+'/items/'+language]]" [current]="'Book: '+item.name"></Breadcrumb>
  }
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <h4 class="card-title card-icon-space">{{item.name}}</h4>
      <div class="card-icon-position">
        <i  class="atelier atelier-np atelier-ryza2-book"></i>
        @if (item.isDLC) {
          <br /><span class="badge bg-secondary">DLC</span>
        }
      </div>
      <div class="card-item-display">
        <img loading="lazy" src="{{imgURL}}items/{{item.slug}}.webp" alt="{{item.name}}">
      </div>
      <div class="card-text">
        <b>Item:</b>
        <ul>
          @for (it of item.items; track it) {
            <li><a routerLink="/{{gameURL}}/items/{{it.slug}}/{{language}}">{{it.name}}</a></li>
          }
        </ul>
        <p><b>Acquisition: </b>{{item.shop}} {{item.note}}@if (item.chest) {
        <span>{{item.chest[0].region}}@if (item.chest[0].subregion) {
          <span> &gt; </span>
        }{{item.chest[0].subregion}}</span>
      }</p>
    </div>
  </div>
  @if (showNav) {
    <div class="col-md-3" ></div>
  }
</div>
}