<h1>{{currentTitle}}</h1>

<form [formGroup]="pageForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="text-input">Title</label>
    <div class="col-md-10">
      <input type="text" formControlName="title" class="form-control" placeholder="Shorter is better."
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.maxlength">Title too long. 100 chars max.</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="textarea-input">SEO Description</label>
    <div class="col-md-10">
      <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" formControlName="seoDesc"
        [ngClass]="{ 'is-invalid': submitted && f.seoDesc.errors }"
        placeholder="This helps google describe the post. Shows on main page if blog."></textarea>
        <div *ngIf="submitted && f.seoDesc.errors" class="invalid-feedback">
          <div *ngIf="f.seoDesc.errors.maxlength">Too long. 200 chars max.</div>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="text-input">Post Image URL</label>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="imgURL"
        [ngClass]="{ 'is-invalid': submitted && f.imgURL.errors }"
        placeholder="Required for blog posts. Shows on main page.">
      <div *ngIf="submitted && f.imgURL.errors" class="invalid-feedback">
        <div *ngIf="f.imgURL.errors.pattern">Image URL must be PNG/JPG/WebP using the format
          /media/*.</div>
        <div *ngIf="f.imgURL.errors.maxlength">Too long. 255 chars max.</div>
        <div *ngIf="f.imgURL.errors.required">Required for blog posts.</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="select1">Section</label>
    <div class="col-md-10">
      <select class="form-select" formControlName="section"
        [ngClass]="{ 'is-invalid': submitted && f.section.errors }">
        <option *ngFor="let section of sectionList" [value]="section.id">{{section.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Author Lock?</label>
    <div class="col-md-10 col-form-label">
      <div *ngIf="!disableAuthorLock" class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="authorLock">
        <label class="form-check-label">Make me sole author. This disables others from editing the page.<br />This
          option is preferred for blog posts, but you should have admin agreement otherwise.</label>
      </div>
    </div>
  </div>
  <div *ngIf="sectionIsBlog" class="form-group row">
    <label class="col-md-2 col-form-label" for="text-input">Tags</label>
    <div class="col-md-10">
      <mat-chip-grid #chipList>
        <mat-chip color="primary" 
          *ngFor="let tag of currentTags" 
          [removable]="removable"
          (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable"><i class="fas fa-times-circle"></i></mat-icon>
        </mat-chip>
        <input placeholder="pls don't add your own if you can avoid it"
          class="form-control"
          #tagInput
          formControlName="tags"
          [matAutocomplete]="auto" 
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-grid>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <h1>Content</h1>
  <textarea id="textarea-input" name="textarea-input" rows="20" class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.body.errors }" placeholder="Content."
    formControlName="body"></textarea>
    <button *ngIf="!disableSubmit" [disabled]="loading" class="btn btn-lg btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Submit
  </button>
  <div *ngIf="errorMsg" class="text-danger">{{errorMsg}}</div>

  <h1>Preview</h1>
    
  <div markdown [disableSanitizer]="true" [data]="preview"></div>