<Error *ngIf="error" [errorCode]="error"></Error>

<h1 *ngIf="tagName">{{tagName}}</h1>
<div *ngIf="!tagName" style="padding-top: 0.5em;"></div>

<ng-container *ngIf="blog">
    <div class="item-grid">
        <div *ngFor="let b of blog.results" class="card" style="height:100%">
            <div class="aspect-ratio-box">
                <a routerLink="/blog/{{b.slugtitle}}">
                    <img loading="lazy" src="{{b.image}}" alt="" role="presentation">
                </a>
            </div>
            <div class="headline">
                <a routerLink="/blog/{{b.slugtitle}}">
                    <h3>{{b.title}}</h3>
                </a>
                <span class="text-muted" style="font-size: calc(0.8rem + 0.1vw);">
                    <i style="margin-right:0.2rem;" class="far fa-calendar-alt"></i>
                    <time class="updated" dateTime="{{b.created}}">{{b.created | date:'longDate' }} </time>
                </span>
                <p style="margin-top: 0.8em;">{{b.description}}</p>
            </div>
        </div>
    </div>
    <mat-paginator
        style="background-color:transparent;"
        [length]="blog.count"
        [pageSize]="10"
        [pageIndex]="path-1"
        aria-label="Select page"
        (page)="changePage($event)">
    </mat-paginator>
</ng-container>