@if (!error) {
  <h1>Monsters</h1>
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (mon of filteredMonsters | async; track identify2($index, mon)) {
      <div class="card card-body">
        <h4 class="card-title card-icon-space">
          <a (click)="openDialog(mon.slugname, $event);" href="/{{gameURL}}/monsters/{{mon.slugname}}/{{language}}">{{mon.name}}</a>
        </h4>
        <div class="card-icon-position">
          <i class="atelier atelier-np atelier-shallie-race-{{mon.kind}}"></i>
        </div>
        <a class="card-item-display" (click)="openDialog(mon.slugname, $event);" href="/{{gameURL}}/monsters/{{mon.slugname}}/{{language}}">
          <img loading="lazy" src="{{imgURL}}monsters/{{mon.slugname}}.webp" alt="{{mon.name}}">
        </a>
        <button (click)="openDialog(mon.slugname)" class="card-read-more-position" mat-mini-fab color="primary">
          <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
        </button>
      </div>
    }
  </div>
}