@if (!error) {
  <ng-template #template let-mon="item">
    <item
      [item]="mon"
      url="/{{gameURL}}/monsters/{{mon.slug}}/{{language}}"
      (buttonClicked)="openDialog($event)"
      dimension="218"
      imgURL="{{imgURL}}monsters/{{mon.slug}}.webp?v=1">
      <ng-container icon>
        <i class="atelier atelier-np atelier-shallie-race-{{mon.kind}}"></i>
      </ng-container>
    </item>
  </ng-template>
  <filter-list [list]="filteredMonsters" title="Monsters" [(hide)]="hide" [template]="template">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </filter-list>
}