<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Location: '+location.name"></Breadcrumb>
<h1>{{location.name}}</h1>
    <div style="justify-content: space-between; margin-left: 0.5em; margin-right: 0.5em;margin-bottom:0.5em;" class="row">
    <div class="table-of-contents">
        <b>Table of Contents</b>
        <ol>
            <li *ngFor="let area of location.areas">
                <a href="/{{gameURL}}/locations/{{location.slug}}/{{language}}#{{area.slug}}" (click)="$event.preventDefault();scroll(area.slug,section + '/' + location.slug)">{{area.name}}</a>
            </li>
        </ol>
    </div>
    <div class="col-md-3" ></div>
    </div>

<ng-container *ngFor="let area of location.areas">
  <h2 id="{{area.slug}}">{{area.name}}</h2>
  <img *ngIf="area.map" style="padding-bottom:1rem;" src="{{area.map}}">
  <table class="tbl border table-shrink">
    <tr class="table-dark-center">
      <th *ngIf="area.items"  style="width:50%;">Items</th>
      <th *ngIf="area.demons" style="width:50%;">Demons</th>
    </tr>
    <tr>
      <td *ngIf="area.items">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.items"><a routerLink="/{{gameURL}}/items/{{it.slug}}/{{language}}">{{it.name}}</a></li>
        </ul>
      </td>
      <td *ngIf="area.demons">
        <ul class="hide-bullets">
          <li *ngFor="let it of area.demons"><a routerLink="/{{gameURL}}/demons/{{it.demon.slug}}/{{language}}">{{it.demon.name}}</a><span *ngIf="it.once"> x1</span></li>
        </ul>
      </td>
    </tr>
  </table>
</ng-container>
</ng-container>