.a22-element-icon {
    height: 1.7em;
    width: 1.7em;
    margin-right: 0.1em;
    vertical-align: middle;
}

.a22-element-text {
    vertical-align: middle;
    padding-left: 0.5rem;
}

.btn-ryza2 {
    display: inline-flex;
    max-width: 100%;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    text-decoration: none !important;
    font-size: 1rem;
}

.a22-gather-table {
    tbody>tr>th {
        text-align: center;
        vertical-align: middle;
        line-height: 1;
    }

    tbody>tr>td:first-child {
        text-align: center;
        vertical-align: middle;
    }
}

.a22-weaknesses {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;

    svg {
        height: 2em;
        width: 2em;
    }
    span {
        text-align: center;
    }
}