// Font

@import "variables";

@font-face {
  font-family: 'Atelier';
   src: url('#{$atelier-font-path}/Atelier.woff2') format('woff2'),
    url('#{$atelier-font-path}/Atelier.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

.iconAtelier {
  font-family: Atelier !important;
}

// Commento

.commento-footer, .commento-avatar-img, .commento-avatar, .commento-option-upvote, .commento-sort-policy-buttons-container, .commento-option-downvote , .commento-score, .commento-timeago::before {
  display: none !important;
}
.commento-option-reply {
  right: 32px !important;
}
.commento-option-edit {
  right: 32px !important;
}
.commento-option-sticky {
  right: 96px !important;
}
.commento-option-remove{
  right: 64px !important;
}
.commento-moderator::after, .commento-submit-button {
  background: #5e4c3f !important;
}
.commento-card {
  background-image: url("/media/main/images/clean_textile.webp") !important;
}
.commento-comments {
  margin-bottom: 1.5rem !important;
}
.commento-name, .commento-subtitle {
  margin-left: 0 !important;
}

// base class

.atelier {
  display: inline-block;
  font: normal normal normal 1.5em/1 'Atelier';
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.4em;
}

.atelier-np {
  padding-right:0;
}

//  change icon size
.atelier-xs {
  font-size: 0.5em;
  padding-right: 0.3em;
}

.atelier-sm {
  font-size: 1em;
  padding-right: 0.3em;
}
.atelier-lg {
  font-size: 2.4em;
  padding-right: 0.5em;
}

@media screen and (max-width: 576px) {
  .atelier-lg {
    font-size: 4vw;
  }
}


.atelier-16 {
  font-size: 16px;
}
.atelier-32 {
  font-size: 32px;
}

// add backgrounds
.atelier-bg-square,
.atelier-bg-circle {
  padding: 0.35em;
  background-color: $atelier-background-color;
}
.atelier-bg-circle {
  border-radius: 50%;
}

// use as list markers
.atelier-ul {
  padding-left: 0;
  list-style-type: none;

  > li {
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
  }

  > li > .atelier {
    margin-right: $atelier-li-margin-right;
    line-height: inherit;
  }
}

@import "icons";

// generic stuff

@media only screen and (max-width: 600px) {
  .main.container-fluid {
    padding: 0 !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .container-fluid {
    padding: 0 !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

select {
  font-family: Atelier;
}

.spacer {
  margin-bottom: 1em;
}

.allheight {
  height: 100%;
}

.griddisplay {
  display: grid;
}

.bottom {
  align-content: flex-end;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right {
  text-align: right;
  position: relative;
  float: right;
}

.badge-list {
  margin-right: 0.4em;
  margin-top: 0.3em;
  font-size: calc(0.9rem + 0.1vw) !important;
}

@media screen and (max-width: 576px) {
  .badge-list {
    font-size: 2.5vw !important;
  }
}


.modal-body {
  position:absolute !important;
  width: 55%;
}

@media screen and (max-width: 576px) {
  .modal-body {
    width:100% !important;
    padding:0 !important;
  }
}

@media screen and (max-width: 576px) {
  .modal-dialogue {
    max-width: 100% !important;
    padding-left:0.2em !important;
    padding-right:0 !important;
    margin:0 !important;
    font-size: calc(1rem + 0.1vw) !important;
  }
}

.popover {
  font-size: calc(1rem + 0.1vw) !important;
}

.popover-header {
  font-size: calc(1.2rem + 0.1vw) !important;
}

@media screen and (min-width: 577px) {
  .modal-dialog {
    max-width: 100% !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    font-size: calc(1rem + 0.1vw) !important;
  }
}

.modal-content {
  background-color: transparent !important;
  border: transparent !important;
  //max-width: max-content !important;
  align-items: center;
  margin: auto;
}
 
.close {
  text-shadow: none !important;
  color: white !important;
  opacity: 100% !important;
}

/* Background pattern from Toptal Subtle Patterns */
.card {
  border: 2px outset lightgray !important;
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  margin-bottom: 0 !important;
}

.card > *:last-child {
  margin-bottom: 0 !important;
}

.card-icon-space {
  margin-right: 2em;
  padding-right: 1.5em;
}

.card-title {
  > a {
    color:black;
  }
  > a:hover {
    color:black !important;
  }
}

.card-icon-position {
  position:absolute;
  top:1em;
  right:1em;
  text-align: center;
}

.card-icon-position span {
  float: right;
}

.card-read-more-position {
  position:absolute !important;
  bottom:1em !important;
  right:1em !important;
  box-shadow: none !important;
  font-size:20px !important;
}

/* Background pattern from Toptal Subtle Patterns */
.table {
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
}

@media screen and (max-width: 576px) {
  .table-shrink {
    font-size: 2.5vw;
  }
}

.border td, th {
  border: 1px solid lightgray;
}

.hide-bullets {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.table-item-data {
  display:block;

  > tr {
    vertical-align: top;
  }
  > tr, span {
    vertical-align: top;
    padding-left:0.5rem;
  }
}

/* Background pattern from Toptal Subtle Patterns */
.main {

  padding-left: 1em;
  padding-right: 1em;
  font-size: calc(1rem + 0.1vw);
  margin: 55px auto 0 auto;
  width: 60%;
}

@media screen and (max-width: 1280px) {
  .main {
  margin: 55px 0 0 200px;
  width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main {
  margin: 55px 0 0 0;
  width: 100%;
  }
}

h1 {
  font-family: Merriweather;
  font-size: calc(2.5rem + 0.1vw) !important;
  padding-top: 0;
  border-bottom: 1px dotted black;
}

h2 {
  font-family: Merriweather;
  font-size: calc(1.75rem + 0.1vw) !important;
  padding-top: 0.5em;
  border-bottom: 1px dotted black;
}

h3 {
  font-family: Merriweather;
  font-size: calc(1.53125rem + 0.1vw) !important;
  padding-top: 0.5em;
}

h4 {
  font-family: Merriweather;
  font-size: calc(1.3125rem + 0.1vw) !important;
}

.tab-content {
  background-image: url("/media/main/images/clean_textile.webp") !important;
}

.nav-tabs .nav-link.active {
  background-image: url("/media/main/images/clean_textile.webp") !important;
  border-bottom-color: transparent !important;
}

.nav-tabs .nav-link {
  background-color: #EBEBEB;
  border: 1px solid darkgray !important;
}

.nav-tabs .nav-link:hover {
  background-color: #F9F9F9;
  border-color: darkgray !important;
}

.breadcrumb {
  padding: 0 !important;
  background-color: transparent !important;
  border-bottom: transparent !important;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: $navbar !important;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent:hover {
  background-color: #B8947B !important;
}

.tooltip {
  font-size: calc(1rem + 0.1vw) !important;
}

.table-of-contents {
  border: 2px solid lightgray;
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  padding: 0.8em;
  border-radius: 10px;
  width: max-content;
}

.table-dark-center {
  > th {
    text-align: center;
    background-color:rgba(211, 211, 211, 0.3);
  }
}

// reeeeemake

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.navigation {
  position: fixed;
  z-index: 1000;
  background-color: $navbar !important;
  border-bottom: transparent !important;
  background: linear-gradient(0deg, rgba(71,58,48,1) 0%, rgba(94,76,63,0.8687675753895308) 100%);
  height: 55px;
  padding: 0;
  width: 100%;
}

.navigation-brand {
  display: inline-flex;
  align-items: center;
  width: 155px;
  height: 55px;
  padding: 0;
  margin-right: 0;
  justify-content: center;
  margin-right: 1rem;
}

.nav-items {
  color:white;
  padding-left:1rem;
  padding-right:1rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  font-size:1rem;
}

.nav-items:hover {
  color:white;
  text-decoration: none;
  background-color: #2f1d12;
  border-radius: 0.25rem;
}

.footer {
  background-color: #5e4c3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  > a {
    color: white;
  }

  > a:hover {
    color: white;
  }
}

@media screen and (min-width: 800px) {
  .navigation-hide-large {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-items {
    display: none;
  }
  .navbrand {
    position: absolute;
    left: 50%;
    margin-left: -77.5px;
  }
}

.sidenav {
  background-color: $sidebar !important;
  width: 200px;

}

.sidenav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-item {
  padding: 0.6rem;
  color: white;
  border-radius: 0.25rem;
  width: 95%;
  display: flex;
  align-items: center;

  > i {
    margin-right: 0.5rem;
    width: 1rem;
  }

  > b {
    margin-left: auto;
  }
}

.sidenav-item:hover {
  color: white;
  background-color: #20a8d8 !important;
  text-decoration: none;
}

.sidenav-child {
  padding-left: 2.1rem;
}

.sidenav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

/* Background pattern from Toptal Subtle Patterns */
body {
  background: url("/media/main/images/ricepaper2.webp");
  background-color: #faf6f5;
}

.mat-drawer-container {
  background: transparent;
}


// Major components (header, main, sidebar, etc.)

.app-header {
  background-color: $navbar !important;
  border-bottom: transparent !important;
  background: linear-gradient(0deg, rgba(71,58,48,1) 0%, rgba(94,76,63,0.8687675753895308) 100%);
}

.hi {
  position: fixed;
  z-index: 1000;
  background-color: $navbar !important;
  border-bottom: transparent !important;
  background: linear-gradient(0deg, rgba(71,58,48,1) 0%, rgba(94,76,63,0.8687675753895308) 100%);
}



.sidebar {
  background-color: $sidebar !important;
}

.sidebar-fixed .sidebar {
  height: calc(100% - 55px) !important;
}

.sidebar .nav-link.active {
  background-color: #3C4E5E !important;
}

.sidebar .nav-link.active:hover {
  color: #fff !important;
  background-color: #20a8d8 !important;
}

.sidebar .nav-link.active .nav-icon {
  color: #73818f !important;
}

.sidebar .nav-link.active .nav-icon:hover {
  color: #fff !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #999c9e !important;
}

.app-body {
  margin-top: 55px;
  overflow-x: inherit !important;
}

.bg-secondary {
  color: white !important;
}

// Form stuff

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

// Main page

.main-thumb img {
    width: 300px;
}

.main-thumb div.thumb {
    background: white;
    max-width: 300px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.main-thumb div.spacer {
    margin-top: 2em;
}

.main-thumb p {
    padding-right: 10px;
    padding-left: 10px;
}

.main-thumb div.headline {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

ul.pagination {
    margin-top: 2em;
}

.headline {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
}

/* Position child elements relative to this element */
.aspect-ratio-box {
  position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
  display: block;
  content: "";
  /* 16:9 aspect ratio */
  padding-bottom: 56.25%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
  /* Image should match parent box size */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Blog Pages

.blog-head-img {
  max-height: 500px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right {
  float: right;
  margin-left: 1em;
  text-align: left;
}

.left {
  float: left;
  margin-right: 1em;
}

.author {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.blog-tags {
  padding-bottom: 1em;
  border-bottom: 1px dotted black;
}

.spread-apart {
  justify-content: space-around;
}

.table-compress {
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  border: 1px lightgray solid;
  margin-bottom: 1rem;
}

.table-compress th {
  border: 1px lightgray solid;
  padding: 0.5rem;
  text-align: center;
  background-color:rgba(211, 211, 211, 0.3);
  height: 2rem;
}

.table-compress td {
  border: 1px lightgray solid;
  padding: 0.3rem;
}

img {
  max-width: 100%;
}

// Game Data Pages

.card-item-display {
  margin: auto;
}

.image-display {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}

.image-display img {
  max-width: 100%;
}

.trait-color {
  color:lightgray;
}
.trait-colortrue {
  color:black;
}

// Create page

.mat-chip.mat-primary {
    background-color: #20a8d8;
    color: white;
}

// Settings page

// User Pages

// Game stuff

.effect-bar {
  background-color: lightgray;
  border-radius: 5px;
  height: 100%;
}

.elemental-bar {
  border-radius: 5px;
  height: 1rem;
  position: relative;
}

