@import 'specific/navigation';
@import 'specific/material-fix';
@import 'specific/ngx-bootstrap-fix';
@import "icons";

// generic stuff

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  padding-left: 1em;
  padding-right: 1em;
  font-size: calc(1rem + 0.1vw);
  margin: 55px auto 1rem auto;
  width: 60%;
}

@media screen and (max-width: 1280px) {
  .main {
    margin: 55px 1rem 0 200px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main {
    margin: 55px 0 0 0;
    width: 100%;
  }
}

/* Background pattern from Toptal Subtle Patterns */
body {
  background: url("/media/main/images/ricepaper2.webp");
  background-color: #faf6f5;
}

h1 {
  padding-top: 0;
  border-bottom: 1px dotted black;
}

h2 {
  padding-top: 0.5em;
  border-bottom: 1px dotted black;
}

h3 {
  padding-top: 0.5em;
}

img {
  max-width: 100%;
}

// For lists of things
.item-grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .item-grid {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 800px) {
  .item-grid {
    grid-template-columns: auto;
  }
}

.spacer {
  margin-bottom: 1em;
}

.bottom {
  align-content: flex-end;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Background pattern from Toptal Subtle Patterns */
.card {
  border: 2px outset lightgray !important;
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  margin-bottom: 0 !important;
  min-height: 120px;
}

.card>*:last-child {
  margin-bottom: 0 !important;
}

.card-icon-space {
  margin-right: 2em;
  padding-right: 1.5em;
}

.card-title {
  >a {
    color: black;
  }

  >a:hover {
    color: black !important;
  }
}

.card-icon-position {
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: center;
}

.card-icon-position span {
  float: right;
}

.card-read-more-position {
  position: absolute !important;
  bottom: 1em !important;
  right: 1em !important;
  box-shadow: none !important;
  font-size: 20px !important;
}

/* Background pattern from Toptal Subtle Patterns */
.tbl {
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  width: 100%;
  margin-bottom: 1rem;
}

.tbl td,
.tbl th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #c8ced3;
}

@media screen and (max-width: 576px) {
  .table-shrink {
    font-size: 2.5vw;
  }
}

.border td,
th {
  border: 1px solid lightgray;
}

.table-item-data {
  display: block;
  width: fit-content;

  >tr {
    vertical-align: top;
  }

  >tr,
  span {
    vertical-align: top;
    padding-left: 0.5rem;
  }
}

.table-dark-center {
  >th {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.table-compress {
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  border: 1px lightgray solid;
  margin-bottom: 1rem;
}

.table-compress th {
  border: 1px lightgray solid;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.3);
  height: 2rem;
}

.table-compress td {
  border: 1px lightgray solid;
  padding: 0.3rem;
}

.hide-bullets {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.table-of-contents {
  border: 2px solid lightgray;
  background-color: white;
  background-image: url("/media/main/images/clean_textile.webp");
  padding: 0.8em;
  border-radius: 10px;
  width: max-content;
  max-width: 100%;
  margin: 0 0.5em 0.5em 0.5em;

  ol {
    margin-bottom: 0;
  }
}

// as in opens a new tab
.new-tab {
  font-size: calc(0.6rem + 0.1vw);
  text-decoration: none;
  padding-left: 0.2rem;
}

// Game Data Pages

// TODO: Standarize all image sizes so I can get away with only left/right margins
.card-item-display {
  //margin-left: auto;
  //margin-right: auto;
  margin: auto;
}

// Not used by everything, wtf is this for
.image-display {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}

.image-display img {
  max-width: 100%;
}

// Trait specific
.trait-color {
  color: lightgray;
}

.trait-colortrue {
  color: black;
}

.svg-color {
  opacity: 35%;
}

// universal styles for blog pages
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right {
  float: right;
  margin-left: 1em;
  text-align: left;
}

.left {
  float: left;
  margin-right: 1em;
}

.spread-apart {
  justify-content: space-around;
}

// Settings, Create, Login, Register pages
// Tempting to throw this out.

.form-group {
  margin: 1rem;
}