.effect-bar {
    background-color: lightgray;
    border-radius: 5px;
    height: 100%;
}

.elemental-bar {
    border-radius: 5px;
    height: 1rem;
    position: relative;
}

.a15-element {
    fill: white;
    padding: 4px;
    height: 1.2em;
    width: 1.2em;
}

.a15-stats {
    tr {
        td {
            border-top: transparent;
            width: 25%;
        }
        td:nth-child(odd) {
            padding: 0;
            text-align: end;
        }
        td:nth-child(even) {
            padding: 0 0 0 0.5em;
        }
    }
}

.a15-enemy-stats {
    tr {
        td {
            border-top: transparent;
            width: 25%;
        }
        td:nth-child(odd) {
            padding: 0;
        }
        td:nth-child(even) {
            padding: 0 0 0 0.5em;
        }
        td:first-child {
            text-align: end;
        }
        td:nth-child(3) {
            padding: 0 0 0 1em;
        }
    }
}