@if (!error) {
  <ng-template #template let-item="item">
    <a23-effect (buttonClicked)="openDialog($event)" [inputData]="item" [gameURL]="gameURL"
      [hideContents]="true"></a23-effect>
  </ng-template>
  <filter-list
    [list]="filteredEffects"
    [(hide)]="hide"
    name="Effects"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-12" appearance="outline">
        <mat-label>Filter...</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
    </form>
  </filter-list>
}