@if (data; as monster) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title  card-icon-space">{{monster.name}}</h4>
    <div class="card-icon-position">
     <svg class="svg-icon-standard"><use attr.href="/media/spritesheets/A18.svg?v=1#race-{{monster.kind}}"></use></svg>
      @if (monster.isDX) {
        <br /><span class="badge bg-primary">DX</span>
      }
    </div>
    <img class="card-item-display" src="{{imgURL}}monsters/{{monster.slug}}.webp?v=1"
      alt="{{monster.name}}" style="aspect-ratio: 1; width: 288px;">
    <table class="a18-talk-table"><tbody>
      @if (monster.char[0]) {
        <tr>
          <td>
            <img src="/media/games/firis/characters/{{monster.char[0]}}.webp?v=1" alt="{{monster.char[0]}}">
          </td>
          <td>
            {{monster.desc[0]}}
          </td>
        </tr>
      }
      @if (monster.char[1]) {
        <tr>
          <td>
            <img src="/media/games/firis/characters/{{monster.char[1]}}.webp?v=1" alt="{{monster.char[1]}}">
          </td>
          <td>
            {{monster.desc[1]}}
          </td>
        </tr>
      }
      @if (monster.char[2]) {
        <tr>
          <td>
            <img src="/media/games/firis/characters/{{monster.char[2]}}.webp?v=1" alt="{{monster.char[2]}}">
          </td>
          <td>
            {{monster.desc[2]}}
          </td>
        </tr>
      }
      @if (monster.char[3]) {
        <tr>
          <td>
            <img  src="/media/games/firis/characters/{{monster.char[3]}}.webp?v=1" alt="{{monster.char[3]}}">
          </td>
          <td>
            {{monster.desc[3]}}
          </td>
        </tr>
      }
    </tbody></table>
    @if (monster.note) {
      <b>Note: </b>
      }@if (monster.note) {
      <span>{{monster.note}}</span>
    }
    <div class="grid">
      <div class="grid-6">
        @if (monster.locations) {
          <b>{{a18service.location_translation[language]}}</b>
        }
        @if (monster.locations) {
          <ul>
            @for (loc of monster.locations; track loc) {
              <li>{{loc.name}}</li>
            }
          </ul>
        }
        @if (monster.item_set) {
          <b>{{a18service.item_translation[language]}}</b>
        }
        @if (monster.item_set) {
          <ul>
            @for (drop of monster.item_set; track drop) {
              <li><a routerLink="/{{gameURL}}/items/{{drop.slug}}/{{language}}">{{drop.name}}</a></li>
            }
          </ul>
        }
      </div>
      <div class="grid-6">
        <table class="tbl noborder a18-stats"><tbody>
          <tr>
            <td><b>LV </b></td>  <td>{{monster.level}}</td>
          </tr>
          <tr>
            <td><b>HP </b></td>  <td>{{monster.hp}}</td>
          </tr>
          <tr>
            <td><b>ATK </b></td> <td>{{monster.atk}}</td>
          </tr>
          <tr>
            <td><b>DEF </b></td> <td>{{monster.defen}}</td>
          </tr>
          <tr>
            <td><b>SPD </b></td> <td>{{monster.spd}}</td>
          </tr>
          <tr>
            <td><b>Exp </b></td>  <td>{{monster.exp}}</td>
          </tr>
          <tr>
            <td><b>Cole </b></td>  <td>{{monster.cole}}</td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <div class="a18-weaknesses">
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-slash"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-impact"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-pierce"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-magic"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.slash]}}"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.impact]}}"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.pierce]}}"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.magic]}}"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-fire"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-ice"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-lightning"></use></svg>
      <svg><use href="/media/spritesheets/A18.svg?v=1#resist-ailment"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.fire]}}"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.ice]}}"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.light]}}"></use></svg>
      <svg><use attr.href="/media/spritesheets/{{chart[monster.ail]}}"></use></svg>
    </div>
</div>
}