@if (error) {
  <Error [errorCode]="error"></Error>
}
@if (!error) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="title"></Breadcrumb>
  <h1>{{title}}</h1>
}
@if (data; as tower) {
  <div class="table-of-contents">
    <b>Table of Contents</b>
    <ol>
      @for (floor of tower; track floor) {
        <li>
          <a href="/{{gameURL}}/quests/tower/{{language}}#{{floor.floor}}"
            (click)="$event.preventDefault();scroll(floor.floor)">
            Floor {{floor.floor}}
          </a>
        </li>
      }
    </ol>
  </div>
  @for (floor of tower; track floor) {
    <h2 id="{{floor.floor}}">Floor {{floor.floor}}</h2>
    <p>
      <b>Combat Level: </b>{{floor.combat_level}}<br/>
    </p>
    <div style="display:grid;grid-template-columns:repeat(4,23%);grid-row-gap:1rem;grid-column-gap:2%;">
      @for (reward of floor.rewards; track reward) {
        <div style="position:relative;text-align:center;">
          <a routerLink="/{{gameURL}}/items/materials/{{reward.item.slug}}/{{language}}">
            <img loading="lazy" class="resleri-item-frame-sm"
              style="aspect-ratio:1;width:150px;background-image:url({{imgURL}}svg/item-frame-{{reward.item.rarity}}.svg)"
              src="{{imgURL}}items/{{reward.item.slug}}.webp" alt="{{reward.item.name}}"><br />
            {{reward.item.name}}</a> x{{reward.num}}
          </div>
        }
      </div>
    }
  }