<Error *ngIf="error" [errorCode]="error"></Error>
<ng-container *ngIf="dungeons">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="title"></Breadcrumb>
<h1>{{title}}</h1>
<div style="justify-content: space-between; margin-left: 0.5em; margin-right: 0.5em;margin-bottom:0.5em;" class="row">
  <div class="table-of-contents">
      <b>Table of Contents</b>
      <ol>
          <li *ngFor="let dungeon of dungeons">
              <a href="/{{gameURL}}/quests/dungeons/{{language}}#{{language == 'en' ? dungeon.name_en : dungeon.name_ja}}"
                (click)="$event.preventDefault();scroll(language == 'en' ? dungeon.name_en : dungeon.name_ja)">
                {{language == 'en' ? dungeon.name_en : dungeon.name_ja}}
                {{language == 'en' ? ' (' + dungeon.name_ja + ')' : ''}}
              </a>
          </li>
      </ol>
  </div>
  <div class="col-md-3" ></div>
</div>

<ng-container *ngFor="let dungeon of dungeons">
  <h2 id="{{language == 'en' ? dungeon.name_en : dungeon.name_ja}}">{{language == 'en' ? dungeon.name_en : dungeon.name_ja}}{{language == 'en' ? ' (' + dungeon.name_ja + ')' : ''}}</h2>

  <table class="table-compress">
    <tr class="table-dark-center">
        <th>#</th>
        <th>Combat Level</th>
    </tr>
    <tr *ngFor="let floor of dungeon.floors">
        <td>{{floor.order}}</td>
        <td>{{floor.combat_level}}</td>
    </tr>
</table>
  <ng-container *ngFor="let floor of dungeon.floors">
    <h3 *ngIf="floor.order == 1">1-2</h3>
    <h3 *ngIf="floor.order == 3">2-4</h3>
    <h3 *ngIf="floor.order == 5">5-9</h3>
    <ng-container *ngIf="floor.order == 1 || floor.order == 3 || floor.order == 5">
      <div style="display:grid;grid-template-columns:repeat(2,50%);grid-row-gap:1rem;">
        <div style="position:relative;text-align:center;" *ngFor="let reward of floor.rewards">
            <a routerLink="/{{gameURL}}/items/materials/{{reward.item.slug}}/{{language}}">
                <img loading="lazy" class="resleri-item-frame-sm"
                    style="aspect-ratio:1;width:150px;background-image:url({{imgURL}}svg/item-frame-{{reward.item.rarity}}.svg)"
                    src="{{imgURL}}items/{{reward.item.slug}}.webp" alt="{{reward.item.name}}"><br />
                {{reward.item.name}}</a>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
</ng-container>