@if (error) {
  <Error [errorCode]="error"></Error>
}
@if (!error) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="title"></Breadcrumb>
  <h1>{{title}}</h1>
}
@if (data; as dungeons) {
  <div class="table-of-contents">
    <b>Table of Contents</b>
    <ol>
      @for (dungeon of dungeons; track dungeon) {
        <li>
          <a href="/{{gameURL}}/quests/dungeons/{{language}}#{{dungeon.name}}"
            (click)="$event.preventDefault();scroll(dungeon.name)">
            {{dungeon.name}}
          </a>
        </li>
      }
    </ol>
  </div>
  @for (dungeon of dungeons; track dungeon) {
    <h2 id="{{dungeon.name}}">{{dungeon.name}}</h2>
    <table class="table-compress"><tbody>
      <tr class="table-dark-center">
        <th>#</th>
        <th>Combat Level</th>
      </tr>
      @for (floor of dungeon.floors; track floor) {
        <tr>
          <td>{{floor.order}}</td>
          <td>{{floor.combat_level}}</td>
        </tr>
      }
    </tbody></table>
    <div style="display:grid;grid-template-columns:repeat(3,33%);grid-row-gap:1rem;text-align:center;">
      @for (reward of dungeon.rewards; track reward) {
        <a routerLink="/{{gameURL}}/items/materials/{{reward.item.slug}}/{{language}}">
          <img loading="lazy" class="resleri-item-frame-sm"
            style="aspect-ratio:1;width:150px;background-image:url({{imgURL}}svg/item-frame-{{reward.item.rarity}}.svg)"
            src="{{imgURL}}items/{{reward.item.slug}}.webp" alt="{{reward.item.name}}"><br />
          {{reward.item.name}}</a>
        }
    </div>
    }
  }
