@if (data; as scorebattles) {
  <h1>{{title}}</h1>
  <div class="table-of-contents">
    <b>Table of Contents</b>
    <ol>
      @for (scorebattle of scorebattles; track scorebattle) {
        <li>
          <a href="/{{gameURL}}/quests/scorebattles/{{language}}#{{scorebattle.chapter}}-{{scorebattle.section}}"
            (click)="$event.preventDefault();scroll(scorebattle.chapter+'-'+scorebattle.section)">
            {{scorebattle.chapter}}-{{scorebattle.section}}: {{scorebattle.name}}
          </a>
        </li>
      }
    </ol>
  </div>
  @for (scorebattle of scorebattles; track scorebattle) {
    <h2 id="{{scorebattle.chapter}}-{{scorebattle.section}}">{{scorebattle.chapter}}-{{scorebattle.section}}: {{scorebattle.name}}</h2>
    @for (diff of scorebattle.difficulties; track diff) {
      <h3>{{difficulties[diff.difficulty]}}</h3>
      <p>
        <b>Combat Level: </b>{{diff.combat_level}}<br/>
        <b>EXP: </b>{{diff.exp}}<br/>
        <b>Cole: </b>{{diff.cole}}
      </p>
      <div style="display:grid;grid-template-columns:repeat(4,23%);grid-row-gap:1rem;grid-column-gap:2%;">
        @for (reward of diff.rewards; track reward) {
          <div style="position:relative;text-align:center;">
            <a routerLink="/{{gameURL}}/items/materials/{{reward.item.slug}}/{{language}}">
              <img loading="lazy" class="resleri-item-frame-sm"
                style="aspect-ratio:1;width:150px;background-image:url({{imgURL}}svg/item-frame-{{reward.item.rarity}}.svg)"
                src="{{imgURL}}items/{{reward.item.slug}}.webp" alt="{{reward.item.name}}"><br />
              {{reward.item.name}}</a> x{{reward.num}}
            </div>
          }
        </div>
      }
    }
  }