@if (data; as dungeons) {
  <h1>{{title}}</h1>
  <div class="table-of-contents">
    <ol>
      @for (dungeon of dungeons; track dungeon) {
        <li>
          <a href="/{{gameURL}}/quests/dungeons/{{language}}#{{dungeon.name}}"
            (click)="$event.preventDefault();scroll(dungeon.name)">
            {{dungeon.name}}
          </a>
        </li>
      }
    </ol>
  </div>
  <ng-template #dun let-dungeon="dungeon">
    <h2 id="{{dungeon.name}}">{{dungeon.name}}</h2>
    <table class="tbl-min borders"><tbody>
      <tr>
        <th>#</th>
        <th>Combat Level</th>
      </tr>
      @for (floor of dungeon.floors; track floor) {
        <tr>
          <td>{{floor.order}}</td>
          <td>{{floor.combat_level}}</td>
        </tr>
      }
    </tbody></table>
    <div style="display:grid;grid-template-columns:repeat(3,33%);grid-row-gap:1rem;text-align:center;">
      @for (reward of dungeon.rewards; track reward) {
        <a style="position: relative;"
          routerLink="/{{gameURL}}/items/materials/{{reward.item.slug}}/{{language}}">
          <svg class="f{{reward.item.rarity}} resleri-item-bg-sm">
              <use href="/media/spritesheets/A25.svg?v=1#item-frame"></use>
          </svg>
          <img loading="lazy" class="resleri-item-frame-sm"
            src="{{imgURL}}items/{{reward.item.slug}}.webp" alt="{{reward.item.name}}">
          {{reward.item.name}}
        </a>
        }
    </div>
  </ng-template>
  @for (dungeon of dungeons; track dungeon; let index=$index) {
    @if (index < 10) {
      <ng-content *ngTemplateOutlet="dun; context: {dungeon:dungeon}"></ng-content>
    }
    @else {
      @defer {
        <ng-content *ngTemplateOutlet="dun; context: {dungeon:dungeon}"></ng-content>
      }
    }
  }
}
