<Error *ngIf="error" [errorCode]="error"></Error>
<!--
<ng-container *ngIf="quest">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Quest"></Breadcrumb>
<h1>Quest</h1>
<language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>

<mat-tab-group>
  <mat-tab label="{{kind[language][0]}}">
    <table class="tbl spacer" style="margin-top:1rem;">
      <tr class="table-dark-center"><th colspan="2">{{kind[language][0]}}</th></tr>
      <tr *ngFor="let it of [].constructor(100); let i = index;">
        <td>{{i+1}}</td>
        <td>
          <p><b>{{quest[i].name}}: </b> {{quest[i].desc}} ({{quest[i].val/100}}%)</p>
          <p *ngIf="quest[i].req"><b>Requirement: </b>{{quest[i].req}}</p>
          <p><b>Cole: </b> {{quest[i].cole}}</p>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="{{kind[language][1]}}">
    <table class="tbl spacer" style="margin-top:1rem;">
      <tr class="table-dark-center"><th colspan="2">{{kind[language][1]}}</th></tr>
      <tr *ngFor="let it of [].constructor(100); let i = index;">
        <td>{{i+1}}</td>
        <td>
          <p><b>{{quest[i+100].name}}: </b> {{quest[i+100].desc}} ({{quest[i+100].val/100}}%)</p>
          <p *ngIf="quest[i+100].req"><b>Requirement: </b>{{quest[i+100].req}}</p>
          <p><b>Cole: </b> {{quest[i+100].cole}}</p>
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
</ng-container>
-->