<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="!error">
<nav style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" (click)="historyService.hrefClicked($event)">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}" (click)="historyService.hrefClicked($event)">{{gameTitle}}</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}/facilities" (click)="historyService.hrefClicked($event)">Facilities</a></li>
    <li class="breadcrumb-item active" aria-current="page">Facility Sets</li>
  </ol>
</nav>
<h1>Facility Sets</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-9" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
    </form>
</div>
<ng-container *ngIf="filteredSets">
<div *ngFor="let set of filteredSets | async" class="row">
    <div class="card card-body griddisplay col-md-8" style="margin-left:auto;margin-right:auto;">
        <h4 class="flex">{{set.effect.name}}</h4>
        <p>{{set.effect.desc}}</p>
        <ul>
          <li *ngFor="let facility of set.facilities">
            <a href="/{{gameURL}}/facilities/{{facility.slug}}" (click)="historyService.hrefClicked($event)">{{facility.name}}</a>
          </li>
        </ul>
    </div>
</div>
</ng-container>
</div>