@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (!error) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Facility Sets"></Breadcrumb>
  <h1>Facility Sets</h1>
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  @for (set of filteredSets | async; track set) {
    <div class="row spacer">
      <div class="card card-body col-md-8" style="margin-left:auto;margin-right:auto;">
        <h4>{{set.effect.name}}</h4>
        <p>{{set.effect.desc}}</p>
        <ul>
          @for (facility of set.facilities; track facility) {
            <li>
              <a routerLink="/{{gameURL}}/facilities/{{facility.slug}}/{{language}}">{{facility.name}}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  }
}