<Error *ngIf="error" [errorCode]="errorCode"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Recipe Books"></Breadcrumb>
<h1>Books</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-9" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
    </form>
  </div>
<div *ngIf="filteredBooks" class="item-grid">
<div *ngFor="let bk of filteredBooks | async; trackBy:identify" class="card card-body">
  <h4 class="card-title">
    <a (click)="openModal(bookModal, bk.slugname, $event);" href="/{{gameURL}}/recipe-books/{{bk.slugname}}/{{language}}">{{bk.name}}</a>    
  </h4>
  <a class="card-item-display" (click)="openModal(bookModal, bk.slugname, $event);" href="/{{gameURL}}/recipe-books/{{bk.slugname}}/{{language}}">
    <img loading="lazy" src="{{imgURL}}items/{{bk.slugname}}.webp" alt="{{bk.name}}">
  </a>
  <p><b>Acquisition: </b>{{bk.acquisition}}</p>
  <b>Items:</b>
  <ul>
    <li *ngFor="let item of bk.items"><a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a></li>
  </ul>
</div>

<ng-template #bookModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
     <a15-book slugname="{{book}}" [showNav]="false"></a15-book>
  </div>
</ng-template>
</div>
</ng-container>