@if (data; as category) {
  <ng-template #cat let-item="item">
    <tr>
      <td>
        <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
      </td>
    </tr>
  </ng-template>
  <category
    [name]="category.name"
    [using]="category.used !== undefined"
    [colspan]="1">
    <ng-container inCategory>
      @for (item of category.items; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
    <ng-container usingCategory>
      @for (item of category.used; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item.synth}"></ng-content>
      }
    </ng-container>
  </category>
}