@use '../../../../scss/variables' as v;

.login-form {
  width: 100%;
  display: inline-flex;
  background-color: lightgray;
  border-radius: 4px;
  border: 1px solid lightgray;

  >input {
    width: 100%;
    border: none;
  }
}

.settings {
  display: grid;
  margin-top: 1em;
  margin-right: 1em;

  .settings-row {
    display: inline-flex;

    >label {
      width: 20%;
    }

    .settings-form {
      width: 80%;

      >input,
      textarea {
        width: 100%;
      }
    }
  }
  >button {
    width: fit-content;
  }
}

.form-svg {
  width: 1.5em;
  height: 1.5em;
  padding: 0.2em;
  text-align: center;
}