@if (data; as monster) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title  card-icon-space">{{monster.name}}</h4>
    <div class="card-icon-position">
      <svg class="svg-icon"><use attr.href="/media/spritesheets/A23.svg?v=1#race-{{monster.kind}}"></use></svg>
    </div>
    <img class="card-item-display" src="{{imgURL}}monsters/{{monster.slug}}.webp?v=1"
      alt="{{monster.name}}" style="aspect-ratio: 1; width: 256px;">
    <table class="a23-talk-table"><tbody>
      @if (monster.char1) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{monster.char1}}.webp" alt="{{monster.char1}}"></td>
          <td>{{monster.desc1}}</td>
        </tr>
      }
      @if (monster.char2) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{monster.char2}}.webp" alt="{{monster.char2}}"></td>
          <td>{{monster.desc2}}</td>
        </tr>
      }
      @if (monster.char3) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{monster.char3}}.webp" alt="{{monster.char3}}"></td>
          <td>{{monster.desc3}}</td>
        </tr>
      }
      @if (monster.char4) {
        <tr>
          <td><img src="/media/games/sophie2/characters/{{monster.char4}}.webp" alt="{{monster.char4}}"></td>
          <td>{{monster.desc4}}</td>
        </tr>
      }
    </tbody></table>
    <div class="grid">
      <div class="grid-6">
        @if (monster.locations) {
          <b>{{a23service.location_translation[language]}}</b>
        }
        @if (monster.locations) {
          <ul>
            @for (loc of monster.locations; track loc) {
              <li>@if (loc.reg) {
                <a routerLink="/{{gameURL}}/locations/{{loc.reg}}/{{language}}">{{loc.name}}</a>
                }@if (!loc.reg) {
                <a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}">{{loc.name}}</a>
              }</li>
            }
          </ul>
        }
        @if (monster.drops) {
          <b>{{a23service.item_translation[language]}}</b>
        }
        @if (monster.drops) {
          <ul>
            @for (drop of monster.drops; track drop) {
              <li><a routerLink="/{{gameURL}}/items/{{drop.slug}}/{{language}}">{{drop.name}}</a></li>
            }
          </ul>
        }
      </div>
      <div class="grid-6">
        <table class="table-item-data" ><tbody>
          <ng-template #stats let-stat="stat" let-text="text">
            <tr>
              <td style="padding:0;">
                <b>{{text}}</b>
              </td>
              <td style="padding:0;padding-left:0.5em;">
                @for (i of [].constructor(stat); track i) {
                  <svg class="standard-stat-star"><use href="/media/spritesheets/main.svg?v=1#fa-star"></use></svg>
                }
                @for (i of [].constructor(5-stat); track i) {
                  <svg class="standard-stat-star" style="fill:black;"><use href="/media/spritesheets/main.svg?v=1#fa-star"></use></svg>
                }
              </td>
            </tr>
          </ng-template>
          <ng-component *ngTemplateOutlet="stats; context:{text:'HP:', stat:monster.hp_rank}"></ng-component>
          <ng-component *ngTemplateOutlet="stats; context:{text:'ATK:', stat:monster.str_rank}"></ng-component>
          <ng-component *ngTemplateOutlet="stats; context:{text:'DEF:', stat:monster.def_rank}"></ng-component>
          <ng-component *ngTemplateOutlet="stats; context:{text:'SPD:', stat:monster.spd_rank}"></ng-component>
        </tbody></table>
      </div>
    </div>
    <table class="tbl noborder" ><tbody>
      <tr>
        <td style="text-align: center;padding-bottom:0;"><svg style="fill:#c88401;width:2em;height:2em;"><use href="/media/spritesheets/A23.svg?v=1#element-physical"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="fill:#5f49ec;width:2em;height:2em;"><use href="/media/spritesheets/A23.svg?v=1#element-magic"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="fill:#f03a02;width:2em;height:2em;"><use href="/media/spritesheets/A23.svg?v=1#element-fire"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="fill:#04b5db;width:2em;height:2em;"><use href="/media/spritesheets/A23.svg?v=1#element-ice"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="fill:#e3bb05;width:2em;height:2em;"><use href="/media/spritesheets/A23.svg?v=1#element-lightning"></use></svg></td>
        <td style="text-align: center;padding-bottom:0;"><svg style="fill:#589b1d;width:2em;height:2em;"><use href="/media/spritesheets/A23.svg?v=1#element-wind"></use></svg></td>
      </tr>
      <tr>
      @for (res of [monster.resist_phys, monster.resist_mag, monster.resist_fire, monster.resist_ice, monster.resist_thun, monster.resist_wind]; track $index) {
        <td style="text-align: center;padding:0;">
          @if (res) {
            @for (i of [].constructor(['RESIST', 'WEAK'].indexOf(res) > -1 ? 1 : ['NOEFFECT', 'SUPER_WEAK'].indexOf(res) > -1 ? 3 : 2) ; track $index) {
              <svg style="width:1em; height:1em; fill:black;">
                @if (['RESIST', 'NOEFFECT', 'SUPER_RESIST'].indexOf(res) > -1) {
                  <use href="/media/spritesheets/main.svg?v=1#fa-chevron-up"></use>
                }
                @else {
                  <use href="/media/spritesheets/main.svg?v=1#fa-chevron-down"></use>
                }
              </svg>
            }
          }
        </td>
      }
      </tr>
    </tbody></table>
  </div>
}