@if (!error) {
  <ng-template #template let-mon="item">
    <item
      [item]="mon"
      url="/{{gameURL}}/monsters/{{mon.slug}}/{{language}}"
      (buttonClicked)="openDialog($event)"
      dimension="256"
      imgURL="{{imgURL}}monsters/{{mon.slug}}.webp?v=1">
      <ng-container icon>
        <svg class="svg-icon"><use attr.href="/media/spritesheets/A23.svg?v=1#race-{{mon.kind}}"></use></svg>
      </ng-container>
    </item>
  </ng-template>
  <filter-list [list]="filteredMonsters" name="{{a23service.monster_translation[language]}}" [(hide)]="hide" [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>{{a23service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <mat-form-field class="grid-4" appearance="outline">
        <mat-label>{{a23service.race_translation[language]}}</mat-label>
        <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon"       >
          <mat-option  class="svg-icon-text-vertical-center" value="1" selected><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#book"></use></svg>--</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="2"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-puni"></use></svg>Puni</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="3"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-magical-creature"></use></svg>Magical Creature</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="4"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-beast"></use></svg>Beast</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="5"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-apparition"></use></svg>Apparition</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="6"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-plant"></use></svg>Plant</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="7"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-dragon"></use></svg>Dragon</mat-option>
          <mat-option  class="svg-icon-text-vertical-center" value="8"         ><svg class="svg-icon"><use href="/media/spritesheets/A23.svg?v=1#race-erde-wiege"></use></svg>Erde Wiege</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </filter-list>
}