<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<ng-container *ngIf="!error">
<nav style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" (click)="historyService.hrefClicked($event)">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}" (click)="historyService.hrefClicked($event)">{{gameTitle}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Monsters</li>
  </ol>
</nav>
<h1>Monsters</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-9" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
    </form>
</div>
<ng-container *ngIf="filteredMonsters">
  <div *ngFor="let monster of filteredMonsters | async| pair " class="row">
    <div *ngFor="let mon of monster" class="spacer col-md-5 mx-auto">
      <div *ngIf="mon" class="card allheight card-body">
        <h4 class="card-title card-icon-space">
          <a (click)="openModal(monsterModal, mon.slugname); $event.preventDefault();" href="/{{gameURL}}/monsters/{{mon.slugname}}/{{language}}">{{mon.name}}</a>    
        </h4>
        <div class="card-icon-position">
          <span>{{mon.race}}</span>
          <br *ngIf="mon.isDX" /><span *ngIf="mon.isDX" class="badge bg-secondary">DX</span>
        </div>
        <a class="card-item-display" (click)="openModal(monsterModal, mon.slugname); $event.preventDefault();" href="/{{gameURL}}/monsters/{{mon.slugname}}/{{language}}">
          <img loading="lazy" src="{{imgURL}}monsters/{{mon.slugname}}.webp " alt="{{mon.name}}">
        </a>
        <button (click)="openModal(monsterModal, mon.slugname)" class="card-read-more-position" mat-mini-fab color="accent">
          <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <ng-template #monsterModal>
    <div class="modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <i class="fas fa-times-circle"></i>
      </button>
       <a12-monster slugname="{{monster}}" [showNav]="false"></a12-monster>
    </div>
  </ng-template>
</ng-container>
</ng-container>