@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (data; as monster) {
  @if (showNav) {
    <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Monsters', '/'+gameURL+'/monsters/'+language]]" [current]="monster.name"></Breadcrumb>
  }
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <h4 class="card-title card-icon-space">{{monster.name}}</h4>
      <div class="card-icon-position">
        <span>{{monster.race}}</span>
        @if (monster.isDX) {
          <br />
          }@if (monster.isDX) {
          <span class="badge bg-secondary">DX</span>
        }
      </div>
      <img class="image-display" loading="lazy" src="{{imgURL}}monsters/{{monster.slugname}}.webp" alt="{{monster.name}}">
      @if (monster.desc) {
        <p>{{monster.desc}}</p>
      }
      @if (monster.note) {
        <p>{{monster.note}}</p>
      }
      <div class="row">
        <div class="col-md-6">
          @if (monster.locations) {
            <b>Locations:</b>
          }
          @if (monster.locations) {
            <ul>
              @for (loc of monster.locations; track loc) {
                <li>
                  @if (loc.parentslug) {
                    <a routerLink="/{{gameURL}}/locations/{{loc.parentslug}}/{{language}}" fragment="{{loc.slugname}}">{{loc.name}}</a>
                  }
                  @if (!loc.parentslug) {
                    <a routerLink="/{{gameURL}}/locations/{{loc.slugname}}/{{language}}">{{loc.name}}</a>
                  }
                </li>
              }
            </ul>
          }
          @if (monster.item_set) {
            <b>Drops:</b>
          }
          @if (monster.item_set) {
            <ul>
              @for (drop of monster.item_set; track drop) {
                <li><a routerLink="/{{gameURL}}/items/{{drop.slugname}}/{{language}}">{{drop.name}}</a></li>
              }
            </ul>
          }
        </div>
        <div class="col-md-6">
          <table style="width:auto;" class="tbl" ><tbody>
            <tr>
              <td style="border-top:transparent;padding:0;"><b>LV </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.level}}</td>
            </tr>
            <tr>
              <td style="border-top:transparent;padding:0;"><b>HP </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.hp}}</td>
            </tr>
            <tr>
              <td style="border-top:transparent;padding:0;"><b>ATK </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.atk}}</td>
            </tr>
            <tr>
              <td style="border-top:transparent;padding:0;"><b>DEF </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.defen}}</td>
            </tr>
            <tr>
              <td style="border-top:transparent;padding:0;"><b>SPD </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">{{monster.spd}}</td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
    @if (showNav) {
      <div class="col-md-3" ></div>
    }
  </div>
}