@if (!error) {
  <ng-template #template let-item="item">
    <item
      [item]="item"
      url="/{{gameURL}}/items/{{item.id}}/{{language}}"
      (buttonClicked)="openDialog($event)"
      [imgURL]=" item.cats[0].id != 38 ? `${imgURL}items/${item.id}.webp?v=1` : ''"
      dimension="256">
      <ng-container icon>
        @if (item.isDLC) {
          <span class="badge bg-primary">DLC</span>
        }
      </ng-container>
      <div class="two-column" style="height:100%;">
        <ul style="padding-left: 0;">
          @for (cat of item.cats; track cat) {
            <li style="display: flex;">
              <svg class="a26-icon"><use attr.href="/media/spritesheets/A26.svg?v=1#{{category_to_icon[cat.id]}}"></use></svg>
              {{cat.name}}
            </li>
          }
        </ul>
        @if (item.mats) {
          <ul style="padding-left: 0;">
            @for (mat of item.mats; track mat) {
              <li style="display: flex;">
                <svg class="a26-icon"><use attr.href="/media/spritesheets/A26.svg?v=1#material-{{mat.id}}"></use></svg>
                {{mat.name}}
              </li>
            }
          </ul>
        }
      </div>
      @if (item.resonance) {
        <div class="two-column">
          <div style="break-inside: avoid-column;">
            <svg style="background-color:{{item.fire ? a26service.elements['fire'] : a26service.elements['none']}};" class="a26-elements"><use href="/media/spritesheets/A26.svg?v=1#fire"></use></svg>
            <svg style="background-color:{{item.ice  ? a26service.elements['ice']  : a26service.elements['none']}};" class="a26-elements"><use href="/media/spritesheets/A26.svg?v=1#ice" ></use></svg>
            <svg style="background-color:{{item.bolt ? a26service.elements['bolt'] : a26service.elements['none']}};" class="a26-elements"><use href="/media/spritesheets/A26.svg?v=1#bolt"></use></svg>
            <svg style="background-color:{{item.air  ? a26service.elements['air']  : a26service.elements['none']}};" class="a26-elements"><use href="/media/spritesheets/A26.svg?v=1#air" ></use></svg>
          </div>
            @if (item.resonance) {
              <div style="display:flex;">
                <svg class="a26-icon"><use href="/media/spritesheets/A26.svg?v=1#resonance"></use></svg> {{item.resonance}} - {{item.resonance+5}}
              </div>
            }
        </div>
      }
    </item>
  </ng-template>
  <filter-list
    [list]="filteredItems"
    name="{{a26service.item_translation[language]}}"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-12" appearance="outline">
        <mat-label>{{a26service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <mat-form-field class="grid-4" appearance="outline">
        <mat-label>{{a26service.category_translation[language]}}</mat-label>
        <mat-select matNativeControl formControlName="cat" disableOptionCentering="true" class="mat-select-icon">
          <mat-option value="--" selected><div class="a26-icon-text-vertical-center"><div class="a26-icon"></div>--</div></mat-option>
          @if (data) {
            @for (cat of data.categories; track cat) {
              <mat-option value="{{cat.name}}">
                <div class="a26-icon-text-vertical-center">
                  <svg class="a26-icon"><use attr.href="/media/spritesheets/A26.svg?v=1#{{category_to_icon[cat.id]}}"></use></svg>
                  {{cat.name}}
                </div>
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="grid-4" appearance="outline">
        <mat-label>{{a26service.material_translation[language]}}</mat-label>
        <mat-select matNativeControl formControlName="mat" disableOptionCentering="true" class="mat-select-icon">
          <mat-option value="--" selected><div class="a26-icon-text-vertical-center"><div class="a26-icon"></div>--</div></mat-option>
          @if (data) {
            @for (mat of data.materials; track mat) {
              <mat-option value="{{mat.name}}" class="svg-icon-text-vertical-center">
                <svg class="a26-icon"><use attr.href="/media/spritesheets/A26.svg?v=1#material-{{mat.id}}"></use></svg>
                {{mat.name}}
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
      <filter-buttons svg="A26.svg?v=1" extra_class="a26-elements2" class="grid-6"
        [list]="[
          { ctrl: this.pageForm.controls.fire, icon: 'fire', activeColor: this.a26service.elements['fire'] },
          { ctrl: this.pageForm.controls.ice,  icon: 'ice',  activeColor: this.a26service.elements['ice']  },
          { ctrl: this.pageForm.controls.bolt, icon: 'bolt', activeColor: this.a26service.elements['bolt'] },
          { ctrl: this.pageForm.controls.air,  icon: 'air',  activeColor: this.a26service.elements['air']  },
        ]">
      </filter-buttons>
      <filter-buttons svg="A26.svg?v=1" [single_only]="true" class="grid-6"
        [list]="[
          { ctrl: pageForm.controls.gather,     icon: 'items' },
          { ctrl: pageForm.controls.consumable, icon: 'category-bombs' },
          { ctrl: pageForm.controls.synth,      icon: 'synth' },
          { ctrl: pageForm.controls.equip,      icon: 'equip' },
          { ctrl: pageForm.controls.explore,    icon: 'exploration' },
          { ctrl: pageForm.controls.key,        icon: 'category-key-items' },
          { ctrl: pageForm.controls.furniture,  icon: 'category-interior' },
        ]">
      </filter-buttons>
    </form>
  </filter-list>
}