@if (data; as item) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title card-icon-space">{{item.name}}</h4>
    <div class="card-icon-position">
      @if (item.isDLC) {
        <br /><span class="badge bg-primary">DLC</span>
      }
    </div>
    <!--
    <img class="card-item-display" src="{{imgURL}}items/{{item.id}}.webp?v=1"
      alt="{{item.name}}" style="aspect-ratio: 1; width: 280px;">
    -->

    @if (item.desc) {
      <p>{{item.desc}}</p>
    }
    @if (item.quest) {
      <p>
        @if (item.quest.extra) {
          <b>{{item.quest.extra}} </b>
        }
        {{item.quest.name}}
      </p>
    }

    <div class="two-column">
      <ul style="padding-left: 0;">
        @for (cat of item.cats; track cat) {
          <li style="display: flex;">
            <svg class="a26-icon"><use attr.href="{{imgURL}}spritesheet.svg?v=2#{{category_to_icon[cat.id]}}"></use></svg>
            <a routerLink="/{{gameURL}}/categories/{{cat.id}}/{{language}}">{{cat.name}}</a>
          </li>
        }
      </ul>
      @if (item.mats) {
        <ul style="padding-left: 0;">
          @for (mat of item.mats; track mat) {
            <li style="display: flex;">
              <svg class="a26-icon"><use attr.href="{{imgURL}}spritesheet.svg?v=2#material-{{mat.id}}"></use></svg>
              {{mat.name}}
            </li>
          }
        </ul>
      }
    </div>
    @if (item.resonance) {
      <div class="two-column">
        <div style="break-inside: avoid-column;">
          <svg style="background-color:{{item.fire ? a26service.elements['fire'] : a26service.elements['none']}};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#fire"></use></svg>
          <svg style="background-color:{{item.ice  ? a26service.elements['ice']  : a26service.elements['none']}};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#ice" ></use></svg>
          <svg style="background-color:{{item.bolt ? a26service.elements['bolt'] : a26service.elements['none']}};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#bolt"></use></svg>
          <svg style="background-color:{{item.air  ? a26service.elements['air']  : a26service.elements['none']}};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#air" ></use></svg>
        </div>
          @if (item.resonance) {
            <div style="display:flex;">
              <svg class="a26-icon"><use attr.href="{{imgURL}}spritesheet.svg?v=2#resonance"></use></svg> {{item.resonance}} - {{item.resonance+5}}
            </div>
          }
      </div>
    }

    @if (item.atk || item.dfn || item.spd) {
      <b>Stats:</b>
      <ul>
        @if (item.atk) { <li><b>{{a26service.statStrings['atk'][language]}}: </b>{{item.atk}}</li> }
        @if (item.dfn) { <li><b>{{a26service.statStrings['dfn'][language]}}: </b>{{item.dfn}}</li> }
        @if (item.spd) { <li><b>{{a26service.statStrings['spd'][language]}}: </b>{{item.spd}}</li> }
      </ul>
    }
    @if (item.mons || item.rare) {
      <b>{{a26service.monsterString[language]}}</b>
      <ul>
        @for (mon of item.mons; track mon) {
          <li>
            <a routerLink="/{{gameURL}}/monsters/{{mon.id}}/{{language}}">{{mon.name}}</a>
          </li>
        }
        @for (mon of item.rare; track mon) {
          <li>
            <a routerLink="/{{gameURL}}/monsters/{{mon.id}}/{{language}}">{{mon.name}}</a>
          </li>
        }
      </ul>
    }

    @if (item.material) {
      <b>Materials:</b>
      <ul>
        @for (r of item.material.recipe; track r) {
          <li>
            {{r.mat.name}} x{{r.num}}
          </li>
        }
      </ul>
    }

    @if (item.comfort_goal) {
      <p><b>{{a26service.comfortString[language]}} </b>{{item.comfort_goal}} (see map) <i class="fa-solid fa-arrow-down"></i></p>
    }

    @if (item.rank) {
      <table class="tbl"><tbody>
        <tr><th colspan=2>Rank Data</th></tr>
        @for (rank of item.rank; track rank) {
          <tr>
            <td>{{rank.rank}}</td>
            <td>
              <ul>
                <li><b>Quality: </b>{{rank.quality}}</li>
                @if (rank.eff) {
                  @for (e of rank.eff; track e) {
                    <li>
                      <popover [template]="effPopover"
                        [name]="e.eff.name"
                        [context]="{eff:e.eff}"
                        url="/{{gameURL}}/effects/{{e.eff.id}}/{{language}}">
                        {{e.eff.name}} {{e.lv}}
                      </popover>
                    </li>
                  }
                }
              </ul>
            </td>
          </tr>
        }
      </tbody></table>
    }
    @if (item.recipe) {
      <ul>
        <li><b>Amount Made:</b> {{item.recipe.num}}</li>
        <li><b>SP:</b> {{item.recipe.sp}}</li>
      </ul>
      <table class="tbl"><tbody>
        <tr><th style="width: 50%;">{{a26service.itemString[language]}}</th><th style="width: 50%;">{{a26service.effectString[language]}}</th></tr>
        <tr>
          <td>
            <ul>
              @for (ing of item.recipe.recipe; track ing) {
                <li>
                  @if (ing.item) {
                    <a routerLink="/{{gameURL}}/items/{{ing.item.id}}/{{language}}">{{ing.item.name}}</a>
                  }
                  @else {
                    <a routerLink="/{{gameURL}}/categories/{{ing.cat.id}}/{{language}}">{{ing.cat.name}}</a>
                  }
                </li>
              }
            </ul>
          </td>
          <td>
              <ul>
                @for (ing of item.recipe.recipe; track ing) {
                  @if (ing.eff) {
                    <li>
                      <popover [template]="effPopover"
                        [name]="ing.eff.name"
                        [context]="{eff:ing.eff}"
                        url="/{{gameURL}}/effects/{{ing.eff.id}}/{{language}}">
                        {{ing.eff.name}}
                      </popover>
                    </li>
                  }
                }
              </ul>
          </td>
        </tr>
      </tbody></table>
      <table class="tbl"><tbody>
        <tr><th colspan=2>
          <div style="display:inline-flex"><span style="padding-right: 0.2em;">Level Data</span>
          @if (item.recipe.level[0].fire) { <svg style="background-color:{{a26service.elements['fire']}};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#fire"></use></svg> }
          @if (item.recipe.level[0].ice)  { <svg style="background-color:{{a26service.elements['ice'] }};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#ice" ></use></svg> }
          @if (item.recipe.level[0].bolt) { <svg style="background-color:{{a26service.elements['bolt']}};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#bolt"></use></svg> }
          @if (item.recipe.level[0].air)  { <svg style="background-color:{{a26service.elements['air'] }};" class="a26-elements"><use attr.href="{{imgURL}}spritesheet.svg?v=2#air" ></use></svg> }
          </div>
        </th></tr>
        @for (level of item.recipe.level; track level) {
          <tr>
            <td>{{level.lv}}</td>
            <td>{{level.reward}} @if(level.amt) { {{level.amt}} } </td>
          </tr>
        }
      </tbody></table>
    }
  </div>
  @if (item.location) {
    <a26-map [data]="item.location"></a26-map>
  }
  <ng-template #effPopover let-eff="eff">
    @if (!eff.desc2) {
      <p>{{eff.desc1}}</p>
    }
    @else {
      <p><b>Inner: </b>{{eff.desc1}}</p>
      <p><b>Outer: </b>{{eff.desc2}}</p>
    }
    <p><b>Max: </b>{{eff.max_level}}</p>
    <a routerLink="/{{gameURL}}/effects/{{eff.id}}/{{language}}">More info...</a>
  </ng-template>
}