<div
  [class]="small ? 'card card-body card-small' : 'card card-body'"
  [style]="hideContents ? 'height:100%;' : null">
  @if (url && hideContents) {
    <h4 class="card-title" style="margin-right:6rem;">
      <a (click)="$event.preventDefault(); buttonClicked.emit(effect.slug);"
      href="{{url}}/{{language}}">{{effect.name}}</a>
    </h4>
  }
  @else {
    <h4 class="card-title" style="margin-right:6rem;">{{effect.name}}</h4>
  }
  <div class="card-icon-position">
    <ng-content select="[icon]"></ng-content>
  </div>
    @if (effect.note) {
      <p><b>Note:</b> {{effect.note}}</p>
    }
    @if (effect.desc) {
      <p [class]="hideContents ? 'card-read-more-spacer' : null">{{effect.desc}}</p>
    }
    <ng-content></ng-content>
    @if (hideContents) {
      <button class="card-read-more-position"
        mat-mini-fab color="primary"
        (click)="buttonClicked.emit(effect.slug)">
        <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
      </button>
    }
</div>