@if (!error) {
  <ng-template #template let-item="item">
    <item
      [item]="item"
      url="/{{gameURL}}/items/{{item.slug}}/{{language}}"
      imgURL="{{imgURL}}items/{{item.slug}}.webp?v=1"
      (buttonClicked)="openDialog($event)"
      dimension="240">
      <ng-container icon>
        @if (item.level) {
          <b>{{a12service.level_translation[language]}} {{item.level}}</b>
        }
      </ng-container>
      <table class="table-item-data"><tbody>
        @for (cat of item.categories; track cat) {
          <tr>
            <td>
              <svg class="svg-icon"><use attr.href="/media/spritesheets/A12.svg?v=0#category-{{cat.slug}}"></use></svg>
            </td>
            <td>{{cat.name}}</td>
          </tr>
        }
      </tbody></table>
    </item>
  </ng-template>
  <filter-list
    [list]="filteredItems"
    [name]="a12service.item_translation[language]"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field appearance="outline" class="grid-8">
        <mat-label>{{a12service.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <mat-form-field  appearance="outline" class="grid-4">
        <mat-label>{{a12service.category_translation[language]}}</mat-label>
        <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon">
          <mat-option value="--">--</mat-option>
          @if (data) {
            @for (cat of data.categories; track cat) {
              <mat-option class="svg-icon-text-vertical-center" value="{{cat.name}}">
                <svg class="svg-icon"><use attr.href="/media/spritesheets/A12.svg?v=0#category-{{cat.slug}}"></use></svg>
                {{cat.name}}
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-4">
        <mat-label>{{a12service.ingredient_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtering">
      </mat-form-field>
    </form>
  </filter-list>
}