@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (!error) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Items"></Breadcrumb>
  <h1>Items</h1>
  <div class ="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-8" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="Any"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book"   ></mat-icon> Any</mat-option>
            @if (data) {
              @for (cat of data.categories; track cat) {
                <mat-option value="{{cat.name}}">
                  <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-{{cat.icon_name}}"></mat-icon>
                  {{cat.name}}
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
          <mat-label>Has ingredient...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtering">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (it of filteredItems | async; track identify2($index, it)) {
      <div class="card card-body">
        <h4 class="card-title card-icon-space">
          <a (click)="openDialog(it.slugname, $event);" href="/{{gameURL}}/items/{{it.slugname}}/{{language}}">{{it.name}}</a>
        </h4>
        <div class="card-icon-position">
          @if (it.level) {
            <b>LV {{it.level}}</b>
          }
        </div>
        <div class="card-item-display">
          <a (click)="openDialog(it.slugname, $event);" href="/{{gameURL}}/items/{{it.slugname}}/{{language}}">
            <img loading="lazy" src="{{imgURL}}items/{{it.slugname}}.webp" alt="{{it.name}}">
          </a>
        </div>
        <table class="table-item-data"><tbody>
          @for (cat of it.categories; track cat) {
            <tr>
              <td><i class="atelier atelier-{{cat.icon_name}}"></i></td><td>{{cat.name}}</td>
            </tr>
          }
        </tbody></table>
        <button (click)="openDialog(it.slugname)" class="card-read-more-position" mat-mini-fab color="primary">
          <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
        </button>
      </div>
    }
  </div>
}