@if (data; as monster) {
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <h4 class="card-title  card-icon-space">{{monster.name}}</h4>
      <div class="card-icon-position">
        @if (monster.montype != 'boss') {
          <i class="atelier atelier-ryza2-race-{{monster.montype}}"></i>
        }
        @if (monster.montype == 'boss') {
          <i class="atelier atelier-ryza2-boss-enemy"></i>
        }
        <i class="atelier atelier-np atelier-ryza2-{{monster.size.toLowerCase()}}-enemy"></i>
        @if (monster.isDLC) {
          <br />
          }@if (monster.isDLC) {
          <span class="badge bg-secondary">DLC</span>
        }
      </div>
      <div class="card-text">
        <img class="image-display" loading="lazy" src="{{imgURL}}monsters/{{monster.slug}}.webp" alt="{{monster.name}}">
        @if (monster.desc) {
          <p>{{monster.desc}}</p>
        }
        @if (monster.note) {
          <p><b>Note:</b> {{monster.note}}</p>
        }
        <div class="row">
          <div class="col-md-6">
            @if (monster.location) {
              <b>Locations:</b>
            }
            @if (monster.location) {
              <ul>
                @for (loc of monster.location; track loc) {
                  <li>@if (loc.reg) {
                    <a routerLink="/{{gameURL}}/locations/{{loc.reg}}/{{language}}">{{loc.name}}</a>
                    }@if (!loc.reg) {
                    <a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}">{{loc.name}}</a>
                  }</li>
                }
              </ul>
            }
            @if (monster.drops) {
              <b>Drops:</b>
            }
            @if (monster.drops) {
              <ul>
                @for (drop of monster.drops; track drop) {
                  <li><a routerLink="/{{gameURL}}/items/{{drop.slug}}/{{language}}">{{drop.name}}</a></li>
                }
              </ul>
            }
          </div>
          <div class="col-md-6">
            <table style="width:auto;" class="table-item-data" ><tbody>
              <tr>
                <td style="border-top:transparent;padding:0;"><b>HP: </b></td>  <td style="border-top:transparent;padding:0;padding-left:0.5em;">@for (i of  hp; track i) {
                @if (i) {
                  <i style="color:gold;" class="fas fa-star"></i>
                  }@if (!i) {
                  <i class="fas fa-star"></i>
                }
              }</td>
            </tr>
            <tr>
              <td style="border-top:transparent;padding:0;"><b>ATK: </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">@for (i of atk; track i) {
              @if (i) {
                <i style="color:gold;" class="fas fa-star"></i>
                }@if (!i) {
                <i class="fas fa-star"></i>
              }
            }</td>
          </tr>
          <tr>
            <td style="border-top:transparent;padding:0;"><b>DEF: </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">@for (i of def; track i) {
            @if (i) {
              <i style="color:gold;" class="fas fa-star"></i>
              }@if (!i) {
              <i class="fas fa-star"></i>
            }
          }</td>
        </tr>
        <tr>
          <td style="border-top:transparent;padding:0;"><b>SPD: </b></td> <td style="border-top:transparent;padding:0;padding-left:0.5em;">@for (i of spd; track i) {
          @if (i) {
            <i style="color:gold;" class="fas fa-star"></i>
            }@if (!i) {
            <i class="fas fa-star"></i>
          }
        }</td>
      </tr>
    </tbody></table>
  </div>
</div>
</div>
<table class="tbl table-shrink" ><tbody>
  <tr>
    <th style="text-align: center;border:transparent;padding-bottom:0;"><i style="padding:0;color:#c88401;" class="atelier atelier-lg atelier-ryza2-physical"></i></th>
    <th style="text-align: center;border:transparent;padding-bottom:0;"><i style="padding:0;color:#5f49ec;" class="atelier atelier-lg atelier-ryza2-magic"></i></th>
    <th style="text-align: center;border:transparent;padding-bottom:0;"><i style="padding:0;color:#f03a02;" class="atelier atelier-lg atelier-ryza2-fire"></i></th>
    <th style="text-align: center;border:transparent;padding-bottom:0;"><i style="padding:0;color:#04b5db;" class="atelier atelier-lg atelier-ryza2-ice"></i></th>
    <th style="text-align: center;border:transparent;padding-bottom:0;"><i style="padding:0;color:#e3bb05;" class="atelier atelier-lg atelier-ryza2-lightning"></i></th>
    <th style="text-align: center;border:transparent;padding-bottom:0;"><i style="padding:0;color:#589b1d;" class="atelier atelier-lg atelier-ryza2-wind"></i></th>
  </tr>
  <tr>
    <td style="text-align: center;border:transparent;padding:0;">@if (monster.resist_phys == 'NOEFFECT') {
      <span>0x</span>
      }@if (monster.resist_phys == 'HALF') {
      <span>0.5x</span>
      }@if (monster.resist_phys  == 'WEAK') {
      <span>2x</span>
    }</td>
    <td style="text-align: center;border:transparent;padding:0;">@if (monster.resist_mag  == 'NOEFFECT') {
      <span>0x</span>
      }@if (monster.resist_mag  == 'HALF') {
      <span>0.5x</span>
      }@if (monster.resist_mag   == 'WEAK') {
      <span>2x</span>
    }</td>
    <td style="text-align: center;border:transparent;padding:0;">@if (monster.resist_fire == 'NOEFFECT') {
      <span>0x</span>
      }@if (monster.resist_fire == 'HALF') {
      <span>0.5x</span>
      }@if (monster.resist_fire  == 'WEAK') {
      <span>2x</span>
    }</td>
    <td style="text-align: center;border:transparent;padding:0;">@if (monster.resist_ice  == 'NOEFFECT') {
      <span>0x</span>
      }@if (monster.resist_ice  == 'HALF') {
      <span>0.5x</span>
      }@if (monster.resist_ice   == 'WEAK') {
      <span>2x</span>
    }</td>
    <td style="text-align: center;border:transparent;padding:0;">@if (monster.resist_light== 'NOEFFECT') {
      <span>0x</span>
      }@if (monster.resist_light== 'HALF') {
      <span>0.5x</span>
      }@if (monster.resist_light == 'WEAK') {
      <span>2x</span>
    } </td>
    <td style="text-align: center;border:transparent;padding:0;">@if (monster.resist_wind == 'NOEFFECT') {
      <span>0x</span>
      }@if (monster.resist_wind == 'HALF') {
      <span>0.5x</span>
      }@if (monster.resist_wind  == 'WEAK') {
      <span>2x</span>
    }</td>
  </tr>
</tbody></table>
</div>
@if (showNav) {
  <div class="col-md-3" ></div>
}
</div>
}