@if (data; as monster) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title  card-icon-space">{{monster.name}}</h4>
    <div class="card-icon-position">
      @if (monster.montype != 'boss') {
          <svg class="svg-icon-standard right-spacer"><use attr.href="/media/spritesheets/A22.svg?v=1#race-{{monster.montype}}"></use></svg>
        }
        @if (monster.montype == 'boss') {
          <svg class="svg-icon-standard right-spacer"><use href="/media/spritesheets/A22.svg?v=1#boss-enemy"></use></svg>
        }
        <svg class="svg-icon-standard"><use attr.href="/media/spritesheets/A22.svg?v=1#{{monster.size.toLowerCase()}}-enemy"></use></svg>
        @if (monster.isDLC) {
          <br />
          }@if (monster.isDLC) {
          <span class="badge bg-primary">DLC</span>
        }
    </div>
    <img class="card-item-display" src="{{imgURL}}monsters/{{monster.slug}}.webp?v=1"
      alt="{{monster.name}}" style="aspect-ratio: 1; width: 256px;">
    @if (monster.desc) {
      <p>{{monster.desc}}</p>
    }
    @if (monster.note) {
      <p><b>Note:</b> {{monster.note}}</p>
    }
    <div class="grid">
      <div class="grid-6">
        @if (monster.location) {
          <b>{{a22service.location_translation[language]}}</b>
        }
        @if (monster.location) {
          <ul>
            @for (loc of monster.location; track loc) {
              <li>@if (loc.reg) {
                <a routerLink="/{{gameURL}}/locations/{{loc.reg}}/{{language}}">{{loc.name}}</a>
                }@if (!loc.reg) {
                <a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}">{{loc.name}}</a>
              }</li>
            }
          </ul>
        }
        @if (monster.drops) {
          <b>{{a22service.item_translation[language]}}</b>
        }
        @if (monster.drops) {
          <ul>
            @for (drop of monster.drops; track drop) {
              <li><a routerLink="/{{gameURL}}/items/{{drop.slug}}/{{language}}">{{drop.name}}</a></li>
            }
          </ul>
        }
      </div>
      <div class="grid-6">
        <table style="width:auto;" class="table-item-data" ><tbody>
          <ng-component *ngTemplateOutlet="stats;context:{text:'HP:',  stat:monster.hp_rank}"></ng-component>
          <ng-component *ngTemplateOutlet="stats;context:{text:'ATK:', stat:monster.str_rank}"></ng-component>
          <ng-component *ngTemplateOutlet="stats;context:{text:'DEF:', stat:monster.def_rank}"></ng-component>
          <ng-component *ngTemplateOutlet="stats;context:{text:'SPD:', stat:monster.spd_rank}"></ng-component>
        </tbody></table>
      </div>
    </div>
    <div class="a22-weaknesses">
      <svg style="fill:#c88401;"><use href="/media/spritesheets/A22.svg?v=1#physical"></use></svg>
      <svg style="fill:#5f49ec;"><use href="/media/spritesheets/A22.svg?v=1#magic"></use></svg>
      <svg style="fill:#f03a02;"><use href="/media/spritesheets/A22.svg?v=1#fire"></use></svg>
      <svg style="fill:#04b5db;"><use href="/media/spritesheets/A22.svg?v=1#ice"></use></svg>
      <svg style="fill:#e3bb05;"><use href="/media/spritesheets/A22.svg?v=1#lightning"></use></svg>
      <svg style="fill:#589b1d;"><use href="/media/spritesheets/A22.svg?v=1#wind"></use></svg>
      <ng-component *ngTemplateOutlet="resist;context:{resist:monster.resist_phys}"></ng-component>
      <ng-component *ngTemplateOutlet="resist;context:{resist:monster.resist_mag}"></ng-component>
      <ng-component *ngTemplateOutlet="resist;context:{resist:monster.resist_fire}"></ng-component>
      <ng-component *ngTemplateOutlet="resist;context:{resist:monster.resist_ice}"></ng-component>
      <ng-component *ngTemplateOutlet="resist;context:{resist:monster.resist_light}"></ng-component>
      <ng-component *ngTemplateOutlet="resist;context:{resist:monster.resist_wind}"></ng-component>
    </div>
  </div>

  <ng-template #stats let-stat="stat" let-text="text">
    <tr>
      <td style="padding:0;">
        <b>{{text}}</b>
      </td>
      <td style="padding:0;padding-left:0.5em;">
        @for (i of [].constructor(stat); track i) {
          <svg class="standard-stat-star"><use href="/media/spritesheets/main.svg?v=1#fa-star"></use></svg>
        }
        @for (i of [].constructor(5-stat); track i) {
          <svg class="standard-stat-star" style="fill:black;"><use href="/media/spritesheets/main.svg?v=1#fa-star"></use></svg>
        }
      </td>
    </tr>
  </ng-template>
  <ng-template #resist let-resist="resist">
    <span>
      @if (resist === 'NOEFFECT') { 0x }
      @else if (resist === 'HALF') { 0.5x }
      @else if (resist === 'WEAK') { 2x }
      @else {}
    </span>
  </ng-template>
}