@if (!error) {
  <ng-template #template let-trait="item">
    <a25rw-trait
      (buttonClicked)="openDialog($event)"
      [inputData]="trait"
      url="/{{gameURL}}/traits/{{trait.id}}/{{language}}"
      [imgURL]="imgURL"
      [gameURL]="gameURL">
    </a25rw-trait>
  </ng-template>
  <filter-list
    [list]="filteredTraits"
    name="{{a25rwservice.trait_translation[language]}}"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-12" appearance="outline">
        <mat-label>{{a25rwservice.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <div class="grid-12">
      <div class="svg-filter" style="float:left">
        <svg (click)="toggle(this.pageForm.controls.com)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.com.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#trait-combat-items"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.res)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.res.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#trait-heal"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.inh)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.inh.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#trait-inhibitors"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.boo)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.boo.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#trait-boost-items"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.wep)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.wep.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#trait-weapons"></use></svg>
      </div>
      <div class="svg-filter" style="float:left">
        <svg (click)="toggle(this.pageForm.controls.arm)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.arm.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#category-38"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.acc)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.acc.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#category-39"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.exp)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.exp.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#gather"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.syn)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.syn.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#trait-synthesis"></use></svg>
        <svg (click)="toggle(this.pageForm.controls.sta)"  style="margin-right:0.8em;width:2.3em;height:2.3em;fill:{{pageForm.controls.sta.value  ? 'black' : 'gray'}};"><use attr.href="{{imgURL}}test.svg?v=1#category-40"></use></svg>
      </div>
      </div>
    </form>
  </filter-list>
}