@if (!error) {
  <ng-template #template let-trait="item">
    <a25rw-trait
      (buttonClicked)="openDialog($event)"
      [inputData]="trait"
      url="/{{gameURL}}/traits/{{trait.id}}/{{language}}"
      [imgURL]="imgURL"
      [gameURL]="gameURL">
    </a25rw-trait>
  </ng-template>
  <filter-list
    [list]="filteredTraits"
    name="{{a25rwservice.trait_translation[language]}}"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-12" appearance="outline">
        <mat-label>{{a25rwservice.filter_translation[language]}}</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
      </mat-form-field>
      <div class="grid-12">
        <filter-buttons svg="A25RW.svg?v=1" style="float:left"
          [list]="[
            { ctrl: pageForm.controls.com, icon: 'trait-combat-items' },
            { ctrl: pageForm.controls.res, icon: 'trait-heal' },
            { ctrl: pageForm.controls.inh, icon: 'trait-inhibitors' },
            { ctrl: pageForm.controls.boo, icon: 'trait-boost-items' },
            { ctrl: pageForm.controls.wep, icon: 'trait-weapons' },
          ]">
        </filter-buttons>
        <filter-buttons svg="A25RW.svg?v=1" style="float:left"
          [list]="[
            { ctrl: pageForm.controls.arm, icon: 'category-38' },
            { ctrl: pageForm.controls.acc, icon: 'category-39' },
            { ctrl: pageForm.controls.exp, icon: 'gather' },
            { ctrl: pageForm.controls.syn, icon: 'trait-synthesis' },
            { ctrl: pageForm.controls.sta, icon: 'category-40' },
          ]">
        </filter-buttons>
      </div>
    </form>
  </filter-list>
}