<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="book">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Recipe Books', '/'+gameURL+'/recipe-books/'+language]]" [current]="book.name"></Breadcrumb>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <h4 class="card-title card-icon-space">{{book.name}}</h4>
    <div class="card-icon-position">
      <span *ngIf="book.isDLC" class="badge bg-secondary">DLC</span>
      <span *ngIf="book.isDX" class="badge bg-secondary">DX</span>
    </div>
    <div class="card-item-display">
      <img loading="lazy" src="/media/games/{{gameURL}}/items/{{book.slugname}}.webp" alt={{book.name}}>
    </div>
    <p *ngIf="book.desc">{{book.desc}}</p>
    <p><b>Acquisition: </b>{{book.note}}</p>
    <b>Items:</b>
    <ul>
      <li *ngFor="let item of book.items"><a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a></li>
    </ul>
  </div>
  <language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
</div>
</ng-container>