<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="effect">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Effects', '/'+gameURL+'/effects/'+language]]" [current]="effect.name"></Breadcrumb>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <h4 class="card-title">{{effect.name}}</h4>
    <p *ngIf="effect.desc">{{effect.desc}}</p>
    <b>From Item:</b>
    <ul>
      <li *ngFor="let e of effect.effectline_set">
          <a routerLink="/{{gameURL}}/items/{{e.slugname}}/{{language}}">{{e.name}}</a>
        </li>
    </ul>
  </div>
<language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
</div>
</ng-container>