@if (!error) {
  <h1>{{a25rwservice.shop_translation[language]}}</h1>
}
@if (data; as shops) {
  <div class="table-of-contents">
    <b>Table of Contents</b>
    <ol>
      @for (shop of shops; track shop) {
        <li>
          <a href="/{{gameURL}}/shops/{{language}}#{{shop.name}}"
            (click)="$event.preventDefault();scroll(shop.name)">
            {{shop.name}}
          </a>
        </li>
      }
    </ol>
  </div>
  @for (shop of shops; track shop) {
      <div class="card card-medium spacer">
        <h4 class="card-title card-icon-space" id="{{shop.name}}">
          {{shop.name}}
        </h4>
        <ul class="two-column">
          @for (slot of shop.slots; track slot) {
            <li>
              @if (slot.item.visible) {
                <a routerLink="/{{gameURL}}/items/{{slot.item.id}}/{{language}}">{{slot.item.name}}</a>
              }
              @else {
                {{slot.item.name}}
              }
              @if (slot.item.dlc) {
                <span style="margin-left: 0.5em;" class="badge bg-primary">DLC</span>
              }
              <ul>
                <li>Cole: {{slot.price}}</li>
                @if (slot.level_min) {
                  <li>{{a25rwservice.level_translation[language]}}: {{slot.level_min}} - {{slot.level_max}}</li>
                }
                @if (slot.grade) {
                  <li>{{a25rwservice.trait_translation[language]}} {{a25rwservice.level_translation[language]}}: {{slot.grade}}</li>
                }
              </ul>
            </li>
          }
        </ul>
      </div>
  }
}