@if (data; as item) {
  <div [class]="inputSlug ? 'card card-dialog' : 'card card-medium'">
    <h4 class="card-title card-icon-space">{{item.name}}</h4>
    <b class="card-icon-position" style="padding-right:0.5em;">LV {{item.level}}</b>
    <div class="card-item-display">
      <img src="{{imgURL}}items/{{item.slug}}.webp?v=1"
        alt="{{item.name}}" style="aspect-ratio: 1; width: 192px;">
    </div>
    <p>{{item.desc}}</p>
    @if (item.book_set) {
      <p><b>{{a15service.recipebook_translation[language]}}: </b><a routerLink="/{{gameURL}}/recipe-books/{{item.book_set[0].slug}}/{{language}}">{{item.book_set[0].name}}</a></p>
    }
    @if (item.size) {
      <p><b>Size: </b>{{item.size}}</p>
    }
    <div class="flex">
      <table class="table-item-data"><tbody>
        @for (cat of item.categories; track cat) {
          <tr>
            <td><svg class="svg-icon-standard"><use attr.href="/media/spritesheets/A15.svg?v=1#{{cat.icon_name}}"></use></svg></td>
            <td><a routerLink="/{{gameURL}}/categories/{{cat.slug}}/{{language}}">{{cat.name}}</a></td>
          </tr>
        }
      </tbody></table>
      <table class="table-item-data"><tbody>
        <tr>
          <td colspan=2>
            @if (item.fire) {
              <svg class="a15-element" style="background-color:#ac504f;"><use href="/media/spritesheets/A15.svg?v=1#element-fire"></use></svg>
            }
            @if (item.water) {
              <svg class="a15-element" style="background-color:#427389;"><use href="/media/spritesheets/A15.svg?v=1#element-water"></use></svg>
            }
            @if (item.wind) {
              <svg class="a15-element" style="background-color:#5a843c;"><use href="/media/spritesheets/A15.svg?v=1#element-wind"></use></svg>
            }
            @if (item.earth) {
              <svg class="a15-element" style="background-color:#8f7939;"><use href="/media/spritesheets/A15.svg?v=1#element-earth"></use></svg>
            }
            {{item.evalue}}
          </td>
        </tr>
      </tbody></table>
    </div>
    @if (item.relic_set) {
      <b>Relic Locations:</b>
      <ul>
        @for (loc of item.relic_set; track loc) {
          <li><a routerLink="/{{gameURL}}/locations/{{loc.region.slug}}/{{language}}">{{loc.region.name}}</a></li>
        }
      </ul>
    }
    @if (item.disassembly_set) {
      <b>Disassembles to:</b>
      <ul>
        @for (it of item.disassembly_set[0].dis; track it) {
          <li><a routerLink="/{{gameURL}}/items/{{it.slug}}/{{language}}">{{it.name}}</a></li>
        }
      </ul>
    }
    @if (item.disassembled_set) {
      <b>Disassembled from:</b>
      <ul>
        @for (it of item.disassembled_set[0].parent; track it) {
          <li><a routerLink="/{{gameURL}}/items/{{it.slug}}/{{language}}">{{it.name}}</a></li>
        }
      </ul>
    }
    @if (item.locations) {
      <b>{{a15service.location_translation[language]}}</b>
    }
    @if (item.locations) {
      <ul>
        @for (loc of item.locations; track loc) {
          <li>@if (!loc.parentslug) {
            <a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}">{{loc.name}}</a>
            }@if (loc.parentslug) {
            <a routerLink="/{{gameURL}}/locations/{{loc.parentslug}}/{{language}}">{{loc.name}}</a>
          }</li>
        }
      </ul>
    }
    @if (item.monsters) {
      <b>{{a15service.monster_translation[language]}}</b>
      <ul>
        @for (mon of item.monsters; track mon) {
          <li><a routerLink="/{{gameURL}}/monsters/{{mon.slug}}/{{language}}">{{mon.name}}</a></li>
        }
      </ul>
    }
    @if (item.properties) {
      <b>{{a15service.properties_translation[language]}}</b>
      <ul>
        @for (prop of item.properties; track prop) {
          <li><a routerLink="/{{gameURL}}/properties/{{prop.slug}}/{{language}}">{{prop.name}}</a></li>
        }
      </ul>
    }
    @if (item.ingredient_set) {
      <table class="tbl"><tbody>
        <tr><th>{{a15service.ingredient_translation[language]}}</th></tr>
        <tr><td>
          <ul>
            @for (ing of item.ingredient_set; track ing) {
              <li>@if (ing.item) {
                <a routerLink="/{{gameURL}}/items/{{ing.item.slug}}/{{language}}">{{ing.item.name}}</a>
                }@if (ing.category) {
                <a routerLink="/{{gameURL}}/categories/{{ing.category.slug}}/{{language}}">{{ing.category.name}}</a>
              }</li>
            }
          </ul>
        </td></tr>
      </tbody></table>
    }
    @if (item.effectline_set) {
      <table class="tbl"><tbody>
        <tr><th colspan=2>{{a15service.effect_translation[language]}}</th></tr>
        @if (fire) {
          <tr>
            <td style="vertical-align:middle">
              <svg class="a15-element" style="background-color:#ac504f;"><use href="/media/spritesheets/A15.svg?v=1#element-fire"></use></svg>
            </td>
            <td>
              @for (eff of item.effectline_set; track eff) {
                @if (eff.elem == 'fire') {
                  <a routerLink="/{{gameURL}}/effects/{{eff.effect.slug}}/{{language}}">{{eff.effect.name}}</a>
                  <span> ({{eff.min_elem}}-{{eff.max_elem}})</span>
                  <div class="effect-bar">
                    <div class="elemental-bar" style="background:#ac504f;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                  </div>
                }
              }
            </td>
          </tr>
        }
        @if (water) {
          <tr>
            <td style="vertical-align:middle">
              <svg class="a15-element" style="background-color:#427389;"><use href="/media/spritesheets/A15.svg?v=1#element-water"></use></svg>
            </td>
            <td>
              @for (eff of item.effectline_set; track eff) {
                @if (eff.elem == 'water') {
                  <a routerLink="/{{gameURL}}/effects/{{eff.effect.slug}}/{{language}}">{{eff.effect.name}}</a>
                  <span> ({{eff.min_elem}}-{{eff.max_elem}})</span>
                  <div class='effect-bar'>
                    <div class="elemental-bar" style="background:#427389;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                  </div>
                }
              }
            </td>
          </tr>
        }
        @if (wind) {
          <tr>
            <td style="vertical-align:middle">
              <svg class="a15-element" style="background-color:#5a843c;"><use href="/media/spritesheets/A15.svg?v=1#element-wind"></use></svg>
            </td>
            <td>
              @for (eff of item.effectline_set; track eff) {
                @if (eff.elem == 'wind') {
                  <a routerLink="/{{gameURL}}/effects/{{eff.effect.slug}}/{{language}}">{{eff.effect.name}}</a>
                  <span> ({{eff.min_elem}}-{{eff.max_elem}})</span>
                  <div class='effect-bar'>
                    <div class="elemental-bar" style="background:#5a843c;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                  </div>
                }
              }
            </td>
          </tr>
        }
        @if (earth) {
          <tr>
            <td style="vertical-align:middle">
              <svg class="a15-element" style="background-color:#8f7939;"><use href="/media/spritesheets/A15.svg?v=1#element-earth"></use></svg>
            </td>
            <td>
              @for (eff of item.effectline_set; track eff) {
                @if (eff.elem == 'earth') {
                  <a routerLink="/{{gameURL}}/effects/{{eff.effect.slug}}/{{language}}">{{eff.effect.name}}</a>
                  <span> ({{eff.min_elem}}-{{eff.max_elem}})</span>
                  <div class='effect-bar'>
                    <div class="elemental-bar" style="background:#8f7939;left:{{eff.min_elem}}%;width:{{eff.max_elem-eff.min_elem}}%;"></div>
                  </div>
                }
              }
            </td>
          </tr>
        }
      </tbody></table>
    }
    @if (item.equip_set) {
      <table class="tbl a15-stats"><tbody>
        <tr><th colspan=4>Stats</th></tr>
        <tr><td><b>HP  </b></td><td>{{item.equip_set[0].hp}}   </td><td><svg class="a15-element" style="background-color:#ac504f;"><use href="/media/spritesheets/A15.svg?v=1#element-fire"></use></svg></td> <td>{{item.equip_set[0].fire}}</td></tr>
        <tr><td><b>MP  </b></td><td>{{item.equip_set[0].mp}}   </td><td><svg class="a15-element" style="background-color:#427389;"><use href="/media/spritesheets/A15.svg?v=1#element-water"></use></svg></td><td>{{item.equip_set[0].water}}</td></tr>
        <tr><td><b>ATK </b></td><td>{{item.equip_set[0].atk}}  </td><td><svg class="a15-element" style="background-color:#5a843c;"><use href="/media/spritesheets/A15.svg?v=1#element-wind"></use></svg></td> <td>{{item.equip_set[0].wind}}</td></tr>
        <tr><td><b>DEF </b></td><td>{{item.equip_set[0].defen}}</td><td><svg class="a15-element" style="background-color:#8f7939;"><use href="/media/spritesheets/A15.svg?v=1#element-earth"></use></svg></td><td>{{item.equip_set[0].earth}}</td></tr>
        <tr><td><b>SPD </b></td><td>{{item.equip_set[0].spd}}  </td></tr>
      </tbody></table>
    }
    @if (item.characterequip_set) {
      <table class="tbl"><tbody>
        <tr><th>{{a15service.character_translation[language]}}</th></tr>
        <tr><td>@for (char of item.characterequip_set[0].chars; track char) {
          <img src="{{imgURL}}equip/equip-{{char.name}}.webp"
            alt="Can equip: {{char.name}}" style="aspect-ratio: 69/70; width: 69px;">
        }</td></tr>
      </tbody></table>
    }
  </div>
}