@if (!error) {
  <ng-template #template let-trait="item">
    <a18-trait
      (buttonClicked)="openDialog($event)"
      [inputData]="trait"
      url="/{{gameURL}}/traits/{{trait.slug}}/{{language}}"
      [gameURL]="gameURL">
    </a18-trait>
  </ng-template>
  <filter-list
    [list]="filteredTraits"
    name="Traits"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-8" appearance="outline">
        <mat-label>Filter...</mat-label>
        <input style="height: 100%;" matInput formControlName="filtertext">
        <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
      </mat-form-field>
      <mat-form-field class="grid-4" appearance="outline">
        <mat-label>Transfers to...</mat-label>
        <mat-select matNativeControl formControlName="transfers" disableOptionCentering="true" class="mat-select-icon">
          <mat-option value="0" class="svg-icon-text-vertical-center" selected> <svg class="svg-icon"><use href="/media/spritesheets/A22.svg?v=1#type-synthesis"></use></svg>--</mat-option>
          @for (t of [
              ['1',  'synthesis', 'Synthesis'],
              ['2',  'attack', 'Attack'],
              ['3',  'heal', 'Heal'],
              ['6',  'weapon', 'Weapon'],
              ['7',  'armor', 'Armor'],
              ['8',  'accessory', 'Accessory'],
            ]; track $index) {
              <mat-option [value]="t[0]" class="svg-icon-text-vertical-center">
                <svg class="svg-icon-standard right-spacer">
                  <use attr.href="/media/spritesheets/A18.svg?v=1#{{t[1]}}"></use>
                </svg>
                {{t[2]}}
              </mat-option>
            }
        </mat-select>
      </mat-form-field>
    </form>
  </filter-list>
}