@if (data; as trait) {
    <div [class]="url ? 'card' : inputSlug ? 'card card-dialog' : 'card card-small'"
      [style]="url ? 'height:100%;' : null">
      <h4 class="card-title" style="margin-right:6rem;">
        @if (url) {
          <a (click)="$event.preventDefault(); buttonClicked.emit(trait.slug);"
            href="{{url}}">{{trait.name}}</a>
        }
        @else {
          {{trait.name}}
        }
      </h4>
      <div class="card-icon-position">
        <popover
          [text]="`Influences rank. A measure of rarity. This number determines where traits appear.`">
          {{a18service.level_translation[language]}}</popover>:
        @if (trait.grade == -1) {
          N/A
        }
        @else {
          {{trait.grade}}
        }
      </div>
      @if (trait.item_set) {
        <b>Item:</b>
        <ul>
          @for (item of trait.item_set; track item) {
            <li>
              <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
            </li>
          }
        </ul>
      }
      @if (trait.combo1) {
        <p>
          @if (url) {
            <a (click)="$event.preventDefault(); buttonClicked.emit(trait.combo1.slug);" href="/{{gameURL}}/traits/{{trait.combo1.slug}}/{{language}}">{{trait.combo1.name}}</a> x
            <a (click)="$event.preventDefault(); buttonClicked.emit(trait.combo2.slug);" href="/{{gameURL}}/traits/{{trait.combo2.slug}}/{{language}}">{{trait.combo2.name}}</a>
          }
          @else {
            <a routerLink="/{{gameURL}}/traits/{{trait.combo1.slug}}/{{language}}">{{trait.combo1.name}}</a> x
            <a routerLink="/{{gameURL}}/traits/{{trait.combo2.slug}}/{{language}}">{{trait.combo2.name}}</a>
          }
        </p>
      }
      <p>{{trait.desc}}</p>
      @if (trait.advanced && !url) {
        <b>Advanced Data:</b>
        <ul>
          @for (data of trait.advanced; track data) {
            <li>
              @if (data.actTag0) {
                @if (data.attTag0) {
                  {{data.attTag0}} /
                }
                {{data.actTag0}}
              }
              <ul>
                @if (data.min_1_0) {
                  <li><b>Value 1: </b>{{data.min_1_0}}
                    @if (data.max_1_0) {
                       - {{data.max_1_0}}
                    }
                  </li>
                }
                @if (data.min_2_0){
                  <li><b>Value 2: </b>{{data.min_2_0}}
                    @if (data.max_2_0) {
                       - {{data.max_2_0}}
                    }
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      }
      <div class="trait-grid" style="grid-template-columns: auto auto auto auto auto auto;">
        @for (t of [
            [trait.trans_syn,  'synthesis'],
            [trait.trans_atk,  'attack'],
            [trait.trans_heal, 'heal'],
            [trait.trans_wpn,  'weapon'],
            [trait.trans_arm,  'armor'],
            [trait.trans_acc,  'accessory'],
          ]; track $index) {
          <svg [style]="!t[0] ? 'fill:lightgray;' : null">
            <use attr.href="/media/spritesheets/A18.svg?v=1#{{t[1]}}"></use>
          </svg>
        }
      </div>
    </div>
}