<Error *ngIf="error" [errorCode]="error"></Error>

<div *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Effects"></Breadcrumb>
<h1>Effects</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-9" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
        <div class="col-md-3" ></div>
      </div>
    </form>
</div>
<div *ngIf="!filteredEffects" class="d-flex justify-content-center">
  <div class="spinner-border text-secondary m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="filteredEffects" class="item-grid">
<div *ngFor="let eff of filteredEffects | async; trackBy:identify" class="card card-body">
  <h4 class="card-title card-icon-space">
    <a (click)="openModal(effectModal, eff.slug, $event);" href="/{{gameURL}}/effects/{{eff.slug}}/{{language}}">{{eff.name}}</a>
  </h4>
  <button (click)="openModal(effectModal, eff.slug)" class="card-read-more-position" mat-mini-fab color="primary">
      <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
   </button>
  <span style="margin-right:1.7rem" *ngIf="eff.desc">{{eff.desc}}</span>
</div>

<ng-template #effectModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle modal-close"></i>
    </button>
     <a18-effect slug="{{selected}}" [showNav]="false"></a18-effect>
  </div>
</ng-template>
</div>
</div>