@if (data; as effect) {
  <effect [effect]="effect"
  [small]="inputSlug ? false : hideContents ? false : true"
  [hideContents]="hideContents"
  url="/firis/effects/{{effect.slug}}"
  [language]="language"
  (buttonClicked)="buttonClicked.emit($event)">
    @if (!hideContents) {
      @if (effect.items) {
        <ul>
          @for (i of effect.items; track i) {
            <li>
              <a routerLink="/{{gameURL}}/items/{{i.slug}}/{{language}}">{{i.name}}</a>
            </li>
          }
        </ul>
      }
      @if (effect.advanced) {
        <b >Advanced Data:</b>
        <ul>
        @for (data of effect.advanced; track data) {
          <li>
            @if (data.attTag0) {
              <span>{{data.attTag0}} /</span>
              } {{data.actTag0}}
              <ul>
                @if (data.min_1_0) {
                  <li><b>Value 1: </b>{{data.min_1_0}} @if (data.max_1_0) {
                    <span> - {{data.max_1_0}}</span>
                  }</li>
                }
                @if (data.min_2_0) {
                  <li><b>Value 2: </b>{{data.min_2_0}}@if (data.max_2_0) {
                    <span> - {{data.max_2_0}}</span>
                  }</li>
                }
              </ul>
          </li>
        }
        </ul>
      }
    }
  </effect>
}
