<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<head *ngIf="userprofile">
    <title>{{userprofile.user.username}} - Barrel Wisdom</title>
    <meta *ngIf="userprofile.bio" name="description" content="{{userprofile.bio}}" />
    <meta name="robots" content="index, archive" />
    <meta property="og:title" content="{{userprofile.user.username}} - Barrel Wisdom" />
    <meta property="og:description" content={{userprofile.bio}} />
    <meta property="og:type" content="website" />
    <meta *ngIf="userprofile.avatar" property="og:image" content="{{userprofile.avatar}}" />
</head>

<header *ngIf="userprofile">
    <h1>User: {{userprofile.user.username}}</h1>
</header>
<article *ngIf="userprofile">
    <div *ngIf="userprofile.avatar" class="blog-image">
        <img src="{{userprofile.avatar}}">
    </div>
    <p *ngIf="userprofile.bio">{{userprofile.bio}}</p>
    <p *ngIf="userprofile.website"><b>Website: </b><a href="{{userprofile.website}}" target="_blank">{{userprofile.website}}</a></p>
    <div *ngIf="userprofile.user.blog_set">
      <h2>Pages Edited ({{userprofile.user.blog_set.length}})</h2>
      <ul>
        <li *ngFor="let b of userprofile.user.blog_set">
          <span *ngIf="b.secfull">{{b.secfull}}: </span><span *ngIf="!b.secfull">Main: </span>
          <a href="/{{b.secname}}/{{b.slugtitle}}">{{b.title}}</a>
        </li>
      </ul>
    </div>
</article>