<div class="hi col-12 mx-auto" style="height: 55px; position: fixed; padding-left: 0; padding-right: 0;">
  <app-header
  [navbarBrandRouterLink]="['/']"
  [fixed]="false"
  [navbarBrandFull]="{src: '/media/main/barrelwisdom.svg', height: 45, width: 135, alt: 'Barrel Wisdom'}"
  [navbarBrandMinimized]="{src: '/media/main/barrel.svg', height: 30, alt: 'Barrel Wisdom'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false" class="mx-auto"> <!-- col-xl-7 -->
  <ul style="padding-right: 1em" class="nav navbar-nav ml-auto">
    <a *ngIf="!user; else loggedIn" class="nav-link" href="login" (click)="historyService.hrefClicked($event);">Login</a>
    <ng-template #loggedIn>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        {{user.username}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLink="/user/{{user.username}}"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" routerLink="/settings"><i class="fa fa-wrench"></i> Settings</a>
        <a class="dropdown-item" routerLink="/create"><i class="fa fa-file"></i> Create Page</a>
        <a class="dropdown-item" routerLink="/#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ng-template>
  </ul>
</app-header>
</div>
<div *ngIf="navService.nav" class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid col-xl-7">
    <!-- Linkbox here? -->
      <div class="col-12 card" style="margin-top: 0.8em;">
          <div class="row">
            <div class="col-md-6" style="display:flex;align-items:center;justify-content:center">
            <div class="col-md-8">
              <img src="/media/main/soph2.webp">
              </div>
              <a href="https://amzn.to/3ApYBId" class="btn btn-md btn-secondary">Amazon</a>
            </div>
            <div class="col-md-6" style="display:flex;align-items:center;justify-content:center">
            <div class="col-md-8">
              <img src="/media/main/brsl.png">
            </div>
              <a href="https://amzn.to/3oOg1w8" class="btn btn-md btn-secondary">Amazon</a>
            </div>
          </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <div class="mr-auto">
    <a href="https://twitter.com/BarrelWisdom"><i class="fab fa-twitter" style="color:gray;font-size:2em;padding-right:0.7em;"></i></a>
    <a href="https://discord.gg/utRynRKxwh"><i class="fab fa-discord" style="color:gray;font-size:2em;padding-right:0.7em;"></i></a>
  </div>
  <div class="ml-auto">
    <a routerLink="/blog/legal" style="color:gray;">Legal</a><br />
    <a routerLink="/blog/legal" style="color:gray;">Amazon Affiliate Statement</a>
  </div>
</app-footer>

