<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="item">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Items', '/'+gameURL+'/items/'+language]]" [current]="item.name"></Breadcrumb>
<div class="mx-auto row spacer">
 <div class="{{colset}} card card-body">
    <h4 class="card-title card-icon-space">{{item.name}}</h4>
    <span *ngIf="item.isDLC" class="card-icon-position badge bg-secondary">DLC</span>
    <img class="image-display" loading="lazy" src="{{imgURL}}items/{{item.slug}}.webp" alt="{{item.name}}">
    <table class="tbl" style="margin-top:1rem;">
      <tr>
        <td style="vertical-align:middle; border-bottom:1px solid #c8c3d3;">{{item.desc}}</td>
        <td style="vertical-align:middle; padding:0;border-bottom:1px solid #c8c3d3;"><img src="/media/games/second-light/characters/{{item.char}}.webp" alt=""></td>
      </tr>
    </table>
    <p *ngIf="item.note"><b>Acquisition:</b> {{item.note}}</p>
    <ul style="list-style-type:none;padding-left:0;">
      <li *ngFor="let cat of item.category">{{cat.name}}</li>
    </ul>
    <b *ngIf="item.ingredient_set">Ingredients:</b>
    <ul *ngIf="item.ingredient_set">
       <li *ngFor="let ing of item.ingredient_set">
         <ng-container *ngIf="ing.item"><a routerLink="/{{gameURL}}/items/{{ing.item.slug}}/{{language}}">{{ing.item.name}} </a>x{{ing.num}}</ng-container>
         <ng-container *ngIf="ing.category">{{ing.category.name}} x{{ing.num}}</ng-container>
        </li>
    </ul>
    <b *ngIf="item.region_set">Locations:</b>
    <ul *ngIf="item.region_set">
       <li *ngFor="let loc of item.region_set"><a routerLink="/{{gameURL}}/locations/{{loc.slug}}/{{language}}">{{loc.name}}</a></li>
    </ul>
    <b *ngIf="item.demon_set">Demons:</b>
    <ul *ngIf="item.demon_set">
      <li *ngFor="let drop of item.demon_set"><a routerLink="/{{gameURL}}/demons/{{drop.slug}}/{{language}}">{{drop.name}}</a></li>
    </ul>
    <ng-container *ngIf="item.effline_set">
      <table class="tbl table-shrink">
        <tr class="table-dark-center"><th colspan=2>Effects</th></tr>
        <tr *ngFor="let eline of item.effline_set">
          <td style="width:50%;">{{eline.line}}</td>
          <td>
            <ng-container *ngFor="let data of eline.effectdata">
              <ng-template #effPopover>
                {{data.effect.desc}}
                <ul *ngIf="data.effect.actTag0">
                  <li>{{data.effect.actTag0}}<span *ngIf="data.effect.attTag0"> / {{data.effect.attTag0}}</span>
                    <ul *ngIf="data.effect.min_1_0">
                      <li>Value 1: {{data.effect.min_1_0}}<ng-container *ngIf="data.effect.max_1_0"> - {{data.effect.max_1_0}}</ng-container></li>
                      <li *ngIf="data.effect.min_2_0">Value 2: {{data.effect.min_2_0}}<ng-container *ngIf="data.effect.max_2_0"> - {{data.effect.max_2_0}}</ng-container></li>
                    </ul>
                  </li>
                  <li *ngIf="data.effect.actTag1">{{data.effect.actTag1}}
                    <ul *ngIf="data.effect.min_1_1">
                      <li>Value 1: {{data.effect.min_1_1}}<ng-container *ngIf="data.effect.max_1_1"> - {{data.effect.max_1_1}}</ng-container></li>
                    </ul>
                  </li>
                </ul>
              </ng-template>
              <ol start="{{data.number}}" style="margin-bottom:0;">
                <li><a href="javascript:void(0)" (click)="$event.preventDefault();" [popover]="effPopover" popoverTitle="{{data.effect.name}}">{{data.effect.name}}</a></li>
              </ol>
            </ng-container>
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-container *ngIf="item.skillline_set">
      <table class="tbl table-shrink">
        <tr class="table-dark-center">
          <th colspan=2 style="position:relative;">Skill Effects
            <a *ngIf="!expand" href="javascript:void(0)" style="color:black;text-decoration:none;position:absolute;right:1rem;top:50%;transform: translate(-50%,-50%);" (click)="expand=!expand;$event.preventDefault();" class="fas fa-chevron-up"></a>
            <a *ngIf="expand"  href="javascript:void(0)" style="color:black;text-decoration:none;position:absolute;right:1rem;top:50%;transform: translate(-50%,-50%);" (click)="expand=!expand;$event.preventDefault();" class="fas fa-chevron-down"></a>
          </th>
        </tr>
        <ng-container *ngIf="expand">
          <tr *ngFor="let eline of item.skillline_set">
            <ng-template #effOnePopover>
              {{eline.effect1.desc}}
              <ul *ngIf="eline.effect1.actTag0">
                <li>{{eline.effect1.actTag0}}<span *ngIf="eline.effect1.attTag0"> / {{eline.effect1.attTag0}}</span>
                  <ul *ngIf="eline.effect1.min_1_0">
                    <li>Value 1: {{eline.effect1.min_1_0}}<ng-container *ngIf="eline.effect1.max_1_0"> - {{eline.effect1.max_1_0}}</ng-container></li>
                    <li *ngIf="eline.effect1.min_2_0">Value 2: {{eline.effect1.min_2_0}}<ng-container *ngIf="eline.effect1.max_2_0"> - {{eline.effect1.max_2_0}}</ng-container></li>
                  </ul>
                </li>
                <li *ngIf="eline.effect1.actTag1">{{eline.effect1.actTag1}}
                  <ul *ngIf="eline.effect1.min_1_1">
                    <li>Value 1: {{eline.effect1.min_1_1}}<ng-container *ngIf="eline.effect1.max_1_1"> - {{eline.effect1.max_1_1}}</ng-container></li>
                  </ul>
                </li>
              </ul>
            </ng-template>
            <ng-template #effTwoPopover>
              {{eline.effect2.desc}}
              <ul *ngIf="eline.effect2.actTag0">
                <li>{{eline.effect2.actTag0}}<span *ngIf="eline.effect2.attTag0"> / {{eline.effect2.attTag0}}</span>
                  <ul *ngIf="eline.effect2.min_1_0">
                    <li>Value 1: {{eline.effect2.min_1_0}}<ng-container *ngIf="eline.effect2.max_1_0"> - {{eline.effect2.max_1_0}}</ng-container></li>
                    <li *ngIf="eline.effect2.min_2_0">Value 2: {{eline.effect2.min_2_0}}<ng-container *ngIf="eline.effect2.max_2_0"> - {{eline.effect2.max_2_0}}</ng-container></li>
                  </ul>
                </li>
                <li *ngIf="eline.effect2.actTag1">{{eline.effect2.actTag1}}
                  <ul *ngIf="eline.effect2.min_1_1">
                    <li>Value 1: {{eline.effect2.min_1_1}}<ng-container *ngIf="eline.effect2.max_1_1"> - {{eline.effect2.max_1_1}}</ng-container></li>
                  </ul>
                </li>
              </ul>
            </ng-template>
            <ng-template #effThreePopover>
              {{eline.effect3.desc}}
              <ul *ngIf="eline.effect3.actTag0">
                <li>{{eline.effect3.actTag0}}<span *ngIf="eline.effect3.attTag0"> / {{eline.effect3.attTag0}}</span>
                  <ul *ngIf="eline.effect3.min_1_0">
                    <li>Value 1: {{eline.effect3.min_1_0}}<ng-container *ngIf="eline.effect3.max_1_0"> - {{eline.effect3.max_1_0}}</ng-container></li>
                    <li *ngIf="eline.effect3.min_2_0">Value 2: {{eline.effect3.min_2_0}}<ng-container *ngIf="eline.effect3.max_2_0"> - {{eline.effect3.max_2_0}}</ng-container></li>
                  </ul>
                </li>
                <li *ngIf="eline.effect3.actTag1">{{eline.effect3.actTag1}}
                  <ul *ngIf="eline.effect3.min_1_1">
                    <li>Value 1: {{eline.effect3.min_1_1}}<ng-container *ngIf="eline.effect3.max_1_1"> - {{eline.effect3.max_1_1}}</ng-container></li>
                  </ul>
                </li>
              </ul>
            </ng-template>
            <td style="width:50%;">{{eline.line}}</td>
            <td>
              <ol>
                <li><a href="javascript:void(0)" (click)="$event.preventDefault();" [popover]="effOnePopover"   popoverTitle="{{eline.effect1.name}}">{{eline.effect1.name}}</a></li>
                <li><a href="javascript:void(0)" (click)="$event.preventDefault();" [popover]="effTwoPopover"   popoverTitle="{{eline.effect2.name}}">{{eline.effect2.name}}</a></li>
                <li><a href="javascript:void(0)" (click)="$event.preventDefault();" [popover]="effThreePopover" popoverTitle="{{eline.effect3.name}}">{{eline.effect3.name}}</a></li>
              </ol>
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </div>
  <language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
</div>
</ng-container>