<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Items"></Breadcrumb>
<h1>Items</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-9" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
      <div class="row">
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select matNativeControl formControlName="category" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="Any" selected>Any</mat-option>
            <mat-option *ngFor="let cat of categories" value="{{cat.name}}">
                {{cat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="Any" selected>Any</mat-option>
            <mat-option value="Materials">Materials</mat-option>
            <mat-option value="Use">Use</mat-option>
            <mat-option value="Craft">Craft</mat-option>
            <mat-option value="Key Items">Key Items</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
<ng-container *ngIf="filteredItems">
<div *ngFor="let item of filteredItems | async| pair " class="row">
  <div *ngFor="let item of item" class="spacer col-md-5 mx-auto">
    <div *ngIf="item" class="card card-body allheight">
      <h4 class="card-title card-icon-space">
        <a (click)="openModal(itemModal, item.slug); $event.preventDefault();" href="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>    
      </h4>
      <span *ngIf="item.isDLC" class="card-icon-position badge bg-secondary">DLC</span>
      <a class="card-item-display" (click)="openModal(itemModal, item.slug); $event.preventDefault();" href="/{{gameURL}}/items/{{item.slug}}/{{language}}">
        <img loading="lazy" src="{{imgURL}}items/{{item.slug}}.webp" alt="{{item.name}}">
      </a>
      <ul style="list-style-type:none;padding-left:0;">
        <li *ngFor="let cat of item.category">{{cat.name}}</li>
      </ul>
      <button (click)="openModal(itemModal, item.slug)" class="card-read-more-position" mat-mini-fab color="accent">
        <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #itemModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
     <brsl-item slug="{{item}}" [showNav]="false"></brsl-item>
  </div>
</ng-template>
</ng-container>
</ng-container>