@if (!error) {
  <ng-template #template let-cat="item">
    <item
      [item]="cat.item"
      url="/{{gameURL}}/items/{{cat.item.slug}}/{{language}}"
      (buttonClicked)="openDialog($event, undefined, 'items')"
      dimension="280"
      imgURL="{{imgURL}}items/{{cat.item.slug}}.webp?v=1">
      <ng-container icon>
        {{cat.size}} x {{cat.size}}
      </ng-container>
      <ul class="a18-item-data">
        @for (c of cat.item.categories; track c) {
          <li>
            <svg class="svg-icon-standard"><use attr.href="/media/spritesheets/A18.svg?v=0#category-{{c.slug}}"></use></svg>
            {{c.name}}
          </li>
        }
        @for (c of cat.item.add; track c) {
          <li>
            <svg style="fill:lightgray;" class="svg-icon-standard"><use attr.href="/media/spritesheets/A18.svg?v=0#category-{{c.slug}}"></use></svg>
            {{c.name}}
          </li>
        }
        @for (j of [].constructor(cat.color.length); track j; let i = $index) {
          <li>
            <svg style="fill:{{colors[cat.color[i]][1]}}" class="svg-icon-standard"><use attr.href="/media/spritesheets/A18.svg?v=0#{{colors[cat.color[i]][0]}}"></use></svg>
            {{cat.action[i]}}
          </li>
        }
      </ul>
    </item>
  </ng-template>
  <filter-list
    [list]="filteredCatalysts"
    name="{{a18service.catalyst_translation[language]}}"
    [(hide)]="hide"
    [template]="template">
    <form [formGroup]="pageForm" class="grid">
      <mat-form-field class="grid-12" appearance="outline">
        <mat-label>{{a18service.filter_translation[language]}}</mat-label>
        <input matInput formControlName="filtertext">
      </mat-form-field>
    </form>
  </filter-list>
}