<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Effects"></Breadcrumb>
<h1>Effects</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div *ngIf="!filteredEffects" class="d-flex justify-content-center">
  <div class="spinner-border text-secondary m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="item-grid">
<div *ngFor="let eff of filteredEffects | async; trackBy:identify2" class="card card-body">
  <h4 class="card-title"><a (click)="openModal(effectModal, eff.slugname, $event);" href="/{{gameURL}}/effects/{{eff.slugname}}/{{language}}">{{eff.name}}</a></h4>
  <p *ngIf="eff.desc">{{eff.desc}}</p>
  <ul *ngIf="eff.effectdata_set">
    <li *ngIf="eff.effectdata_set.length >= 1"><a routerLink="/{{gameURL}}/items/{{eff.effectdata_set[0].effectlines_set[0].slugname}}">{{eff.effectdata_set[0].effectlines_set[0].name}}</a></li>
    <li *ngIf="eff.effectdata_set.length >= 2"><a routerLink="/{{gameURL}}/items/{{eff.effectdata_set[1].effectlines_set[0].slugname}}">{{eff.effectdata_set[1].effectlines_set[0].name}}</a></li>
    <li *ngIf="eff.effectdata_set.length >= 3"><a routerLink="/{{gameURL}}/items/{{eff.effectdata_set[2].effectlines_set[0].slugname}}">{{eff.effectdata_set[2].effectlines_set[0].name}}</a></li>
    <li *ngIf="eff.effectdata_set.length >= 4"><a (click)="openModal(effectModal, eff.slugname, $event);" href="/{{gameURL}}/effects/{{eff.slugname}}/{{language}}">See more...</a></li>
  </ul>
</div>

<ng-template #effectModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
     <a16-effect inputSlug="{{selected}}" [showNav]="false"></a16-effect>
  </div>
</ng-template>
</div>
</ng-container>