<Error *ngIf="error" [errorCode]="errorCode"></Error>

<ng-container *ngIf="effect">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Effects', '/'+gameURL+'/effects/'+language]]" [current]="effect.name"></Breadcrumb>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <h4 class="card-title">{{effect.name}}</h4>
    <p *ngIf="effect.desc">{{effect.desc}}</p>
    <b *ngIf="effect.effectdata_set">From Item:</b>
    <ul *ngIf="effect.effectdata_set">
      <li *ngFor="let e of effect.effectdata_set">
        <a routerLink="/{{gameURL}}/items/{{e.effectlines_set[0].slugname}}/{{language}}">{{e.effectlines_set[0].name}}</a>
      </li>
    </ul>
  </div>
<language-settings *ngIf="showNav" class="col-md-3" section="{{gameURL}}"></language-settings>
</div>
</ng-container>