@if (data; as effect) {
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <h4 class="card-title">{{effect.name}}</h4>
      @if (effect.desc) {
        <p>{{effect.desc}}</p>
      }
      @if (effect.effectdata_set) {
        <b>From Item:</b>
      }
      @if (effect.effectdata_set) {
        <ul>
          @for (e of effect.effectdata_set; track e) {
            <li>
              <a routerLink="/{{gameURL}}/items/{{e.effectlines_set[0].slugname}}/{{language}}">{{e.effectlines_set[0].name}}</a>
            </li>
          }
        </ul>
      }
    </div>
    @if (showNav) {
      <div class="col-md-3" ></div>
    }
  </div>
}