@if (!error) {
  <ng-template #template let-item="item">
    <a16-effect (buttonClicked)="openDialog($event)" [inputData]="item"
      [hideContents]="true"></a16-effect>
  </ng-template>
  <filter-list
    [list]="filteredEffects"
    [(hide)]="hide"
    title="Effects"
    [template]="template">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </filter-list>
}