@if (data; as trait) {
  <div class="mx-auto row spacer">
    <div class="{{colset}} card card-body">
      <div class="flex">
        <h4 class="card-title">{{trait.name}}</h4>
        @if (trait.cost) {
          <span><b>Cost: </b>{{trait.cost}}</span>
        }
      </div>
      <p>{{trait.desc}}</p>
      @if (trait.item_set) {
        <div>
          <b>Items:</b>
          <ul>
            @for (item of trait.item_set; track item) {
              <li><a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a></li>
            }
          </ul>
        </div>
      }
      <div class="flex bottom">
        <i class="trait-color{{trait.synth}}     atelier atelier-np atelier-ryza2-type-synthesis"></i>
        <i class="trait-color{{trait.usable}}    atelier atelier-np atelier-escha-bomb"></i>
        <i class="trait-color{{trait.ingot}}     atelier atelier-np atelier-escha-weapon"></i>
        <i class="trait-color{{trait.cloth}}     atelier atelier-np atelier-escha-armor"></i>
        <i class="trait-color{{trait.accessory}} atelier atelier-np atelier-escha-accessory"></i>
      </div>
    </div>
    @if (showNav) {
      <div class="col-md-3" ></div>
    }
  </div>
}