<Error *ngIf="error" [errorCode]="error"></Error>

<ng-container *ngIf="trait">
<Breadcrumb *ngIf="showNav" [breadcrumbs]="[[gameTitle, '/'+gameURL], ['Traits', '/'+gameURL+'/traits/'+language]]" [current]="trait.name"></Breadcrumb>
<div class="mx-auto row spacer">
  <div class="{{colset}} card card-body">
    <div class="flex">
      <h4 class="card-title">{{trait.name}}</h4>
      <span *ngIf="trait.cost"><b>Cost: </b>{{trait.cost}}</span>
    </div>
    <p>{{trait.desc}}</p>
    <div *ngIf="trait.item_set">
      <b>Items:</b>
      <ul>
        <li *ngFor="let item of trait.item_set"><a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a></li>
      </ul>
    </div>
    <div class="flex bottom">
      <i class="trait-color{{trait.synth}}     atelier atelier-np atelier-ryza2-type-synthesis"></i>
      <i class="trait-color{{trait.usable}}    atelier atelier-np atelier-escha-bomb"></i>
      <i class="trait-color{{trait.ingot}}     atelier atelier-np atelier-escha-weapon"></i>
      <i class="trait-color{{trait.cloth}}     atelier atelier-np atelier-escha-armor"></i>
      <i class="trait-color{{trait.accessory}} atelier atelier-np atelier-escha-accessory"></i>
    </div>
  </div>
<div *ngIf="showNav" class="col-md-3" ></div>
</div>
</ng-container>