@if (data; as trait) {
    <div [class]="url || inputSlug ? 'card card-body' : 'card card-body card-small'"
      [style]="url ? 'height: 100%;' : null">
        @if (url) {
          <h4 class="card-title" style="margin-right:6rem;">
            <a (click)="$event.preventDefault(); buttonClicked.emit(trait.slug);"
            href="{{url}}">{{trait.name}}</a>
          </h4>
        }
        @else {
          <h4 class="card-title" style="margin-right:6rem;">{{trait.name}}</h4>
        }
        @if (trait.cost) {
          <div class="card-icon-position"><b>Cost: </b>{{trait.cost}}</div>
        }
      <p [style]="url ? 'height: 100%;' : null">{{trait.desc}}</p>
      @if (trait.item_set) {
        <div>
          <b>Items:</b>
          <ul>
            @for (item of trait.item_set; track item) {
              <li><a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a></li>
            }
          </ul>
        </div>
      }
      <div class="flex bottom">
        <i class="trait-color{{trait.synth}}     atelier atelier-np atelier-ryza2-type-synthesis"></i>
        <i class="trait-color{{trait.usable}}    atelier atelier-np atelier-escha-bomb"></i>
        <i class="trait-color{{trait.ingot}}     atelier atelier-np atelier-escha-weapon"></i>
        <i class="trait-color{{trait.cloth}}     atelier atelier-np atelier-escha-armor"></i>
        <i class="trait-color{{trait.accessory}} atelier atelier-np atelier-escha-accessory"></i>
      </div>
    </div>
}