@if (!error) {
  <h1>{{a25service.character_translation[language]}}</h1>
  <form [formGroup]="pageForm" class="grid">
    <mat-form-field class="grid-4" appearance="outline">
      <mat-label>{{a25service.filter_translation[language]}}</mat-label>
      <input style="height: 100%;" matInput formControlName="filtertext">

    </mat-form-field>
    <mat-form-field class="grid-4" appearance="outline">
      <mat-label>{{a25service.role_translation[language]}}</mat-label>
      <mat-select matNativeControl formControlName="roles" disableOptionCentering="true" class="mat-select-icon">
        <mat-option value="any" selected>
          --
        </mat-option>
        @if (data) {
          @for (role of data.roles; track role) {
            <mat-option [value]="role.slug">
              {{role.name}}
            </mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="grid-4" appearance="outline">
      <mat-label>Element</mat-label>
      <mat-select matNativeControl formControlName="elems" disableOptionCentering="true" class="mat-select-icon">
        <mat-option value="any" selected>
          --
        </mat-option>
        @if (data) {
          @for (elem of data.elems; track elem) {
            <mat-option [value]="elem.slug">
              {{elem.name}}
            </mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
    <div class="grid-4" style="display:flex;padding-bottom:1rem;">
      <button [matMenuTriggerFor]="menuLeft" style="background:none;border:none;padding-right:0.3rem;">
        <svg style="width:2em;height:4em;" style="fill:{{changeFill(pageForm.get('colorL').value)}};">
            <use href="/media/spritesheets/A25.svg?v=1#color-l"></use>
        </svg>
      </button>
      <button [matMenuTriggerFor]="menuRight" style="background:none;border:none;padding-left:0.3rem;">
        <svg style="width:2em;height:4em;" style="fill:{{changeFill(pageForm.get('colorR').value)}};">
            <use href="/media/spritesheets/A25.svg?v=1#color-r"></use>
        </svg>
      </button>
      <mat-menu #menuLeft="matMenu">
        <button mat-menu-item (click)="pageForm.controls['colorL'].setValue('any')">
          --
        </button>
        @if (data) {
          @for (color of data.colors; track color) {
            <button mat-menu-item (click)="pageForm.controls['colorL'].setValue(color.slug)">
              {{color.name}}
            </button>
          }
        }
      </mat-menu>
      <mat-menu #menuRight="matMenu">
        <button mat-menu-item (click)="pageForm.controls['colorR'].setValue('any')">
          --
        </button>
        @if (data) {
          @for (color of data.colors; track color) {
            <button mat-menu-item (click)="pageForm.controls['colorR'].setValue(color.slug)">
              {{color.name}}
            </button>
          }
        }
      </mat-menu>
    </div>
    <mat-checkbox class="grid-4" formControlName="six_star">
      <span class="svg-inline-text">
      6 <svg><use href="/media/spritesheets/main.svg?v=1#fa-star"></use></svg> Only
      </span>
    </mat-checkbox>
  </form>
  <ng-template #char let-chara="chara">
    <a25-charaframe
      [language]="language"
      [chara]="chara"
      [collectionMode]="false"
      (buttonClicked)="openDialog(chara.slug, $event)">
    </a25-charaframe>
  </ng-template>
  <div class="char-grid">
    @for (chara of filteredCharas | async; track chara; let index=$index) {
      @if(index < 24) {
        <ng-container *ngTemplateOutlet="char; context: {chara:chara}"></ng-container>
      }
      @else {
        @defer(on viewport) {
          <ng-container *ngTemplateOutlet="char; context: {chara:chara}"></ng-container>
        }
        @placeholder {
          <div #loadingSpinner style="text-align: center; aspect-ratio: 1; width: 100%;">
            <span>Loading...</span>
          </div>
        }
      }
    }
  </div>
}