@if (error) {
  <Error [errorCode]="error"></Error>
}

@if (!error) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Characters"></Breadcrumb>
  <h1>Characters</h1>
  <div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
          <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select matNativeControl formControlName="roles" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="any" selected>
              Any
            </mat-option>
            @if (data) {
              @for (role of data.roles; track role) {
                <mat-option [value]="role.slug">
                  {{role.name}}
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Element</mat-label>
          <mat-select matNativeControl formControlName="elems" disableOptionCentering="true" class="mat-select-icon">
            <mat-option value="any" selected>
              Any
            </mat-option>
            @if (data) {
              @for (elem of data.elems; track elem) {
                <mat-option [value]="elem.slug">
                  {{elem.name}}
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-4" style="display:flex;padding-bottom:1rem;">
          <button [matMenuTriggerFor]="menuLeft" style="width:2rem;background:none;border:none;padding-right:0.1rem;">
            <svg viewBox="0 0 125 250" style="max-width:2rem;">
              <path [attr.fill]="changeFill(pageForm.get('colorL').value)" d="M128.315904 232.287744H122.368L24.448 134.368256V122.399744L122.368 24.479744H128.34304L128.34304 6.144H121.31328L6.11328 121.344V135.424L121.31328 250.624H128.3072zM128.335872 227.199488H124.000256L29.536256 132.735488V124.031488L124.000256 29.567488H128.326656z" />
            </svg>
          </button>
          <button [matMenuTriggerFor]="menuRight" style="width:2rem;background:none;border:none;padding-left:0.1rem;">
            <svg viewBox="0 0 125 250" style="max-width:2rem;transform:scale(-1,1)">
              <path [attr.fill]="changeFill(pageForm.get('colorR').value)" d="M128.315904 232.287744H122.368L24.448 134.368256V122.399744L122.368 24.479744H128.34304L128.34304 6.144H121.31328L6.11328 121.344V135.424L121.31328 250.624H128.3072zM128.335872 227.199488H124.000256L29.536256 132.735488V124.031488L124.000256 29.567488H128.326656z" />
            </svg>
          </button>
          <mat-menu #menuLeft="matMenu">
            <button mat-menu-item (click)="pageForm.controls['colorL'].setValue('any')">
              Any
            </button>
            @if (data) {
              @for (color of data.colors; track color) {
                <button mat-menu-item (click)="pageForm.controls['colorL'].setValue(color.slug)">
                  {{color.name}}
                </button>
              }
            }
          </mat-menu>
          <mat-menu #menuRight="matMenu">
            <button mat-menu-item (click)="pageForm.controls['colorR'].setValue('any')">
              Any
            </button>
            @if (data) {
              @for (color of data.colors; track color) {
                <button mat-menu-item (click)="pageForm.controls['colorR'].setValue(color.slug)">
                  {{color.name}}
                </button>
              }
            }
          </mat-menu>
        </div>
        @if (language != 'ja') {
          <mat-checkbox class="col-md-6" formControlName="show_jp">
            Show JP characters (untranslated)
          </mat-checkbox>
        }
      </div>
    </form>
  </div>
  <div class="char-grid">
    @for (chara of filteredCharas | async; track identify($index, chara)) {
      <div style="text-align:center;">
        <div style="aspect-ratio:1;position:relative;">
          <a  (click)="openDialog(chara.slug, $event);"
            href="/{{gameURL}}/characters/{{chara.slug}}/{{language}}">
            <img loading="lazy" width="100%"
              src="{{imgURL}}characters/face/{{chara.slug}}.webp"
              alt="{{chara.name + ' ' + chara.title}}"
              style="position:absolute;z-index:10;max-height:83%;max-width:83%;-webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0 50%);clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0 50%);left:50%;top:50%;transform:translate(-50%, -50%);">
              <div style="display:flex;width:100%;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">
                <svg viewBox="0 0 125 250" style="max-width:100%;">
                  <path [attr.fill]="a25service.colors[chara.color1]" d="M128.315904 232.287744H122.368L24.448 134.368256V122.399744L122.368 24.479744H128.34304L128.34304 6.144H121.31328L6.11328 121.344V135.424L121.31328 250.624H128.3072zM128.335872 227.199488H124.000256L29.536256 132.735488V124.031488L124.000256 29.567488H128.326656z" />
                </svg>
                <svg viewBox="0 0 125 250" style="max-width:100%;transform:scale(-1,1)">
                  <path [attr.fill]="a25service.colors[chara.color2]" d="M128.315904 232.287744H122.368L24.448 134.368256V122.399744L122.368 24.479744H128.34304L128.34304 6.144H121.31328L6.11328 121.344V135.424L121.31328 250.624H128.3072zM128.335872 227.199488H124.000256L29.536256 132.735488V124.031488L124.000256 29.567488H128.326656z" />
                </svg>
              </div>
          </a>
          <img
            style="aspect-ratio:48/45;width:25%;filter:drop-shadow(5px 5px 5px black);position:absolute;bottom:0;left:3%;"
            src="{{imgURL}}characters/{{chara.role}}.webp"
            alt="{{chara.role}}"/>
            <i class="atelier atelier-np atelier-resleri-{{chara.elem}} a25-char-font" style="background-color:{{a25service.elements[chara.elem]}};"></i>
        </div>
          @for (i of [].constructor(chara.rarity); track i) {
            <i class="fa-solid fa-star a25-star-font"></i>
          }
      </div>
    }
  </div>
}
