.a25-star {
    svg {
        width: 1.3em;
        height: 1.3em;
        fill: gold;

        @media screen and (max-width: 800px) {
            height: 5vw;
            width: 5vw;
        }

        use {
            stroke: black;
            stroke-width: 8%;
            stroke-linejoin: round;
        }
    }
}

.a25-star-six {
    svg {
        fill: orange !important;
    }
}

.a25-elem-icon {
    height: 23%;
    width: 23%;
    border-radius: 50%;
    padding: 2%;
    aspect-ratio: 1;
    fill: white;
    position: absolute;
    bottom: 0;
    right: 3%;
    display: flex;

    svg {
        height: 85%;
        width: 85%;
        margin: auto;
    }
}

.background-diamond {
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1/2;
}

.role {
    aspect-ratio: 48/45;
    width: 25%;
    filter: drop-shadow(5px 5px 5px black);
    position: absolute;
    bottom: 0;
    left: 3%;
}

.image-pentagon {
    position: absolute;
    z-index: 10;
    max-height: 83%;
    max-width: 83%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0 50%);
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
}

.svg-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}