<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<ng-container *ngIf="category">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" [current]="'Category: '+category.name"></Breadcrumb>
<h1>{{category.name}}</h1>
<language-settings style="margin-top: 1em;" class="col-md-3" section="{{gameURL}}"></language-settings>
<div class="mx-auto row">
    <div class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl">
            <tr class="table-dark-center"><th style="border:none;" colspan=2>Items in Category</th></tr>
            <tr *ngFor="let item of category.item_set">
                <td>
                    <a href="/{{gameURL}}/items/{{item.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{item.name}}</a>
                </td>
                <td>LV {{item.level}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="category.ingredientcat" class="col-md-6">
        <table style="border:1px solid #c8ced3;" class="tbl">
            <tr class="table-dark-center"><th style="border:none;" colspan=2>Items Using Category</th></tr>
            <tr *ngFor="let item of category.ingredientcat">
                <td>
                    <a href="/{{gameURL}}/items/{{item.synthitem.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{item.synthitem.name}}</a>
                </td>
                <td>LV {{item.synthitem.level}}</td>
            </tr>
        </table>
    </div>
</div>
</ng-container>