@if (data; as category) {
  <category
    [name]="category.name"
    [using]="category.ingredientcat !== undefined">
    <ng-container inCategory>
      @for (item of category.item_set; track item) {
        <tr>
          <td>
            <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
          </td>
          <td>LV {{item.level}}</td>
        </tr>
      }
    </ng-container>
    <ng-container usingCategory>
      @for (item of category.ingredientcat; track item) {
        <tr>
          <td>
            <a routerLink="/{{gameURL}}/items/{{item.synthitem.slug}}/{{language}}">{{item.synthitem.name}}</a>
          </td>
          <td>LV {{item.synthitem.level}}</td>
        </tr>
      }
    </ng-container>
  </category>
}