<Error *ngIf="error" [errorCode]="error"></Error>

<div *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Items"></Breadcrumb>
<h1>Items</h1>
<div *ngIf="categories" class ="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
          <mat-icon matSuffix fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book">&nbsp;</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select matNativeControl formControlName="type" disableOptionCentering="true" class="mat-select-icon" [(value)]="selectedCat">
            <mat-option value="Any" selected><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-book"   ></mat-icon> Any</mat-option>
            <mat-option *ngFor="let cat of categories" value="{{cat.name}}">
                <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-category-{{cat.slug}}"></mat-icon>
                {{cat.name}}
            </mat-option>
            <mat-select-trigger>
               {{selectedCat}}
            </mat-select-trigger>
          </mat-select>
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
      <div class="row">
        <mat-form-field class="col-md-5" appearance="outline">
            <mat-label>Has ingredient...</mat-label>
            <input style="height: 100%;" matInput formControlName="filtering">
          </mat-form-field>
        <mat-form-field class="col-md-3" appearance="outline">
            <mat-label>Element</mat-label>
            <mat-select matNativeControl formControlName="element" disableOptionCentering="true" class="mat-select-icon" [(value)]="selectedElem">
              <mat-option value="Any" selected>Any</mat-option>
              <mat-option value="Fire">     <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-fire"></mat-icon>Fire</mat-option>
              <mat-option value="Ice">      <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-ice"></mat-icon>Ice</mat-option>
              <mat-option value="Lightning"><mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-lightning"></mat-icon>Lightning</mat-option>
              <mat-option value="Wind">     <mat-icon fontSet="atelier atelier-sm" fontIcon="atelier-ryza2-wind"></mat-icon>Wind</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-4" appearance="outline">
            <mat-label>Element Value</mat-label>
            <mat-select matNativeControl formControlName="elementval" disableOptionCentering="true" class="mat-select-icon" [(value)]="selectedElemV">
              <mat-option value="1" type="number" selected>1+</mat-option>
              <mat-option value="2" type="number">2+</mat-option>
              <mat-option value="3" type="number">3+</mat-option>
              <mat-option value="4" type="number">4+</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </form>
</div>
<div *ngIf="filteredItems" class="item-grid">
  <div *ngFor="let it of filteredItems | async; trackBy:identify" class="card card-body">
    <h4 class="card-title card-icon-space">
        <a (click)="openModal(itemModal, it.slug, $event);" href="/{{gameURL}}/items/{{it.slug}}/{{language}}">{{it.name}}</a>    
    </h4>
    <div class="card-icon-position">
      <i *ngIf="it.itemtype == 'Attack'"    class="atelier atelier-np atelier-ryza2-type-attack"></i>
      <i *ngIf="it.itemtype == 'Heal'"      class="atelier atelier-np atelier-ryza2-type-heal"></i>
      <i *ngIf="it.itemtype == 'Debuff'"    class="atelier atelier-np atelier-ryza2-type-debuff"></i>
      <i *ngIf="it.itemtype == 'Buff'"      class="atelier atelier-np atelier-ryza2-type-buff"></i>
      <i *ngIf="it.itemtype == 'Weapon'"    class="atelier atelier-np atelier-ryza2-type-weapon"></i>
      <i *ngIf="it.itemtype == 'Armor'"     class="atelier atelier-np atelier-ryza2-type-armor"></i>
      <i *ngIf="it.itemtype == 'Accessory'" class="atelier atelier-np atelier-ryza2-type-accessory"></i>
      <i *ngIf="it.itemtype == 'Rare Item'" class="atelier atelier-np atelier-ryza2-category-key-items"></i>
      <i *ngIf="it.itemtype == 'Synthesis'" class="atelier atelier-np atelier-ryza2-type-synthesis"></i>
      <i *ngIf="it.itemtype == 'Material'"  class="atelier atelier-np atelier-ryza2-material"></i>
      <i *ngIf="it.itemtype == 'Essence'"   class="atelier atelier-np atelier-ryza2-category-essence"></i>
      <i *ngIf="it.itemtype == 'Field'"     class="atelier atelier-np atelier-ryza2-category-tools"></i>
      <br *ngIf="it.isDLC" /><span *ngIf="it.isDLC" class="badge bg-secondary">DLC</span>
    </div>
    <a class="card-item-display" (click)="openModal(itemModal, it.slug, $event);" href="/{{gameURL}}/items/{{it.slug}}/{{language}}">
      <img loading="lazy" src="{{imgURL}}items/{{it.slug}}.webp" alt="{{it.name}}">
    </a> 
    <button (click)="openModal(itemModal, it.slug)" class="card-read-more-position" mat-mini-fab color="accent">
      <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" ></mat-icon>
    </button>
    <table class="table-item-data">
      <tr *ngFor="let cat of it.category">
          <td style="text-align:center;"><i class="atelier atelier-ryza2-category-{{cat.slug}}"></i></td><td>{{cat.name}}</td>
      </tr>
      <tr>
        <td colspan=2>
          <i style="color:#f03a02;" *ngIf="it.fire"      class="atelier atelier-np atelier-ryza2-fire"></i>
          <i style="color:#04b5db;" *ngIf="it.ice"       class="atelier atelier-np atelier-ryza2-ice"></i>
          <i style="color:#e3bb05;" *ngIf="it.lightning" class="atelier atelier-np atelier-ryza2-lightning"></i>
          <i style="color:#589b1d;" *ngIf="it.wind"      class="atelier atelier-np atelier-ryza2-wind"></i>
          <span>{{it.elementvalue}}</span>
        </td>
      </tr>
    </table>
  </div>

<ng-template #itemModal>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
      <a22-item slug="{{selected}}" [showNav]="false"></a22-item>
  </div>
</ng-template>
</div>
</div>