.effect-bar {
    background-color: lightgray;
    border-radius: 5px;
    height: 100%;
}

.elemental-bar {
    border-radius: 5px;
    height: 1rem;
    position: relative;
}

.a16-element {
    fill: white;
    padding: 4px;
    height: 1.2em;
    width: 1.2em;
}

.a16-stats {
    tr {
        td:first-child {
            padding: 0;
        }
        td:last-child {
            padding: 0 0 0 0.5em;
        }
    }
}