<Error *ngIf="error" [errorCode]="error"></Error>

<div *ngIf="!error">
<Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Recipe Ideas"></Breadcrumb>
<h1>Recipe Ideas</h1>
<div class="col-md-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-md-9" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input matInput formControlName="filtertext">
        </mat-form-field>
        <language-settings class="col-md-3" section="{{gameURL}}"></language-settings>
      </div>
    </form>
</div>
<ng-container *ngIf="filteredRecipes">
<div *ngFor="let recipe of filteredRecipes | async; trackBy:identify" class="row spacer">
  <div class="card card-body col-md-8" style="margin-left:auto;margin-right:auto;">
    <h4 class="card-title card-icon-space">
      <a routerLink="/{{gameURL}}/items/{{recipe.slug}}/{{language}}">{{recipe.name}}</a>
    </h4>
    <div *ngIf="recipe.recipe_points" class="card-icon-position">
       <b>{{recipe.recipe_points}} points</b>
    </div>
    <a class="card-item-display" routerLink="/{{gameURL}}/items/{{recipe.slug}}/{{language}}">
      <img loading="lazy" src="{{imgURL}}items/{{recipe.slug}}.webp" alt="{{recipe.name}}">
    </a>
      <table class="table-compress">
        <tr *ngIf="recipe.book">
          <th colspan="2" style="text-align:center;">Book</th>
        </tr>
        <tr *ngIf="recipe.book">
          <td style="text-align:center;width:15%;">
            <i class="atelier atelier-ryza2-book" style="padding-right:0;"></i>
          </td>
          <td>
            <a routerLink="/{{gameURL}}/items/{{recipe.book.slug}}/{{language}}">{{recipe.book.name}}</a>
          </td>
        </tr>
        <ng-container *ngFor="let idea of recipe.ideas; let i = index">
          <tr>
            <th colspan="2" style="text-align:center;">Group {{i+1}}</th>
          </tr>
          <tr *ngFor="let unlock of idea.unlocks">
            <td *ngIf="unlock.level == 1"  style="text-align:center;width:15%;"><i class="fa-solid fa-question"></i></td>
            <td *ngIf="unlock.level == 4" style="text-align:center;width:15%;"><i class="fa-solid fa-lock-open"></i></td>
            <td *ngIf="unlock.level == 1 || unlock.level == 4">
              <ul>
                <li *ngFor="let condition of unlock.condition">
                  {{condition.condition}}
                  <a *ngIf="condition.item" routerLink="/{{gameURL}}/items/{{condition.item.slug}}/{{language}}">
                    {{condition.item.name}}
                  </a>
                  <a *ngIf="condition.monster" routerLink="/{{gameURL}}/monsters/{{condition.monster.slug}}/{{language}}">
                    {{condition.monster.name}}
                  </a>
                  <a *ngIf="condition.category" routerLink="/{{gameURL}}/categories/{{condition.category.slug}}/{{language}}">
                    {{condition.category.name}}
                  </a>
                  <span *ngIf="condition.race">
                    {{condition.race.name}}
                  </span>
                  <span *ngIf="condition.number">x{{condition.number}}</span>
                </li>
              </ul>
            </td>
          </tr>
        </ng-container>
      </table>
  </div>
</div>
</ng-container>
</div>