<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="demon">
<nav *ngIf="showNav" style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" (click)="historyService.hrefClicked($event)">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}" (click)="historyService.hrefClicked($event)">{{gameTitle}}</a></li>
    <li class="breadcrumb-item"><a href="/{{gameURL}}/demons/{{language}}" (click)="historyService.hrefClicked($event)">Demons</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{demon.name}}</li>
  </ol>
</nav>
<div class="mx-auto row">
 <div class="{{colset}} card griddisplay card-body">
    <div class="flex">
        <h4 style="margin-right:2em;" class="card-title  card-icon-space">{{demon.name}}</h4>
        <div class="card-icon-position">
          <b *ngIf="demon.race" style="padding-right:0.5em;">{{demon.race}}</b>
        </div>
    </div>
    <div class="card-text">
      <p>{{demon.flavor}}</p>
      <b *ngIf="demon.locations">Locations:</b>
      <ul *ngIf="demon.locations">
        <li *ngFor="let loc of demon.locations">{{loc.name}}</li>
      </ul>
      <b *ngIf="demon.item_set">Items:</b>
      <ul *ngIf="demon.item_set">
        <li *ngFor="let item of demon.item_set"><a href="/{{gameURL}}/items/{{item.slugname}}/{{language}}" (click)="historyService.hrefClicked($event)">{{item.name}}</a></li>
      </ul>
      <table class="table table-shrink">
        <tr><td>HP</td><td>ATK</td><td>DEF</td><td>AGI</td><td>LUK</td></tr>
        <tr><td>{{demon.hp}}</td><td>{{demon.atk}}</td><td>{{demon.dfn}}</td><td>{{demon.agi}}</td><td>{{demon.luk}}</td></tr>
      </table>
      <table class="table table-shrink">
        <tr><td style="width:25%">Slash</td><td style="width:25%">Impact</td><td style="width:25%">Pierce</td><td style="width:25%">Heart</td></tr>
        <tr>
          <td style="width:25%"><span *ngIf="demon.slash" >{{demon.slash}} </span><span *ngIf="!demon.slash" >-</span></td>
          <td style="width:25%"><span *ngIf="demon.impact">{{demon.impact}}</span><span *ngIf="!demon.impact">-</span></td>
          <td style="width:25%"><span *ngIf="demon.pierce">{{demon.pierce}}</span><span *ngIf="!demon.pierce">-</span></td>
          <td style="width:25%"><span *ngIf="demon.heart" >{{demon.heart}} </span><span *ngIf="!demon.heart" >-</span></td>
       </tr>
      </table>
     </div>
  </div>
 </div>
</div>