@if (error) {
  <Error [errorCode]="error"></Error>
}
@if (!error) {
  <Breadcrumb [breadcrumbs]="[[gameTitle, '/'+gameURL]]" current="Demons"></Breadcrumb>
  <h1>Demons</h1>
  <div class="col-lg-10 mx-auto">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="row">
        <mat-form-field class="col-lg-12" appearance="outline">
          <mat-label>Filter...</mat-label>
          <input style="height: 100%;" matInput formControlName="filtertext">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="item-grid">
    @for (demon of filteredDemons | async; track identify2($index, demon)) {
      <div class="card card-body">
        <div class="flex">
          <h4 class="card-title">
            <a (click)="openDialog(demon.slugname, $event);" href="/{{gameURL}}/demons/{{demon.slugname}}/{{language}}">{{demon.name}}</a>
          </h4>
          @if (demon.race) {
            <b style="padding-right:0.5em;">{{demon.race}}</b>
          }
        </div>
        @if (demon.locations) {
          <b>Locations:</b>
        }
        @if (demon.locations) {
          <ul>
            @for (loc of demon.locations; track loc) {
              <li>{{loc.name}}</li>
            }
          </ul>
        }
        @if (demon.item_set) {
          <b>Items:</b>
        }
        @if (demon.item_set) {
          <ul>
            @for (item of demon.item_set; track item) {
              <li><a routerLink="/{{gameURL}}/items/{{item.slugname}}/{{language}}">{{item.name}}</a></li>
            }
          </ul>
        }
        <table style="padding:0;text-align:center;" class="tbl table-shrink"><tbody>
          <tr>
            <td>HP</td>
            <td>ATK</td>
            <td>DEF</td>
            <td>AGI</td>
            <td>LUK</td>
          </tr>
          <tr>
            <td>{{demon.hp}}</td>
            <td>{{demon.atk}}</td>
            <td>{{demon.dfn}}</td>
            <td>{{demon.agi}}</td>
            <td>{{demon.luk}}</td>
          </tr>
        </tbody></table>
        <table style="padding:0;text-align:center;" class="tbl table-shrink"><tbody>
          <tr>
            <td style="width:25%">Slash</td>
            <td style="width:25%">Impact</td>
            <td style="width:25%">Pierce</td>
            <td style="width:25%">Heart</td>
          </tr>
          <tr>
            <td style="width:25%">@if (demon.slash) {
              <span >{{demon.slash}} </span>
              }@if (!demon.slash) {
              <span >-</span>
            }</td>
            <td style="width:25%">@if (demon.impact) {
              <span>{{demon.impact}}</span>
              }@if (!demon.impact) {
              <span>-</span>
            }</td>
            <td style="width:25%">@if (demon.pierce) {
              <span>{{demon.pierce}}</span>
              }@if (!demon.pierce) {
              <span>-</span>
            }</td>
            <td style="width:25%">@if (demon.heart) {
              <span >{{demon.heart}} </span>
              }@if (!demon.heart) {
              <span >-</span>
            }</td>
          </tr>
        </tbody></table>
      </div>
    }
  </div>
}