.badge {
    display: inline-flex;
    padding: .35em .65em;
    font-weight: 700;
    color: white;
    line-height: 1;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    border-radius: .375rem;
    text-decoration: none !important;
}