@use 'variables' as v;

.svg-inline-text {
    display: flex;
    svg {
        width: 1.3em;
        height: 1.3em;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.svg-inline-link {
    display: flex;
    fill: v.$secondary;
    svg {
        width: 1em;
        height: 1em;
        margin-left: 0.3em;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.svg-color {
  opacity: 35%;
}