<div style="margin-top:1em" class="col-md-6 mx-auto spacer">
    <div class="card card-body">
        <h1>Register</h1>
        <p *ngIf="!hasInvite">You need a valid invite to join this party; only the admin hands those out. We're looking for experienced and trustworthy folks.</p>
        <form *ngIf="hasInvite" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="height:100%;" class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" formControlName="username" class="form-control"
                        placeholder="Username" autocomplete="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="height:100%;" class="input-group-text">&#64;</span>
                    </div>
                    <input type="text" formControlName="email" class="form-control"
                        placeholder="Email" autocomplete="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Does not appear to be an email</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span style="height:100%;" class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password" class="form-control"
                        placeholder="Password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">8 characters or more</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span style="height:100%;" class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        placeholder="Repeat password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.minlength">8 characters or more</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                        <div *ngIf="errorMsg" class="text-danger">{{errorMsg}}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>