<Error *ngIf="error" [errorCode]="errorCode" [errorVars]="errorVars"></Error>

<div *ngIf="!error">
<nav style="margin-top: 1em;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Barrel Wisdom</a></li>
    <li class="breadcrumb-item"><a href="/ryza2">Atelier Ryza 2</a></li>
    <li class="breadcrumb-item active" aria-current="page">Category: {{category.name}}</li>
  </ol>
</nav>
<h1>{{category.name}}</h1>
<language-settings style="margin-top: 1em;" class="col-md-3" section="ryza2"></language-settings>
<div class="mx-auto row">
    <div class="col-md-6">
        <table style="border:2px solid lightgray;" class="table">
            <tr><th class="table-dark-center" colspan=2>Items in Category</th></tr>
            <tr *ngFor="let item of category.items">
                <td>
                    <a href="ryza2/items/{{item.slugname}}">{{item.name}}</a>
                    <span *ngIf="item.isDLC" style="margin-left: 0.4em;" class="badge bg-secondary badge-list">DLC</span>
                </td>
                <td>
                    <i style="color:#f03a02;" *ngIf="item.fire"  class="atelier atelier-ryza2-fire"></i>
                    <i style="color:#04b5db;" *ngIf="item.ice"  class="atelier atelier-ryza2-ice"></i>
                    <i style="color:#e3bb05;" *ngIf="item.lightning"  class="atelier atelier-ryza2-lightning"></i>
                    <i style="color:#589b1d;" *ngIf="item.wind"  class="atelier atelier-ryza2-wind"></i>
                    {{item.elementvalue}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table style="border:2px solid lightgray;" class="table">
            <tr><th class="table-dark-center" colspan=2>Items Using Category</th></tr>
            <tr *ngFor="let item of category.ingredients">
                <td>
                    <a href="ryza2/items/{{item.slugname}}">{{item.name}}</a>
                    <span *ngIf="item.isDLC" style="margin-left: 0.4em;" class="badge bg-secondary badge-list">DLC</span>
                </td>
                <td>
                    <i style="color:#f03a02;" *ngIf="item.fire"  class="atelier atelier-ryza2-fire"></i>
                    <i style="color:#04b5db;" *ngIf="item.ice"  class="atelier atelier-ryza2-ice"></i>
                    <i style="color:#e3bb05;" *ngIf="item.lightning"  class="atelier atelier-ryza2-lightning"></i>
                    <i style="color:#589b1d;" *ngIf="item.wind"  class="atelier atelier-ryza2-wind"></i>
                    {{item.elementvalue}}
                </td>
            </tr>
        </table>
    </div>
</div>
</div>