@if (data; as category) {
  <ng-template #cat let-item="item">
    <tr>
      <td>
        <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
        @if (item.isDLC) {
          <span style="margin-left: 0.4em;" class="badge bg-primary">DLC</span>
        }
      </td>
      <td>
        @if (item.fire) {
          <svg class="a22-element-icon" style="fill:#f03a02;"><use href="/media/spritesheets/A22.svg?v=0#fire"></use></svg>
        }
        @if (item.ice) {
          <svg class="a22-element-icon" style="fill:#04b5db;"><use href="/media/spritesheets/A22.svg?v=0#ice"></use></svg>
        }
        @if (item.lightning) {
          <svg class="a22-element-icon" style="fill:#e3bb05;"><use href="/media/spritesheets/A22.svg?v=0#lightning"></use></svg>
        }
        @if (item.wind) {
          <svg class="a22-element-icon" style="fill:#589b1d;"><use href="/media/spritesheets/A22.svg?v=0#wind"></use></svg>
        }
        <span class="a22-element-text">{{item.elementvalue}}</span>
      </td>
    </tr>
  </ng-template>
  <category
    [name]="category.name"
    [using]="category.ingredients !== undefined"
    [colspan]="2">
    <ng-container inCategory>
      @for (item of category.items; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
    <ng-container usingCategory>
      @for (item of category.ingredients; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
  </category>
}