@if (data; as category) {
  <ng-template #cat let-item="item">
    <tr>
      <td>
        <a routerLink="/{{gameURL}}/items/{{item.slug}}/{{language}}">{{item.name}}</a>
        @if (item.isDLC) {
          <span style="margin-left: 0.4em;" class="badge bg-secondary">DLC</span>
        }
      </td>
      <td>
        @if (item.fire) {
          <i style="color:#f03a02;" class="atelier atelier-np atelier-ryza2-fire"></i>
        }
        @if (item.ice) {
          <i style="color:#04b5db;"class="atelier atelier-np atelier-ryza2-ice"></i>
        }
        @if (item.lightning) {
          <i style="color:#e3bb05;" class="atelier atelier-np atelier-ryza2-lightning"></i>
        }
        @if (item.wind) {
          <i style="color:#589b1d;" class="atelier atelier-np atelier-ryza2-wind"></i>
        }
        <span style="vertical-align:top;padding-left:0.5rem;">{{item.elementvalue}}</span>
      </td>
    </tr>
  </ng-template>
  <category
    [name]="category.name"
    [using]="category.ingredients !== undefined"
    [colspan]="2">
    <ng-container inCategory>
      @for (item of category.items; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
    <ng-container usingCategory>
      @for (item of category.ingredients; track item) {
        <ng-content *ngTemplateOutlet="cat;context:{item:item}"></ng-content>
      }
    </ng-container>
  </category>
}