@if (userprofile) {
  <head>
    <title>{{userprofile.user.username}} - Barrel Wisdom</title>
    @if (userprofile.bio) {
      <meta name="description" content="{{userprofile.bio}}" />
    }
    <meta name="robots" content="index, archive" />
    <meta property="og:title" content="{{userprofile.user.username}} - Barrel Wisdom" />
    <meta property="og:description" content={{userprofile.bio}} />
    <meta property="og:type" content="website" />
    @if (userprofile.avatar) {
      <meta property="og:image" content="{{userprofile.avatar}}" />
    }
  </head>
}

@if (userprofile) {
  <header>
    <h1>User: {{userprofile.user.username}}</h1>
  </header>
}
@if (userprofile) {
  <article>
    @if (userprofile.avatar) {
      <div class="blog-image">
        <img src="{{userprofile.avatar}}">
      </div>
    }
    @if (userprofile.bio) {
      <p>{{userprofile.bio}}</p>
    }
    @if (userprofile.website) {
      <p><b>Website: </b><a href="{{userprofile.website}}" rel="noopener" target="_blank">{{userprofile.website}}</a></p>
    }
    @if (userprofile.user.blog_set) {
      <div>
        <h2>Pages Edited ({{userprofile.user.blog_set.length}})</h2>
        <ul>
          @for (b of userprofile.user.blog_set; track b) {
            <li>
              @if (b.secfull) {
                <span>{{b.secfull}}: </span>
                }@if (!b.secfull) {
                <span>Main: </span>
              }
              <a routerLink="/{{b.secname}}/{{b.slug}}">{{b.title}}</a>
            </li>
          }
        </ul>
      </div>
    }
  </article>
}